<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>MM - All Blogs</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="cleanblog/css/clean-blog.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'> <!--Let this be http-->
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    

</head>
<% getDate = function(x) {
            var retDate;
            MM = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 
              10:"October", 11:"November", 12:"December"};

            xx = x.replace(
                  /(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2}).(\d{3})Z/,
                  function($1,$2,$3,$4,$5,$6,$7, $8){                      
                      retDate= MM[parseInt($3)]+" "+$4+", "+$2
                  }
                ); 
            return retDate;
        }
%> 
<body>
    
    
    <% if(typeof user != 'undefined' && user!=null) { %>
      <div id = "headerloggedin"> </div>
    <% } else { %>
      <div id = "headerloggedout"></div>
    <%}%> 
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <div id="blog-row-1" style="margin-bottom: 25px;">
     
    </div>

    <!-- Main Content -->
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-0 col-md-10 col-md-offset-0">

            <%for (var i =0; i < allposts.length; i++) { %>
             
              
              <% var details=""; var blogLink = ""; var authorName=""; authorpic=""; %>
                     
                        <% if (typeof allposts[i].blogPost.postBody !='undefined') {
                        details = allposts[i].blogPost.postBody;
                      } else  {
                        details=""; 
                      }  %>
                        <div class="thread" id="divallthreads" style="text-align:left;color:rgb(73, 74, 77);">
                            <% var userPicture, username, fbLink 
                            var displayableDate = "";
                            var isodateString = allposts[i].blogPost.date.toISOString();
                            displayableDate = getDate(isodateString) 
                            authorpic = allposts[i].blogPost.authorPic
                            authorName = allposts[i].blogPost.authorName
                            var blogImage ="";
                            if(typeof allposts[i].blogPost.myPhotos != 'undefined' && allposts[i].blogPost.myPhotos.length > 0) {
                                blogImage = allposts[i].blogPost.myPhotos[0]
                            } 
                            var authorid = allposts[i].blogPost.authorid

                            %>
                           <div style="color:rgb(73, 74, 77);">
                         
                                
                                <a href="/displayBlogPost?blogpostid=<%=allposts[i]._id%>" title="click to view the Blog" rel="bookmark" style="color:rgb(73, 74, 77);"><% if(blogImage != "") { %>
                                  <img src="/blog/<%=authorid%>/pictures/<%=blogImage%>" style="height:200px;width:100%;"> 
                                 <% } else { %>
                                  <img src="/images/blogDefault.jpg" style="height:200px;width:100%;">
                                 <% } %> 
                                <h4><%=allposts[i].blogPost.postTitle%></h4></a>     
                                <h5><small style="color:rgb(73, 74, 77);">Blog posted by
                                    <% if(username != "") { %>
                                      <span class='user'><a style="color:rgb(73, 74, 77);" href="/profile?fbId=<%=allposts[i].blogPost.authorid%>" title='view users profile'><%=authorName%></a></span>
                                    <% } else { %>  
                                      <span class='user'><a style="color:rgb(15, 62, 201);" href="/profile?fbId=<%=allposts[i].blogPost.authorid%>" title='view users profile'>a member</a></span>
                                    <% } %>on <b><%=displayableDate%></b>
                                </small></h5>    
                            </div>
                       </div>
                       <hr/>
            <% } %>
                
               
                
                
                
                <!-- Pager -->
                <!--<ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>-->
            </div>

            <!-- Blog Sidebar Widgets Column -->
            <div class="row">
                <div class="col-lg-4 col-md-2">

                    <!-- Blog Search Well -->
                    <div style="padding-top:25px">
                        <div class="well" style="">
                            <h4 style="font-size:16px;">Blog Search</h4>
                            <div class="input-group">
                                <input type="text" class="form-control" style="height:52px" id="search">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="submit" onclick="searchPosts()">
                                            <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div> 
            </div>

        </div>
    </div>

    <hr>

    

    <!-- Footer -->
    <div id = "footer"></div>

    <!-- jQuery -->
    <script src="/cleanblog/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/cleanblog/js/bootstrap.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/cleanblog/js/clean-blog.min.js"></script>

    <script>
    $("#footer").load("footer.ejs"); 
    $("#headerloggedin").load("/header");
    $("#headerloggedout").load("headerloggedout.ejs");
    function searchPosts(){
        console.log("Searching");

        var data = {
            search: $("#search").val(),
            option: null
          };

          //console.log(checkBoxes);
          console.log(data);

          $.ajax({ 
           url: "/searchBlogPosts",
           type: "POST",
           cache: false, 
           async: true,
           data: data,

           success: function(data){
              console.log('Success!');
              
              if(data.completed == "OK") {
                console.log("OK");
                window.location.href = data.redirect
                //generateNotificationLayout('success', 'topCenter', 'Post published');
              } else {
                console.log("NOK");
                //generateNotificationLayout('error', 'topCenter', 'Some problem with your post. Check fields again');
              }
           }, 

           error: function(jqXHR, textStatus, err){
               console.log('text status '+textStatus+', err '+err);
               //generateNotificationLayout('error', 'topCenter', 'Some problem with your email. Check fields again');
           }
        }); //end of ajax function
    };
  

 </script>
</body>

</html>
