
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/dropdowns-enhancement.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/dropdowns-enhancement.js"></script>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <link href="css/style.css" rel="stylesheet">       
        <link href="css/tab.css" rel="stylesheet">
  </head>
  
<body>


<% if(user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout">
<%}%> 

<div class = "main-container">
  <!--<div class="col-md-12" style = "text-align: center;">
    <h3 class = "thtrexplore">
      EXPLORE. CONNECT. CONTRIBUTE.
     </h3>
  </div>-->
  <% getDate = function(x) {
           var oneDay = 24*60*60*1000;
           var diffDays = Math.round(Math.abs((new Date().getTime() - x)/(oneDay))); 
           var diffDaysinStr;
           if (diffDays == 0)  {
            diffDaysinStr = "today" 
           } else if(diffDays == 1) {
            diffDaysinStr = "yesterday"
           } else { 
            diffDaysinStr = diffDays + " days ago"
           }
           return diffDaysinStr;

        }
    %>
  <div class="col-md-12" style = "text-align: center;" id = "searchposts" style="display:none;">
    <h3>
      VIEW ALL POSTS
     </h3>
     
       <div class="row">    

          <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement id="citySel"></button>
              <button type ="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <% var cities = dropdowns.alldropdowns.citiesForPost;
                    for(var i = 0; i < cities.length; i ++) {   %>
                      <li><input class = "citycheck" type="checkbox" id="<%=cities[i].city%>" name="city" value="<%=cities[i].city%>" onchange="filterme()"><label for="<%=cities[i].city%>"><%=cities[i].text%></label></li>
                    <% } %>  
<!--                   <li><input class = "citycheck" type="checkbox" id="Bengaluru" name="city" value="Bengaluru" onchange="filterme()"><label for="Bengaluru">Bengaluru</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Chennai" name="city" value="Chennai" onchange="filterme()"><label for="Chennai">Chennai</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Delhi" name="city" value="Delhi" onchange="filterme()"><label for="Delhi">Delhi</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Mumbai" name="city" value="Mumbai" onchange="filterme()"><label for="Mumbai">Mumbai</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Kolkata" name="city" value="Kolkata" onchange="filterme()"><label for="Kolkata">Kolkata</label></li> -->

                  
                  <input type="hidden" name="selectedcity" id="selected" value="">
              </ul>
          </div>
          <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement onchange="filterme()" id = "artistSel"></button>
              <button type ="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" onchange="filterme()"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <% var roles = dropdowns.alldropdowns.rolesForPost;
                    for(var i = 0; i < roles.length; i ++) {   %>
                      <li><input class = "artistscheck" type="checkbox" id="<%=roles[i].role%>" name="role" value="<%=roles[i].role%>" onchange="filterme()"><label for="<%=roles[i].role%>"><%=roles[i].text%></label></li>
                    <% } %>
                  <!-- <li><input class = "artistscheck" type="checkbox" id="Actor" name="role" value="Actor" onchange="filterme()"><label for="Actor">Actor</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Director" name="role" value="Director" onchange="filterme()"><label for="Director">Director</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Lights" name="role" value="Lights" onchange="filterme()"><label for="Lights">Lights Designer</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Sound" name="role" value="Sound" onchange="filterme()"><label for="Sound">Sound</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Music" name="role" value="Music" onchange="filterme()"><label for="Music">Music</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Scriptwriter" name="role" value="Scriptwriter" onchange="filterme()"><label for="Scriptwriter">Scriptwriter/Translator</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="CostumeDesign" name="role" value="Costume" onchange="filterme()"><label for="CostumeDesign">Costume Designer</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="SetDesign" name="role" value="SetDesign" onchange="filterme()"><label for="SetDesign">Set Design</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Props" name="role" value="Props" onchange="filterme()"><label for="Props">Props</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="RehearsalSpace" name="role" value="RehearsalSpace" onchange="filterme()"><label for="RehearsalSpace">Rehearsal Space</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="backstageSupport" name="role" value="BackStage" onchange="filterme()"><label for="backstageSupport">Backstage support</label></li> -->
              </ul>
          </div>
          <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement id = "languageSel"></button>
              <button type ="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <% var languages = dropdowns.alldropdowns.languages;
                    for(var i = 0; i < languages.length; i ++) {   %>
                      <li><input class = "langcheck" type="checkbox" id="<%=languages[i]%>" name="lang" value="<%=languages[i]%>" onchange="filterme()"><label for="<%=languages[i]%>"><%=languages[i]%></label></li>
                  <% } %>
                  <!-- <li><input class = "langcheck" type="checkbox" id="Hindi" name="lang" value="Hindi" onchange="filterme()"><label for="Hindi">Hindi</label></li>
                  <li><input class = "langcheck" type="checkbox" id="Kannada" name="lang" value="Kannada"onchange="filterme()"><label for="Kannada">Kannada</label></li>
                  <li><input class = "langcheck" type="checkbox" id="Marathi" name="lang" value="Marathi"onchange="filterme()"><label for="Marathi">Marathi</label></li>
                  <li><input class = "langcheck" type="checkbox" id="Bengali" name="lang" value="Bengali"onchange="filterme()"><label for="Bengali">Bengali</label></li>
                  <li><input class = "langcheck" type="checkbox" id="Tamil" name="lang" value="Tamil"onchange="filterme()"><label for="Tamil">Tamil</label></li>
                  <li><input class = "langcheck" type="checkbox" id="English" name="lang" value="English"onchange="filterme()"><label for="English">English</label></li> -->
              </ul>
          </div>
          <div class="btn-group">
            <button type ="button" class="btn btn-primary" data-label-placement onclick = "uncheckAll()">CLEAR ALL</button>
          </div>
           
      </div>
    
    
    <div class="row col-md-8 col-md-offset-2">
    
        
      <div>
        
        <div class="table-responsive">

                
               <table id="mytable" style="display:none;">
                <thead>
                    <tr>
                        <th class ="ardate">Posted</th>
                        <th class ="arname">Looking for</th>
                        <th class ="arrole">Artists needed</th>
                        <th class ="arcity">City or cities</th>
                        <th class ="arlang">Comfortable in these languages</th>
                        <th class ="arview">View full details</th>
                       
                    </tr>
                </thead>
                <tbody class="searchable">
                  
                  <% console.log("length of post is " + allposts.length)
                  for(var i=0; i < allposts.length; i++) { 
                      console.log("user.post.length is " + allposts.length);
                      %>
                      <% var displayableDate = getDate(allposts[i].post.date.getTime()) %>
                    <tr>
                      <td ><%= displayableDate %></td>
                      <td ><%= allposts[i].post.postTitle %></td>
                      <td ><%= allposts[i].post.role %></td>
                      <td ><%= allposts[i].post.city %></td>
                      <td ><%= allposts[i].post.lang %></td>
                      <!-- <form action="/viewpost" method="GET"> -->
                        <td style = "text-align:center;"><a href="/viewpost?postid=<%=allposts[i]._id%>" id ="view" name="<%=allposts[i]._id%>"> <span class="glyphicon glyphicon-info-sign"></span></a></td>
                        <input name="postid"  type="hidden" value=<%=allposts[i]._id%>>

                      <!-- </form>   -->
                            

                    </tr>
                  <% } %>
                    
                    
                    
                </tbody>
              </table>
 
                
        </div>
    </div>
  </div>
 </div>
</div>  

         

   <!-- footer starts-->
<div id="footer"></div>
   <div class="modal fade col-lg-12" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="open-ViewDialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <input type="hidden" name="vewPostTitle" id="vewPostTitle" value=""/>

              <h4 class="modal-title" id="myModalLabel">Post details</h4>
            </div>
            <div class="modal-body">

              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Post Title:</label>
                      <div class="col-sm-8">
                        <div >
                          <label>
                              <p id = "viewPostTitle" class="form-control-static"></p>
                          </label>
                        </div>
                      </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Post Detail:</label>
                      <div class="col-sm-8">
                        <div >
                          <label>
                              <p id = "viewPostDesc" class="form-control-static"></p>
                          </label>
                        </div>
                      </div>
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>

    
   <!-- footer ends-->

    <script type="text/javascript">
    $("#footer").load("footer.ejs"); 
    $("#headerloggedin").load("/header");
    $("#headerloggedout").load("headerloggedout.ejs");
    var selectCity = "Select City";
    var selectRole = "Select the need";
    var selectLang = "Language comfortability";
    var filterTable;
    $(document).ready(function(){
      $('button[id="citySel"]').html(selectCity);
      $('button[id="artistSel"]').html(selectRole);
      $('button[id="languageSel"]').html(selectLang);
      
      filterTable=$('#mytable').DataTable( {
        "order": [[ 0, "desc" ]],
        stateSave: true
      });
      $('#mytable').show();
      $('#searchposts').show();
    });


function filterme() {
        var colCity = $('.arcity').index();
        var colRole = $('.arrole').index();
        var colLang = $('.arlang').index();

        //build a regex filter string with an or(|) condition
        var cities = $('input:checkbox[name="city"]:checked').map(function() {

          return this.value + '*';
        }).get().join('|');
        
        filterTable
          .columns( colCity )
          .search( cities, true, false,false )
          .draw();

        //build a regex filter string with an or(|) condition
        var roles = $('input:checkbox[name="role"]:checked').map(function() {

          return this.value + '*';
        }).get().join('|');
      
        filterTable
        .columns( colRole )
        .search( roles, true, false,false )
        .draw();

        //build a regex filter string with an or(|) condition
        var lang = $('input:checkbox[name="lang"]:checked').map(function() {
          return this.value + '*';
        }).get().join('|');
      
        filterTable
        .columns( colLang )
        .search( lang, true, false,false )
        .draw();
 
    }

    function uncheckAll(){
      //alert("here");
      $('input[type="checkbox"]:checked').prop('checked',false);
      $('button[id="citySel"]').html(selectCity);
      $('button[id="artistSel"]').html(selectRole);
      $('button[id="languageSel"]').html(selectLang);
     filterme();
    }
 
 
  
  

  function callPostView(postTitle, description) {
        $('#myModal').modal().show();
        var title = document.getElementById('viewPostTitle');
        title.innerHTML = postTitle;
        var desc = document.getElementById('viewPostDesc');
        var postDesc;
        var arryDesc = description;
        desc.innerHTML = description;

    }


$(function(){
      // $('select[value]').each(function(){
      //   $(this).val(this.getAttribute("value"));
      // });
      var roleInitValues = ""
      var langInitValues = ""
      var cityInitValues = ""
      var values_city = "Select City";
      var values_role = "Select the need";
      var values_lang = "Language comfortability";

      <% if(typeof rolearr != 'undefined' && rolearr.length != 0) {%>
        values_role = '<%=rolearr%>';
        roleInitValues = values_role.split(",");
      <% } %> 

      <% if(typeof langarr != 'undefined' && langarr.length != 0) {%>
        values_lang = '<%=langarr%>';
        langInitValues = values_lang.split(",");
      <% } %>  

      <% if(typeof cityarr != 'undefined' && cityarr.length != 0) {%>
        values_city = '<%=cityarr%>';
        cityInitValues = values_city.split(",");
      <% } %>  


        
      $('input[name=role][type=checkbox]').each(function(){
        
        $(this).prop("checked", ($.inArray($(this).val(), roleInitValues) != -1));

     });

      $('input[name=lang][type=checkbox]').each(function(){
        
        $(this).prop("checked", ($.inArray($(this).val(), langInitValues) != -1));

     });

      $('input[name=city][type=checkbox]').each(function(){
        
        $(this).prop("checked", ($.inArray($(this).val(), cityInitValues) != -1));

     });
      filterme();
      $('button[id="citySel"]').html(values_city);
      $('button[id="artistSel"]').html(values_role);
      $('button[id="languageSel"]').html(values_lang);
  });    
    
    </script>
  </body>
</html>
