
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/dropdowns-enhancement.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/dropdowns-enhancement.js"></script>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <link href="css/style.css" rel="stylesheet">       
        <link href="css/tab.css" rel="stylesheet">
  </head>
  
<body>


<% if(user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout">
<%}%> 

<div class = "main-container">
  <div class="col-md-12 no-margin no-padding" style = "text-align: center;">
    <h3 class = "thtrexplore">
      EXPLORE. CONNECT. CONTRIBUTE.
     </h3>
  </div>
  <div class="col-md-12 no-margin no-padding" style = "text-align: center;" id = "searchartists">
    <h3>
      VIEW ALL POSTS
     </h3>
     
       <div class="row">    
            <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-placeholder="false" data-label-placement>Date when posted</button>
              <button type ="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><input class = "dateCheck" type="checkbox" id="date" name="date" value="oneweek"><label for="Actor">In the last one week</label></li>
                  <li><input class = "dateCheck" type="checkbox" id="date" name="date" value="twoweeks"><label for="Lights">In the last two weeks</label></li>
                  <li><input class = "dateCheck" type="checkbox" id="date" name="date" value="onemonth"><label for="Lights">In the last one month</label></li>
                  <li><input class = "dateCheck" type="checkbox" id="date" name="date" value="beforeonemonth"><label for="Lights">Before one month</label></li>
                  
              </ul>
           </div>
          <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement data-placeholder="false">Select City</button>
              <button type ="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><input class = "citycheck" type="checkbox" id="Bengaluru" name="city" value="Bengaluru" onchange="filterme()"><label for="Bengaluru">Bengaluru</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Chennai" name="city" value="Chennai" onchange="filterme()"><label for="Chennai">Chennai</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Delhi" name="city" value="Delhi" onchange="filterme()"><label for="Delhi">Delhi</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Mumbai" name="city" value="Mumbai" onchange="filterme()"><label for="Mumbai">Mumbai</label></li>
                  
                  <input type="hidden" name="selectedcity" id="selected" value="">
              </ul>
           </div>
           <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement data-placeholder="false" onchange="filterme()">Select Artists</button>
              <button type ="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" onchange="filterme()"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><input class = "artistscheck" type="checkbox" id="Actor" name="role" value="Actor" onchange="filterme()"><label for="Actor">Actor</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Lights" name="role" value="Lights" onchange="filterme()"><label for="Lights">Lights</label></li>

              </ul>
           </div>
           <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement data-placeholder="false">Language comfortability</button>
              <button type ="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><input class = "langcheck" type="checkbox" id="Hindi" name="lang" value="Hindi" onchange="filterme()"><label for="Hindi">Hindi</label></li>
                  <li><input class = "langcheck" type="checkbox" id="Kannada" name="lang" value="Kannada" onchange="filterme()"><label for="Kannada">Kannada</label></li>
                  <li><input class = "langcheck" type="checkbox" id="Bengali" name="lang" value="Bengali"onchange="filterme()"><label for="Bengali">Bengali</label></li>
                  <li><input class = "langcheck" type="checkbox" id="English" name="lang" value="English" onchange="filterme()"><label for="English">English</label></li>

              </ul>
           </div>
            <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement onclick = "uncheckAll()">CLEAR ALL</button>
           </div>
           
      </div>
    
    <div class="row col-md-8 col-md-offset-2">
    
        
      <div>
        
        <div class="table-responsive">

                
               <table id="mytable" class="table table-striped">
                <thead>
                    <tr>
                        <th>Posted On</th>
                        <th>Looking for</th>
                        <th>Artists needed</th>
                        <th>City or cities</th>
                        <th>Comfortable in these languages</th>
                        <th>View</th>
                    </tr>
                </thead>
                <tbody class="searchable">
                  
                  <% console.log("length of post is " + allposts.length)
                  for(var i=0; i < allposts.length; i++) { 
                      console.log("user.post.length is " + allposts.length);
                      %>
                    <tr>
                      <td class ="ardate"><%= allposts[i].date %></td>
                      <td class ="arname"><%= allposts[i].postTitle %></td>
                      <td class ="arrole"><%= allposts[i].role %></td>
                      <td class ="arcity"><%= allposts[i].city %></td>
                      <td class ="arlang"><%= allposts[i].lang %></td>
                      <form action="/viewpost" method="POST">
                      <td><p data-placement="top" data-toggle="tooltip" title="View"><button id = "view"><span class="glyphicon glyphicon-info-sign"></span></button></p></td>
                      <input name="_id"  type="hidden" value=<%=user._id%>>
                      <input name="_postid"  type="hidden" value=<%=allposts[i]._id%>>
                      </form>
                    </tr>
                  <% } %>
                    
                    
                    
                </tbody>
              </table>
 
                
        </div>
    </div>
  </div>
 </div>
</div>  

         

   <!-- footer starts-->
<footer class="site-footer">
     <div class="container">
        <div class="bottom-footer">
              <ul class="footer-nav">
                <li><a href="p2demo.html">What are we</a></li>
                <li><a href="#">Who are we</a></li>
                <li><a href="#">Where are we</a></li>
              </ul>
        </div>
    
        <div class="cp-footer-links cpfl-social col-sm-12 text-center">
                    <ul class="list-inline">
                        <li><a href="" target="_blank"><img alt="facebook" src="images/fb.png" style="width:28px"></a></li>
                        <li><a href="" target="_blank"><img alt="linkedin" src="images/lin.png" style="width:28px"></a></li>
                        
                    </ul>
        </div>

        <div class="row cp-copyright">
            <div class="col-sm-12 col-xs-12">
                <small>&copy; 2015 | Buzz'ed Pvt. Ltd.  <br class="hidden-sm hidden-md hidden-lg" /> All Rights Reserved. <a href="/view/user-agreement">User Agreement</a> | <a href="/view/privacy">Privacy Policy</a> | <a class="pressKitLink" data-link-position="footer" href="/static/cupickpresskit.zip" target="_blank" download="cupickpresskit.zip">Press Kit</a></small>
            </div>
        </div>
      </div>  
        
  
   </footer>
    
   <!-- footer ends-->

    <script type="text/javascript">
    $("#headerloggedin").load("header.ejs");
    $("#headerloggedout").load("headerloggedout.ejs");
    var filterTable;
    $(document).ready(function(){
      
      filterTable=$('#mytable').DataTable();
    });


function filterme() {
        var colCity = $('.arcity').index();
        var colRole = $('.arrole').index();
        var colLang = $('.arlang').index();
       
        //build a regex filter string with an or(|) condition
        var cities = $('input:checkbox[name="city"]:checked').map(function() {

          return '^' + this.value + '$';
        }).get().join('|');
        
        filterTable
          .columns( colCity )
          .search( cities, true, false,false )
          .draw();

        //build a regex filter string with an or(|) condition
        var roles = $('input:checkbox[name="role"]:checked').map(function() {

          return this.value + '*';
        }).get().join('|');
      
        filterTable
        .columns( colRole )
        .search( roles, true, false,false )
        .draw();

        //build a regex filter string with an or(|) condition
        var lang = $('input:checkbox[name="lang"]:checked').map(function() {
          return this.value + '*';
        }).get().join('|');
      
        filterTable
        .columns( colLang )
        .search( lang, true, false,false )
        .draw();
 
    }

    function uncheckAll(){
      //alert("here");
      $('input[type="checkbox"]:checked').prop('checked',false);
     filterme();
    }
 
 
  
  $(document).ready(function(){
            $('[id=searchartists]').on("keyup", function(){
              
                        
                        var rex = new RegExp($(this).val(), 'i');
                        $('.searchable tr').hide();
                        $('.searchable tr').filter(function () {
                            return rex.test($(this).text());
                        }).show();
                    //})
            });
  }(jQuery));


// $(function(){
//       $('select[value]').each(function(){
//         $(this).val(this.getAttribute("value"));
//       });
     
//       var values_role = '<%=rolearr%>';
//       var roleInitValues = values_role.split(",");

//       var values_lang = '<%=langarr%>';
//       var langInitValues = values_lang.split(",");

//       var values_city = '<%=cityarr%>';
//       var cityInitValues = values_city.split(",");


        
//       $('input[name=role][type=checkbox]').each(function(){
        
//         $(this).prop("checked", ($.inArray($(this).val(), roleInitValues) != -1));

//      });

//       $('input[name=lang][type=checkbox]').each(function(){
        
//         $(this).prop("checked", ($.inArray($(this).val(), langInitValues) != -1));

//      });

//       $('input[name=city][type=checkbox]').each(function(){
        
//         $(this).prop("checked", ($.inArray($(this).val(), cityInitValues) != -1));

//      });
//   });    
    
    </script>
  </body>
</html>
