<!DOCTYPE html>
<html>
  <head>
   
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
        
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/dropdowns-enhancement.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/dropdowns-enhancement.js"></script>
        <link href="css/style.css" rel="stylesheet">       
        <link href="css/tab.css" rel="stylesheet">
        <link rel="stylesheet" href="css/font-awesome.min.css">

    </head>

  

<body>
     

 <% if(typeof user != 'undefined' && user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout"></div>
  <%}%> 
  <% console.log("user.local.privelege " + user.local.privelege) %>

<div class = "main-container">
    <!--<div class="col-md-12" style = "text-align: center;">
    <h3 class = "thtrexplore">
      EXPLORE. CONNECT. CONTRIBUTE.
     </h3>
  </div>-->
  <% if (typeof user.local.privelege == 'undefined' || user.local.privelege == "somebody") { %>
  <h2 class="black-heading" style="text-align:center">Contact Artists</h2>
  <h3 style="text-align:center"><u>Contacting artists requires authorization from us</u></h3>
  <div class = "artistsCheck">
    <div class = "authmessage">
      <p style="text-align:center"><strong> You can browse artists but to contact you need to have <strong><b><u>an authorization from us</u></b></strong></p>
      <p style="text-align:center"> Call us on any of the phone numbers given below(in the footer), get yourself verified as someone really looking for a theatre production or something similar. </p>
      <p style="text-align:center">Once our team verifies, we grant you the role to access this feature. Come back to the same page and you can query artists on their emails and contact them.</p> 
      <p style = "text-align:center">If an artist has not shared their email, you wont be able to retrieve that. </p>
    </div>  
  </div>  
  <%} else { %>
  <div class="col-md-12 no-margin no-padding" style = "text-align: center;" id = "searchartists">
    <h3>
      CONTACT ARTISTS
     </h3>
     
       <div class="row">    
          <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement id="citySel"> </button>
              <button type ="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <% var cities = dropdowns.alldropdowns.citiesForPost;
                    for(var i = 0; i < cities.length; i ++) {   %>
                      <li><input class = "citycheck" type="checkbox" id="<%=cities[i].city%>" name="city" value="<%=cities[i].city%>"><label for="<%=cities[i].city%>"><%=cities[i].text%></label></li>
                    <% } %> 
                 <!--  <li><input class = "citycheck" type="checkbox" id="Bengaluru" name="city" value="Bengaluru" ><label for="Bengaluru">Bengaluru</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Chennai" name="city" value="Chennai" ><label for="Chennai">Chennai</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Delhi" name="city" value="Delhi" ><label for="Delhi">Delhi</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Mumbai" name="city" value="Mumbai" ><label for="Mumbai">Mumbai</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Kolkata" name="city" value="Kolkata" ><label for="Kolkata">Kolkata</label></li>
                   -->
                  <input type="hidden" name="selectedcity" id="selected" value="">
              </ul>
           </div>
           <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement id = "artistSel"></button>
              <button type ="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" ><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <% var roles = dropdowns.alldropdowns.rolesForSearch;
                    for(var i = 0; i < roles.length; i ++) {   %>
                      <li><input class = "artistscheck" type="checkbox" id="<%=roles[i].role%>" name="role" value="<%=roles[i].role%>"><label for="<%=roles[i].role%>"><%=roles[i].text%></label></li>
                    <% } %>
                  <!-- <li><input class = "artistscheck" type="checkbox" id="Actor" name="role" value="Actor" ><label for="Actor">Actor</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Director" name="role" value="Director" ><label for="Director">Director</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Lights" name="role" value="Lights" ><label for="Lights">Lights Designer</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Sound" name="role" value="Sound" ><label for="Sound">Sound</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Music" name="role" value="Music" ><label for="Music">Music</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Scriptwriter" name="role" value="Scriptwriter" ><label for="Scriptwriter">Scriptwriter/Translator</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="CostumeDesign" name="role" value="Costume" ><label for="CostumeDesign">Costume Designer</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="SetDesign" name="role" value="SetDesign" ><label for="SetDesign">Set Design</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="AllRoles" name="allRole" value="AllRoles"><label for="AllRoles">Any role</label></li> -->
              </ul>
           </div>
           <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement  id = "languageSel"></button>
              <button type ="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <% var languages = dropdowns.alldropdowns.languages;
                    for(var i = 0; i < languages.length; i ++) {   %>
                      <li><input class = "langcheck" type="checkbox" id="<%=languages[i]%>" name="lang" value="<%=languages[i]%>"><label for="<%=languages[i]%>"><%=languages[i]%></label></li>
                  <% } %>
                 <!--  <li><input class = "langcheck" type="checkbox" id="Hindi" name="lang" value="Hindi" ><label for="Hindi">Hindi</label></li>
                  <li><input class = "langcheck" type="checkbox" id="Kannada" name="lang" value="Kannada"><label for="Kannada">Kannada</label></li>
                  <li><input class = "langcheck" type="checkbox" id="Marathi" name="lang" value="Marathi"><label for="Marathi">Marathi</label></li>
                  <li><input class = "langcheck" type="checkbox" id="Bengali" name="lang" value="Bengali"><label for="Bengali">Bengali</label></li>
                  <li><input class = "langcheck" type="checkbox" id="Tamil" name="lang" value="Tamil"><label for="Tamil">Tamil</label></li>
                  <li><input class = "langcheck" type="checkbox" id="English" name="lang" value="English"><label for="English">English</label></li>
                 <li><input class = "langcheck" type="checkbox" id="AllLanguages" name="allLang" value="AllLanguages"><label for="AllLanguages">Doesn't matter</label></li> -->
              </ul>
           </div>
           <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement onclick = "uncheckAll()">CLEAR ALL</button>
           </div>

            <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement onclick = "getEmail()">GET EMAIL IDs</button>
           </div>
           
      </div>
      <br>
      <label class="control-label" for="textarea">Email ids based on your query</label>
        
          <div class="controls">                
        
            <textarea id="emailDisplayField" name="emailDisplayField" style="width:60%;min-height:300px;" readonly rows=6></textarea>
        
          
          </div>
      </div>  
     
  <div class="container"> 
      <!-- <div class="form-group">
        <label class="col-md-4 control-label" for="singlebutton"></label>
        <div class="col-md-4 center-block">
          <button id="singlebutton" name="singlebutton" class="btn btn-primary center-block">
              Send Mails!
          </button>
        </div>  
      </div> -->

      <!-- button to trigger modal -->
      <div style="text-align:center">
        <a href="#myModal" role="button" class="btn btn-primary" data-toggle="modal" id="emailArt" name="emailArt" disabled>Email Artists! </a>
      </div>
      <!-- Modal -->
      
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      
        <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Contact Form</h4>
        </div>
        <div class="modal-body">
            <form class="form-horizontal" name="commentform" method="post" action = "/sendMailsToArtists">
                <div class="form-group">
                    <label class="control-label col-md-4" for="first_name">Your Name</label>
                    <div class="col-md-6">
                      <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Your full name"/>
                    </div>
                </div>
                <!--<div class="form-group">
                    <label class="control-label col-md-4" for="last_name">Your Last Name</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="Your Last Name"/>
                    </div>
                </div>-->
                <div class="form-group">
                    <label class="control-label col-md-4" for="email">Your Email Address</label>
                    <div class="col-md-6 input-group">
                    <span class="input-group-addon">@</span>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Your Email Address"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="comment">To</label>
                    <div class="col-md-6">
                        <textarea rows="6" class="form-control" id="toArtists" name="toArtists"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-4" for="comment">Email Body</label>
                    <div class="col-md-6">
                        <textarea rows="6" class="form-control" id="comments" name="comments" placeholder="Please type the e-mail here, we will send it to all artists you selected.."></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <input type="hidden" name="bcc_Emails" id="bcc_Emails"/>
                </div>
                <div class="form-group">
                    <div class="col-md-6">
                        <button type="submit" value="Submit" class="btn btn-custom pull-right" id="send_btn">Send</button>
                    </div>
                </div>

            </form>
        </div><!-- End of Modal body -->
        </div><!-- End of Modal content -->
        </div><!-- End of Modal dialog -->

    </div><!-- End of Modal --> 

    </div><!-- End of container -->

<script>
    /*$('#send_btn').click(function(e) {
        this.disabled = true;

        var data={
            first_name: $('#first_name').val(),
            last_name: $('#last_name').val(),
            email: $('#email').val(),
            comments: $('#comments').val()
            }

             $.ajax({ 
           url: '/sendMailsToArtists',
           type: 'POST',
           cache: false, 
           data: data

           success: function(data){
              alert('Success!')
              console.log("This is executing");
           }
           , error: function(jqXHR, textStatus, err){
               alert('text status '+textStatus+', err '+err)
           }
        });

      return false;


    });*/
$('#send_btn').popover({content: 'Mail Sent!'},'click');
 
</script>

<% } %>
</div>  


<div id = "footer"></div>

<script type="text/javascript">
     $("#footer").load("footer.ejs"); 
    $("#headerloggedin").load("/header");
    $("#headerloggedout").load("headerloggedout.ejs");
    var filterTable;
    var selectCity = "Select City";
    var selectRole = "Select Artists/Audience";
    var selectLang = "Language comfortability";

    function getEmail() {
        var roles, lang;
        //var buttonEmailArt = document.getElementbyId("emailArt");
       
        var selectedCitiesValue, selectedLangValue, selectedRoleValue;
        // //build a regex filter string with an or(,) condition
        var cities = $('input:checkbox[name="city"]:checked').map(function() {
           return this.value;
         }).get().join(',');
        selectedCitiesValue = cities;

        if(cities == "") {
         //  cities = $('input:checkbox[name="city"]').map(function() {
         //   return this.value;
         // }).get().join(',');
          
          selectedCitiesValue = "All Cities"
        }
        //alert("cities " + cities);
       

        // //build a regex filter string with an or(,) condition
        roles = $('input:checkbox[name="role"]:checked').map(function() {
          return this.value;
          }).get().join(',');
        //}
        selectedRoleValue = roles;

        if(roles == "") {
          // roles = $('input:checkbox[name="role"]').map(function() {
          //   return this.value;
          // }).get().join(',');
          
          selectedRoleValue = "All roles selected"
        }
        
        //alert(" roles " + roles);
      
        

        // //build a regex filter string with an or(,) condition
        // if($('#AllLanguages').prop('checked')) {
        //   lang = $('input:checkbox[name="lang"]').map(function() {
        //     return this.value;
        //   }).get().join(',');
        // } else {
        lang = $('input:checkbox[name="lang"]:checked').map(function() {
            return this.value;
          }).get().join(',');
        //}  
        selectedLangValue = lang;

        if(lang == "") {
          // lang = $('input:checkbox[name="lang"]').map(function() {
          //   return this.value;
          // }).get().join(',');
          
          selectedLangValue = "All Languages";
        }
        //alert("lang " + lang);

        $.ajax({
            url: "/getEmails",
            type: "POST",
            data: { cities: cities, roles: roles, lang:lang },
            success: function (data) {
                console.log("retrieved email ids " + data.selectedEmails);
                if(data.selectedEmails.length == 0 ) {
                  $("#emailDisplayField").val("City selected :" + selectedCitiesValue + "\n" + 
                                               "Roles selected :" + selectedRoleValue + "\n" +
                                               "Languages selected :" + selectedLangValue + "\n" +
                                               "Email privacy value : true " + "\n" +
                                               "No Data retrieved. Check your query again. If its happening repeatedly, do inform us.");
                } else {
                  $("#emailDisplayField").val("City selected :" + selectedCitiesValue + "\n" + 
                                               "Roles selected :" + selectedRoleValue + "\n" +
                                               "Languages selected :" + selectedLangValue + "\n" +
                                               "Email privacy value : true " + "\n" + 
                                               "Count of email ids found : " + data.selectedEmails.length + "\n" + 
                                               "Email ids based on above query : " + data.selectedEmails);
                  $("#bcc_Emails").val(data.selectedEmails);

                  //buttonEmailArt.disabled = false;
                  $("#emailArt").attr("disabled", false);
                  $("#toArtists").attr("rows", (data.selectedEmails.length)+1);
                  $("#toArtists").attr("placeholder", data.selectedEmails).val("").focus().blur();
                }
            },
            error: function (data) {
                console.log("some error " + data);
            }
            
        });
       
    }

    function clearModal(elementID){
      console.log("Cleared!");
      document.getElementbyId(elementID).innerHTML = "";
    }

    function uncheckAll(){
      $('input[type="checkbox"]:checked').prop('checked',false);
      $('button[id="citySel"]').html(selectCity);
      $('button[id="artistSel"]').html(selectRole);
      $('button[id="languageSel"]').html(selectLang);
      
    }
    
   $(document).ready(function(){
      $('button[id="citySel"]').html(selectCity);
      $('button[id="artistSel"]').html(selectRole);
      $('button[id="languageSel"]').html(selectLang);

    });
    </script>
  </body>
</html>