 <nav class="navbar navbar-inverse navbar-static-top no-margin">
  <div class="container-fluid">
    

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                data-target="#bs-project2-navbar-collapse-1" style = "outline: 0px none;">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home" style = "color: #FBF7F7; font-size: 20px;"><img src ="images/MotleyMeow-logo02.gif" style="max-width:200px;max-height:200px;"> </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-project2-navbar-collapse-1">
            
                <ul class="nav navbar-nav" id="headerlist" style="font-size:16px;">
                  <li class="active"><a href="/home">Home <span class="sr-only">(current)</span></a></li>
                   <li><a href="/profile?fbId=<%=user.facebook.id%>">View your profile <span class="sr-only">(current)</span></a></li>
                   <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Posts</a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="#postModal" data-toggle="modal" data-backdrop="static">Post a request<span class="sr-only">(current)</span></a></li>
                          <li ><a href="/searchPosts">Your posts<span class="sr-only">(current)</span></a></li>
                          <li><a href="/viewallposts">Browse Posts</a></li>             
                      </ul>           
                   </li>
                   
                   <li><a href="/postevents">Post event from FB <span class="sr-only">(current)</span></a></li>
                   <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse</a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="/artists">Browse Artists</a></li>
                          <li><a href="/viewallposts">Browse Posts</a></li> 
                          <li><a href="/allevents">Browse Events</a></li>            
                      </ul>           
                   </li>
                   <li ><a href="/forum">Forum<span class="sr-only">(current)</span></a></li>
                   <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog</a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="/allBlogs">View All Blogs</a></li>
                          <li><a href="/newBlogPost">New Blog Post</a></li> 
                          <li><a href="/myBlogPosts">My Blog Posts</a></li>            
                      </ul>           
                   </li>
                   <li><a href="/comingsoon">Coming soon <span class="sr-only">(current)</span></a></li>
                   <% if(typeof user.local.adminRole != 'undefined' && user.local.adminRole) { %>
                   <li><a href="/startAdministration">Administration <span class="sr-only">(current)</span></a></li>
                   <% } %>
                </ul>

            <ul class="nav navbar-right navbar-nav">           
                  <li class="dropdown">
                    <% if(typeof user.local.picture == 'undefined' || user.local.picture == "") { %>
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" style="font-size:30px;color:#CEC6C6;"></i><i class="glyphicon glyphicon-chevron-down" style = "padding-left: 10px; color: #E9E1E1;"></i></a>
                    <% } else { %>
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img id="userPic" alt="" src="<%=user.local.picture%>" style="max-height:30px;padding-bottom:0px;" class="img-circle"/><i class="glyphicon glyphicon-chevron-down" style = "padding-left: 10px; color: #E9E1E1;"></i></a>
                    <% } %>
                    <ul class="dropdown-menu">
                      <li><a href="/profile?fbId=<%=user.facebook.id%>">Profile</a></li>
                      <li><a href="/logout">Logout</a></li>
                      
                    </ul>
                  </li>
             </ul>  
          </div>
    </div>
  </nav>

<div class="modal fade" id="postModal" aria-labelledby="postModal" tabindex="-1" aria-hidden="true">  
    <div class="modal-dialog">
        <div class="modal-content" style="font-weight:300;">
            <div class="modal-header" style = "background-color: rgba(72, 58, 58, 0.08);">
                <h2 class="modal-title" style= "text-align:center;">crispost @Motleymeow</h2>
            </div>
            <div class="modal-body" style="color:black;">
              
                <form id="postSubmitForm" class="form-horizontal" action="/post" method="post">
                
                  <!-- Textarea -->
                  <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
                 <div class="control-group col-md-12">
                      <label class="control-label col-md-3" for="postTitle">Title of the post</label>
                      <div class="controls col-md-9">  
                      <% if (typeof post != 'undefined' && post!= null) { %>   
                       <input name="_postid"  type="hidden" value=<%=post._id%>>              
                        <input type="textarea" name="postTitle" id="postTitle" style="width: 60%;" value= "<%=post.post.postTitle%>"> </input>
                      <% } else { %> 
                        <input type="textarea" name="postTitle" id="postTitle" placeholder="Any event or an audition" style="width: 100%;" value=" "> </input>
                      <% } %>
                      </div>
                  </div>   
                  <div>&nbsp;</div>
                  <div>&nbsp;</div>  
                 
                  <div class="control-group col-md-12" style = "text-align:center;">
                        <label class="control-label col-md-3" for="postPics">Add Pictures</label>
                        <div class="controls col-md-9" >
                          <span class="fieldNote col-md-12" style="color:inherit;text-align:left;">Ensure that the picture is <5 MB and jpeg/jpg/png only. Image >5 MB may not respond very well</span>
                          <span class="btn btn-success fileinput-button col-md-12">
                            <i class="glyphicon glyphicon-plus"></i>
                            
                            <span>Add a single image(jpg/jpeg/png only)</span>
                              <input id = "imageForACrispPost" type="file" class = "imageUpdateField" name = "imageForACrispPost" single style="color: transparent;"/>
                            </span>
                          </span>  
                                
                           <input type="hidden" id="myPostPics" name = "myPostPics">
                           <div>&nbsp;</div>
                           <div class="progress col-md-12" style= "display:none;padding:0px;">
                                <div class="bar"></div >
                                <label class="percent">0</label >
                            </div>
                            <div class="col-md-12" >
                              <table role="presentation" id = "imageTableCrispPost" class='table table-striped'><tbody class='files'></tbody>
                              </table>
                            </div>

                            <div id="status"></div>
                        </div>    

                  </div>
                  <div>&nbsp;</div>  
                </form>
              
            </div>  
            <div class="modal-footer">
                 <span class="pull-left col-md-4 "><a href="#" onclick="redirect();" class="btn btn-success">Add more details</a></span>
                 <span class="col-md-4 "><button type="button" class="btn btn-primary" onclick="submitForPost()">SUBMIT</button></span>
                 <span class="pull-right col-md-4"><button type="button" class="btn btn-warning" data-dismiss="modal">CLOSE</button></span>
            </div>
           <script>

            function redirect() {
                window.location="/postarequest?title=" + $('#postTitle').val();
                return false;
            }    

            </script> 
        </div>
    </div>
</div>
<script src="js/jquery-validate.js"></script>
<script>
var imageIndex = 0;
var postImages =new Array();
removeThis = function(imgIndx) {
    postImages.splice($.inArray( $('#imageName' + imgIndx).val(), postImages),1);
    $('img[id=image' + imgIndx + ']').attr("src","");
    $('tr[id=div' + imgIndx + ']').remove();
    $('#myPostPics').val(postImages[0]);
}
$(document).ready(function () {
    $('input[id=imageForACrispPost]').change(function(){
        var bar = $('.bar');
        var percent = $('.percent');
        var status = $('#status');
        var imagesAdded = false;
        var dataToLoad;
        var data = new FormData();
        for (var i = 0; i < $('input[id=imageForACrispPost]')[0].files.length; i++) { 
          var fileInput = $('input[id=imageForACrispPost]')[0].files[i];
         
          var filename = fileInput.name.split('.').pop().toLowerCase();
          if (filename == 'jpg' || filename == 'jpeg' || filename == 'png') {
              var filesize=fileInput.size;
              if($("#div0").length > 0) {
                removeThis(0);
              }
              // if (filesize > 5242880) {
              //     $('#errorMsg').show();
              // } else {
               
                  imagesAdded = true;
                  data.append('image', $('input[id=imageForACrispPost]')[0].files[i]); 
             // }
          } else {
              $('#errorMsg').show();
          }
              
        }
          
        // alert(" imageAdded " + imagesAdded);
        if(!imagesAdded) {
          
          return;
        }
        $.ajax({
          url: "/addPostImagePics",
          type: "POST",
          contentType: false,
          processData: false,
          data: data,
          beforeSend: function() {
            status.empty();
            var percentVal = '0%';
            $('.progress').show();
            bar.width(percentVal);
            percent.html(percentVal);
          },
          xhr: function() {
            var xhr = new window.XMLHttpRequest();
            xhr.upload.addEventListener("progress", function(evt) {
              // alert("progress evt.loaded " + evt.loaded);
              //  alert("progress evt.total" + evt.total);
              if (evt.lengthComputable) {
                var percentComplete = evt.loaded / evt.total;
                percentComplete = parseInt(percentComplete * 100);

                bar.width(percentComplete);
                percent.html(percentComplete + "% completed");
              }
            }, false);


            xhr.upload.addEventListener("load", function(evt) {
              bar.css( "width", "100%" );
              percent.html("100% completed");
            }, false);  
            return xhr;
          },
          complete: function() {

          },
          success: function(data) {
           if(data.error) {
            // alert('Opps, something bad happened');
            return;
            }
            // /alert("data.path " + data.path.length)
            $('.progress').hide();
            if(typeof data.path != 'undefined' && data.path.length > 0) {
              for(var i = 0; i < data.path.length ; i++) {
                postImages.push(data.path[i].name);

                // $('#mypics').append("<img id=image"+i+" alt='No Image Set' style='max-width:200px;max-height:200px'></img>");
                // $("#image"+i).attr("src","tempUploads/"+data.path[i].name);
              $('#imageTable').append("<tr class='template-upload fade in' id = div" + imageIndex + " >");
              $('#div' + imageIndex).append("<td class='col-md-6'> <a href=/uploads/"+ "<%=user.facebook.id%>" + "/pictures/" + data.path[i].name + " id = mypicsa" + imageIndex + " data-lightbox='No Image set' data-title='Post pictures'>");
              $('#mypicsa' + imageIndex).append("<img id=image"+imageIndex + " src = /uploads/" + "<%=user.facebook.id%>" + "/pictures/" +data.path[i].name + " alt='No Image Set' style='max-width:200px;max-height:200px' ></img></a></td>");
              $('#div' + imageIndex).append("<td class = 'col-md-6'> <button class='btn btn-warning cancel' id=deleteImage" + imageIndex + " onclick='removeThis("+ imageIndex +");return false;'><i class='glyphicon glyphicon-ban-circle'></i><span>Remove this image</span></button> </td></tr>");
                $('#mypics').append("</div>");
              }
            }
            $('#myPostPics').val(postImages[0]);
          },
          error: function() {
            console.log('process error');
          },
        });
    }); 

      submitForPost = function() {
        $('#postSubmitForm').submit();
      } 


      $('#postSubmitForm').validate({
          rules: {
              postTitle: {
                  required: true
              }
          },
          highlight: function (element) {
              $(element).closest('.control-group').removeClass('success').addClass('error');
          },
          success: function (element) {
              element.text('OK!').addClass('valid')
                  .closest('.control-group').removeClass('error').addClass('success');
          }
      });
  });       
</script>