
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <link href="css/style.css" rel="stylesheet">       
        <link href="css/tab.css" rel="stylesheet">
  </head>
  
  <body>


<nav class="navbar navbar-inverse navbar-static-top no-margin">
  <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-project2-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BuzzingArtists </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-project2-navbar-collapse-1">
            <% if(user!=null) { %>
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                   <li ><a href="/profile">Update profile <span class="sr-only">(current)</span></a></li>
                   <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Need artists? </a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="/postarequest">Post a request</a></li>
                          <li><a href="/artists">Browse</a></li>                      
                      </ul>
                   </li> 
                   <li ><a href="/searchPosts">Your posts<span class="sr-only">(current)</span></a></li>
                   <li><a href="/postevents">Post event from FB <span class="sr-only">(current)</span></a></li>
                </ul>

            <ul class="nav navbar-right navbar-nav">                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="/profile">Profile</a></li>
                      <li><a href="/logout">Logout</a></li>
                      
                    </ul>
                  </li>
             </ul>  
             <%} else { %>
             <ul class="nav nav-bar pull-right">
                        
                <li><a class="btn btn-primary navbar-btn" href="/signup">Join us</a></li>
              
            </ul>
             <% } %> 
      </div>
  </div>
</nav>

<div class = "main-container">
  <div class="col-md-12 no-margin no-padding" style = "text-align: center;">
    <h3 class = "thtrexplore">
      EXPLORE. CONNECT. CONTRIBUTE.
     </h3>
  </div>
  
  <div class="container">
    <h2 class="title" style= "text-align:center;">Hi, <strong> <%= user.facebook.name %> <strong></h2>
    <h3 style= "text-align:center;">Join other artists in your city who are looking out for you</h3>
    

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <img src="http://getfuelux.com/assets/img/a-little-a-lot.png" alt="Modular controls" class="img-responsive">
        <h3>Update your profile</h3>
        <p>How do you contribute to theare? Acting or Lights or Sound or Music or just an audienceetc. <a href="/profile">Update it here</a> </p>
      </div>
      <div class="col-sm-4">
        <img src="http://getfuelux.com/assets/img/daily-dogfooding.png" alt="Documentation &amp; Unit Tests" class="img-responsive">
        <h3>Post your need for an artists</h3>
        <p>Post an audition or post a need for Lights etc. <a href="PostANeed.ejs">Post it here</a> 
      </div>
      <div class="col-sm-4">
        <img src="http://getfuelux.com/assets/img/umd-everywhere.png" alt="UMD Compliant" class="img-responsive">
        <h3>Get ready to be buzzed</h3>
        <p>Get notified for requests posted here and support theatre.</p>
      </div>
    </div>
    <hr class="half-rule">
    
  </div>
  <br>
     
      
  <% getDate = function(today) {
            var dd = today.getDate();
            var mm = today.getMonth()+1; //January is 0!

            var yyyy = today.getFullYear();
            if(dd<10){
                dd='0'+dd
            } 
            if(mm<10){
                mm='0'+mm
            } 
            today = dd+'/'+mm+'/'+yyyy;
            return today;
          }
    %>      
  <div class="col-md-6 col-xs-8 no-padding no-margin" style = "padding-left: 20px; padding-right:50px;">
     <div class="well" style="padding-top:5px; background-color:#534B4B;">
    
      <h3 style="margin-top:0px; color:#FFF9F9;">Upcoming plays</h3>
      <% if (typeof plays != 'undefined' && plays != null && plays.length != null) { 
                      %>
            <div id="myCarousel" class="carousel slide">

                
                <!-- Carousel items -->
                <div class="carousel-inner">
              
                  <% for(var i = 0; i < plays.length; i=i+4) { 
                        console.log("event title is " + plays[i].title);
                        console.log("plays.length" + plays.length)
                  %> 
                      <% if(i <= 3) { %>
                            <div class="item active">
                      <%} else { %>         
                            <div class="item">
                      <%}%> 
                                <div class="row">
                                <% for(var j = i; j < plays.length && j < i+4; j++) { %>
                                          <% console.log("j =" + j + " plays[j].title " + plays[j].title) %>
                                          <%  var d = new Date(new Date(plays[j].date).toISOString());
                                              var displayableDate = getDate(d);
                                              if(d >= new Date()) { %>
                                       
                                          <div class="col-sm-3 imagecarousel">
                                              <a href = "<%=plays[j].link%>" target="_blank">
                                               <img src="<%=plays[j].eventcover%>" border=0  alt="First slide" alt="Image" class="img-responsive">
                                               <span style="color:#FFF9F9;"><%=plays[j].title%></span><span style="color:#FFF9F9;"> on <%=displayableDate%></span>
                                               <span style="color:#FFF9F9;"> in <%=plays[j].city%></span></h2>
                                               </a>
                                          </div>
                                              <%} else { i++; }%>
                                 <%}%>
                                </div><!-- for row -->
                             </div><!-- for if -->
                    <%}%> <!-- For loop ends -->

                        

                    </div> <!-- carousel inner -->
                 
                 <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                 <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
              </div><!-- my carousel -->   
           <%}%> <!-- If condition ends -->    
        </div><!-- well ends -->
        
     <div class="well" style="padding-top:5px; background-color:#534B4B;">
      <h3 style="margin-top:0px; color:#FFF9F9;">Upcoming workshops</h3>
       <% if (typeof workshops != 'undefined' && workshops != null && workshops.length !=0) { 
                      %> 
            <div id="myCarousel1" class="carousel slide">

              
                <!-- Carousel items -->
                <div class="carousel-inner">
              
                  <% for(var i = 0; i < workshops.length; i=i+4) { 
                        console.log("workshop title is " + workshops[i].title);
                  %> 
                      <% if(i <= 3) { %>
                            <div class="item active">
                      <%} else { %>         
                            <div class="item">
                      <%}%> 
                                <div class="row">
                                <% for(var j = i; j < workshops.length && j < i+ 4; j++) { %>
                                          <%  var d = new Date(new Date(workshops[j].date).toISOString());
                                          var displayableDate = getDate(d);
                                              if(d >= new Date()) { %>
                                       
                                          <div class="col-sm-3 imagecarousel">
                                              <a href = "<%=workshops[j].link%>" target="_blank">
                                               <img src="<%=workshops[j].eventcover%>" border=0  alt="First slide" alt="Image" class="img-responsive">
                                               <span style="color:#FFF9F9;"><%=workshops[j].title%></span><span style="color:#FFF9F9;"> on <%=displayableDate%></span>
                                               <span style="color:#FFF9F9;"> in <%=workshops[j].city%></span></h2>
                                               </a>
                                          </div>
                                          <%} else { i++; }%>
                                 <%}%>
                                </div><!-- for row -->
                             </div><!-- for if -->
                    <%}%> <!-- For loop ends -->

                    </div> <!-- carousel inner -->
                
                 
                 <a class="left carousel-control" href="#myCarousel1" data-slide="prev">‹</a>
                 <a class="right carousel-control" href="#myCarousel1" data-slide="next">›</a>
              </div><!-- my carousel -->   
             <%}%> <!-- If condition ends -->      
        </div><!-- well ends -->

     <div class="well" style="padding-top:5px; background-color:#534B4B;">
      <h3 style="margin-top:0px;color:#FFF9F9;">Other upcoming events</h3>
      <% if (typeof others != 'undefined' && others != null && others.length != 0) { 
                      %>
            <div id="myCarousel2" class="carousel slide">

                
                <!-- Carousel items -->
                <div class="carousel-inner">
              
                  <% for(var i = 0; i < others.length; i=i+4) { 
                        console.log("other event title is " + others[i].title);
                  %> 
                      <% if(i <= 3) { %>
                            <div class="item active">
                      <%} else { %>         
                            <div class="item">
                      <%}%> 
                                <div class="row">
                                <% for(var j = i; j < others.length && j < i+4; j++) { %>
                                            <%  var d = new Date(new Date(others[j].date).toISOString());
                                            var displayableDate = getDate(d);
                                              if(d >= new Date()) { %>
                                    
                                          <div class="col-sm-3 imagecarousel">
                                              <a href = "<%=others[j].link%>" target="_blank">
                                               <img src="<%=others[j].eventcover%>" border=0  alt="First slide" alt="Image" class="img-responsive">
                                                <span style="color:#FFF9F9;"><%=others[j].title%></span><span style="color:#FFF9F9;"> on <%=displayableDate%></span>
                                               <span style="color:#FFF9F9;"> in <%=others[j].city%></span></h2>
                                               </a>
                                          </div>
                                          <%} else { i++; }%>
                                 <%}%>
                                </div><!-- for row -->
                             </div><!-- for if -->
                    <%}%> <!-- For loop ends -->

                     

                    </div> <!-- carousel inner -->
                      
                 
                 <a class="left carousel-control" href="#myCarousel2" data-slide="prev">‹</a>
                 <a class="right carousel-control" href="#myCarousel2" data-slide="next">›</a>
              </div><!-- my carousel -->   
            <%}%> <!-- If condition ends -->    
        </div><!-- well ends -->

           
</div>
    
    
<div class="input-group col-md-6" style="vertical-align:top;"> <h2><a href = "/viewallposts">Last 5 Recent requests for artists(Click here for more)</a></h2>

    <table id="mytable" class="table table-striped">
      <thead>
          <tr>
              <th>Posted On</th>
              <th>Searching for</th>
              <th>Artists needed</th>
              <th>City</th>
          </tr>
      </thead>
      <tbody class="searchable">
        
        <% console.log("length of post is " + postss.length)
        for(var i=0; i < postss.length; i++) { %>
          <tr>
          <td><%= postss[i].date %></td>
          <td><%= postss[i].postTitle %></td>
          <td><%= postss[i].role %></td>
          <td><%= postss[i].city %></td>
          </tr>
        <% } %>
          
          
          
      </tbody>
  </table>
    <!-- <div class="container" > -->
      <div class="col-md-6 no-margin no-padding" style="height:100%">
            <h1 class="page-header">Buzzing around you </h1>

            <div class="row">
                <div class="col-xs-4 col-sm-4 col-md-4 col-md-offset-2">
                  <img src="images/a1.jpg" class="img-responsive" >
                  <h4><a href="/artists">Artists near you</a></h4>
                  
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-md-offset-2">
                  <img src="images/m1.jpg" class="img-responsive" >
                  <h4><a href="/allevents">Events in your city</a></h4>
                 
                </div>
            </div>
      <!-- </div> -->
  </div>
</div>


  



             
<!-- sapce for text        
<div class="container">
 <div class="row">
<h2 style="text-align:center "><font style="font-family:timesnewroman" size="100" color="white">Random caption</font></h2>
</div>
</div>
<div class="container">
  <div>
  <p><font style="font-family:timesnewroman" size="50" color="white"> Movies will make you famous,Television will make you rich,but the Theartre will make you good at what you are.</font></p>
</div>
</div>--> 
  




</div>


         

   <!-- footer starts-->
   <div id = "footer"></div>
   <!-- footer ends-->

    <script type="text/javascript">

$(document).ready(function(){

      $('#mytable').dataTable();
});
  
    
$("#footer").load("footer.ejs"); 

        $(document).ready(function() {
          $('#myCarousel').carousel({
          interval: 10000
          })
          $('#myCarousel1').carousel({
          interval: 10000
          })
          $('#myCarousel2').carousel({
          interval: 10000
          })
            
            $('#myCarousel').on('slid.bs.carousel', function() {
              //alert("slid");
          });
            
            
        });
        
        $(document).ready(function(){
          $('[id=filter]').on("keyup", function(){
                      
                      var rex = new RegExp($(this).val(), 'i');
                      $('.searchable tr').hide();
                      $('.searchable tr').filter(function () {
                          return rex.test($(this).text());
                      }).show();
                  //})
          });
         }(jQuery));

          $('#openBtn').click(function(){
              $('#myModal').modal({show:true})
            });

          
    </script>
  </body>
</html>
