
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/utils.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <link href="css/style.css" rel="stylesheet">       
        <link href="css/tab.css" rel="stylesheet">
        <link href="indexPage/css/font-awesome.min.css" rel="stylesheet">
  </head>
  
  <body>

<% getDate = function(x) {
            var retDate;
            MM = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 
              10:"October", 11:"November", 12:"December"};

            xx = x.replace(
                  /(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2}).(\d{3})Z/,
                  function($1,$2,$3,$4,$5,$6,$7, $8){                      
                      retDate= MM[parseInt($3)]+" "+$4+", "+$2
                  }
                ); 
            return retDate;
        }
    %>
<% if(typeof user != 'undefined' && user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout"></div>
<%}%> 
<% var citysel = user.local.city %>
<div class = "main-container">
  <div class="col-md-12 no-margin no-padding" style = "text-align: center;">
    <h3 class = "thtrexplore">
      EXPLORE. CONNECT. CONTRIBUTE.
     </h3>
  </div>
  
  <div class="container">
    <h2 class="title" style= "text-align:center;">Hi, <strong> <%= user.facebook.name %> <strong></h2>
    <h3 style= "text-align:center;"><b>Welcome to BuzzingArtists.</b></h3>
    <% if (typeof citysel == 'undefined' || citysel == "") { %>
    <h4 style= "text-align:center;"> Your location is not set currently. Choose your location through <a href="/profile">"update profile"</a> link and view happenings in your city only.</h4>
    <% } %>  

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-3">
        <i class="homepageicon icon icon-book"></i>
        <h3>Update your profile</h3>
        <p>How do you contribute to theare? Acting/Lights designing/Music/Set Design etc.. <a href="/profile">Update it here</a> </p>
      </div>
      <div class="col-sm-3">
        <i class="homepageicon icon icon-search"></i><h3>Search Artists</h3>
        <p>Browse artists <a href="/artists"> here </a>, do an advance search and find out relevant artists who can help you
      </div>
      <div class="col-sm-3">
        <i class="homepageicon icon icon-hand-up"></i><h3>Post and help</h3>
        <p>Post auditions, post a need for artists etc. or help others for requests they have put up here<a href="/postarequest"> Post it here</a>
      </div>
      <div class="col-sm-3">
        <i class="homepageicon icon icon-eye-open"></i><h3>Experience theatre</h3>
        <p>Find out what event is coming up, search by the category of events<a href="/allevents"> Find out here </a> 
      </div>
    </div>
    <hr class="half-rule">
    
  </div>
  <br>
     
      

  <div class="col-md-6 col-xs-8 no-padding no-margin" style = "padding-left: 20px; padding-right:50px;">
     <div class="well" style="padding-top:5px; background-color:#534B4B;">
    
      <h3 style="margin-top:0px; color:#FFF9F9;">Upcoming plays</h3>
      <% if (typeof plays != 'undefined' && plays != null && plays.length != null) { 
                      %>
            <div id="myCarousel" class="carousel slide">

                
                <!-- Carousel items -->
                <div class="carousel-inner">
              
                  <% for(var i = 0; i < plays.length; i=i+4) { 
                  %> 
                      <% if(i <= 3) { %>
                            <div class="item active">
                      <%} else { %>         
                            <div class="item">
                      <%}%> 
                                <div class="row">
                                <% for(var j = i; j < plays.length && j < i+4; j++) { %>
                                           <%  var d = new Date(plays[j].date).toISOString();
                                            var displayableDate = getDate(d);
                                            %>
                                         
                                          <div class="col-sm-3 imagecarousel">
                                              <a href = "<%=plays[j].link%>" target="_blank">
                                               <img src="<%=plays[j].eventcover%>" border=0  alt="First slide" alt="Image" class="img-responsive">
                                               <span style="color:#FFF9F9;"><%=plays[j].title%></span><span style="color:#FFF9F9;"> on <%=displayableDate%></span>
                                               <span style="color:#FFF9F9;"> in <%=plays[j].city%></span></h2>
                                               </a>
                                          </div>
                                 <%}%>
                                </div><!-- for row -->
                             </div><!-- for if -->
                    <%}%> <!-- For loop ends -->

                        

                    </div> <!-- carousel inner -->
                 
                 <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                 <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
              </div><!-- my carousel -->   
           <%}%> <!-- If condition ends -->    
        </div><!-- well ends -->
        
     <div class="well" style="padding-top:5px; background-color:#534B4B;">
      <h3 style="margin-top:0px; color:#FFF9F9;">Upcoming workshops</h3>
       <% if (typeof workshops != 'undefined' && workshops != null && workshops.length !=0) { 
                      %> 
            <div id="myCarousel1" class="carousel slide">

              
                <!-- Carousel items -->
                <div class="carousel-inner">
              
                  <% for(var i = 0; i < workshops.length; i=i+4) { 
                  %> 
                      <% if(i <= 3) { %>
                            <div class="item active">
                      <%} else { %>         
                            <div class="item">
                      <%}%> 
                                <div class="row">
                                <% for(var j = i; j < workshops.length && j < i+ 4; j++) { %>
                                           <%  var d = new Date(workshops[j].date).toISOString();
                                            var displayableDate = getDate(d);
                                            %>
                                            <div class="col-sm-3 imagecarousel">
                                              <a href = "<%=workshops[j].link%>" target="_blank">
                                               <img src="<%=workshops[j].eventcover%>" border=0  alt="First slide" alt="Image" class="img-responsive">
                                               <span style="color:#FFF9F9;"><%=workshops[j].title%></span><span style="color:#FFF9F9;"> on <%=displayableDate%></span>
                                               <span style="color:#FFF9F9;"> in <%=workshops[j].city%></span></h2>
                                               </a>
                                          </div>
                                 <%}%>
                                </div><!-- for row -->
                             </div><!-- for if -->
                    <%}%> <!-- For loop ends -->

                    </div> <!-- carousel inner -->
                
                 
                 <a class="left carousel-control" href="#myCarousel1" data-slide="prev">‹</a>
                 <a class="right carousel-control" href="#myCarousel1" data-slide="next">›</a>
              </div><!-- my carousel -->   
             <%}%> <!-- If condition ends -->      
        </div><!-- well ends -->

     <div class="well" style="padding-top:5px; background-color:#534B4B;">
      <h3 style="margin-top:0px;color:#FFF9F9;">Other upcoming events</h3>
      <% if (typeof others != 'undefined' && others != null && others.length != 0) { 
                      %>
            <div id="myCarousel2" class="carousel slide">

                
                <!-- Carousel items -->
                <div class="carousel-inner">
              
                  <% for(var i = 0; i < others.length; i=i+4) { 
                  %> 
                      <% if(i <= 3) { %>
                            <div class="item active">
                      <%} else { %>         
                            <div class="item">
                      <%}%> 
                                <div class="row">
                                <% for(var j = i; j < others.length && j < i+4; j++) { %>
                                            <%  var d = new Date(others[j].date).toISOString();
                                            var displayableDate = getDate(d);
                                            %>
                                    
                                          <div class="col-sm-3 imagecarousel">
                                              <a href = "<%=others[j].link%>" target="_blank">
                                               <img src="<%=others[j].eventcover%>" border=0  alt="First slide" alt="Image" class="img-responsive">
                                                <span style="color:#FFF9F9;"><%=others[j].title%></span><span style="color:#FFF9F9;"> on <%=displayableDate%></span>
                                               <span style="color:#FFF9F9;"> in <%=others[j].city%></span></h2>
                                               </a>
                                          </div>
                                 <%}%>
                                </div><!-- for row -->
                             </div><!-- for if -->
                    <%}%> <!-- For loop ends -->

                     

                    </div> <!-- carousel inner -->
                      
                 
                 <a class="left carousel-control" href="#myCarousel2" data-slide="prev">‹</a>
                 <a class="right carousel-control" href="#myCarousel2" data-slide="next">›</a>
              </div><!-- my carousel -->   
            <%}%> <!-- If condition ends -->    
        </div><!-- well ends -->

           
</div>
    
    
<div class="col-md-6" style="vertical-align:top;"> <h2><a href = "/viewallposts">Recent posts (Click here for more)</a></h2>

    <table id="mytable" class="table table-striped">
      <thead>
          <tr>
              <th style="text-align:left">Posted On</th>
              <th style="text-align:left">Searching for</th>
              <th style="text-align:left">the need</th>
              <th style="text-align:left">City</th>
              <th style="text-align:left">View in full</th>
          </tr>
      </thead>
      <tbody class="searchable">
        
        <% 
        if(postss.length == 0) { %>
          <tr> <td colspan="4">No posts in the last two days. Search for more posts <a href = "/viewallposts">here</a></td></tr>

        <%}  else { %>
                <% for(var i=0; i < postss.length; i++) { %>
                  <tr>
                  <td><%= getDate(new Date(postss[i].post.date).toISOString()) %></td>
                  <td><%= postss[i].post.postTitle %></td>
                  <td><%= postss[i].post.role %></td>
                  <td><%= postss[i].post.city %></td>
                  <form action="/viewpost" method="POST">
                        <td><p data-placement="top" data-toggle="tooltgetpostip" title="View"><button id ="view"><span class="glyphicon glyphicon-info-sign"></span></button></p></td>
                        <input name="_id"  type="hidden" value=<%=postss[i].post.userid%>>
                        <input name="_postid"  type="hidden" value=<%=postss[i]._id%>>

                </form>  
                  </tr>
                <% } %>
           <%}%>     
          
          
          
      </tbody>
  </table>
    <!-- <div class="container" > -->
      <div class="col-md-6 no-margin no-padding" style="height:100%">
            <h1 class="page-header">Buzzing around you </h1>

            <div class="row">
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <img src="images/a1.jpg" class="img-responsive" >
                  <h4><a href="/artists">Buzzing Artists</a></h4>
                  
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6">
                  <img src="images/m1.jpg" class="img-responsive" >
                  <h4><a href="/allevents">Buzzing Events</a></h4>
                 
                </div>
            </div>
      <!-- </div> -->
  </div>
</div>
</div>


         

   <!-- footer starts-->
   <div id = "footer"></div>
   <!-- footer ends-->

    <script type="text/javascript">


$(document).ready(function(){

     // $('#mytable').dataTable();
});
  
    
$("#footer").load("footer.ejs"); 
$("#headerloggedin").load("header.ejs");
$("#headerloggedout").load("headerloggedout.ejs");

        $(document).ready(function() {
          $('#myCarousel').carousel({
          interval: 10000
          })
          $('#myCarousel1').carousel({
          interval: 10000
          })
          $('#myCarousel2').carousel({
          interval: 10000
          })
            
            $('#myCarousel').on('slid.bs.carousel', function() {
              //alert("slid");
          });
            
            
        });
        
        $(document).ready(function(){
          $('[id=filter]').on("keyup", function(){
                      
                      var rex = new RegExp($(this).val(), 'i');
                      $('.searchable tr').hide();
                      $('.searchable tr').filter(function () {
                          return rex.test($(this).text());
                      }).show();
                  //})
          });
         }(jQuery));

          $('#openBtn').click(function(){
              $('#myModal').modal({show:true})
            });

          
    </script>
     <script type="text/javascript">
    window.doorbellOptions = {
        appKey: 'YSTK9OR2my1RS3mmACJS3iUrKcl7uldwR6Yv40opthKKgDxa0DzjbYNBOWBdS6H5'
    };
    (function(d, t) {
        var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://doorbell.io/button/822';(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g);
    }(document, 'script'));
</script>
  </body>
</html>
