
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="Theatre, Artists, Motleymeow, Sponsor, Events, Bengaluru, Mumbai, Delhi, Chennai, Kolkata, Drama, Naatak"/>
    <meta property="og:title" content="MOTLEYMEOW. Hear the artists meow."/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.motleymeow.com" />
    <meta property="og:image" content="http://www.motleymeow.com/images/siteLogo.jpg"/>
    <title>Motleymeow.com home page</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery.1.11.2.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.3.3.4.js"></script>
    <script src="js/bootstrap-dialog.js"></script>
    <script src="js/jquery.ellipsis.min.js"></script>
    <script src = "js/moment.min.js"></script>
    <link href="css/style.css" rel="stylesheet">       
    <link href="css/tab.css" rel="stylesheet">
    <link href="indexPage/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-dialog.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/buttons.css"/>
    <link rel="stylesheet" type="text/css" href="css/animate.css"/>
    <link href="css/lightbox.css" rel="stylesheet" />

  </head>
  
  <body style="color:#E0DADA;" >

<% getDate = function(x) {
            var retDate;
            MM = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 
              10:"October", 11:"November", 12:"December"};

            xx = x.replace(
                  /(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2}).(\d{3})Z/,
                  function($1,$2,$3,$4,$5,$6,$7, $8){                      
                      retDate= MM[parseInt($3)]+" "+$4+", "+$2
                  }
                ); 
            return retDate;
        }
    %>
<div class = "main-landing-container landing container-fluid" >    
  <a class="navbar-brand" href="/home" style = "color: #FBF7F7; font-size: 20px;"><img class="highlighted" src ="images/MotleyMeow-logo02.gif" style="max-width:200px;max-height:200px;"> </a>
    <div>&nbsp;</div>
    <% if(typeof user != 'undefined' && user!=null) { %>
    <div id = "headerloggedin" class="col-md-12">
      <div class = "col-md-3">
        <a href="#" onclick="doorbell.show(); return false;" style="color: #F5F5F5;font-size: 16px;" class="oratorFont">Send us a quick meow</a>
        <br/>
        <a href="#" onclick="FacebookInviteFriends();" style = "font-size: 16px;color: #F5F5F5; " class="oratorFont"> Invite your friends<span class="sr-only">(current)</span></a>
      </div>  
        <script src="http://connect.facebook.net/en_US/all.js"></script>
        <script>
            FB.init({
              appId:1381852852123169,
              cookie:true,
              status:true,
              xfbml:true
            });

        function FacebookInviteFriends()
        {
        FB.ui({
            method: 'send',
            name: 'Check out this site!',
            description: 'EXPLORE. CONNECT. CONTRIBUTE!',
            link: 'http://www.motleymeow.com',
        });
        }
        </script>

      <div class = "col-md-6">
        <h2 class="title oratorFont" style= "text-align:center;margin-top:0px;font-style: italic;" >Meeoowww <strong> <%= user.facebook.name %>! </strong></h2>
        <h1 style= "text-align:center; oratorFont">LET'S BELL THE CAT!</h1>
        <% if (typeof citysel == 'undefined' || citysel == "" || citysel == "None") { %>
        <h4 style= "text-align:center;" class="oratorFont"><small style="color: #C8C4C4;"> Your location is not set currently and your current email id is set to "<%= user.facebook.email %>". You can always update your location and email id through <a href="/profileEdit" style="color:white;">"update profile"</a> and keep yourself updated about happenings in your city only.</small></h4>
        <% } else { %>  
        <h4 style= "text-align:center;" class="oratorFont"><small style="color: #C8C4C4;"> Your current email id is set to "<%= user.facebook.email %>". You can always <a href="/profileEdit">"update it here"</a> to keep yourself updated about latest happenings.</small></h4>
        <% } %>
      </div>  

<!--<script type="text/javascript">
  // $(document).ready(function() {
  //         var timerId;
  //         // timerId = setInterval(function() {
            
  //         //   $("#notification").load("/getNotification");
  //         // }, 20000); 
  //         var myEvent = window.attachEvent || window.addEventListener;
  //         var chkevent = window.attachEvent ? 'onbeforeunload' : 'beforeunload'; /// make IE7, IE8 compitable

  //         myEvent(chkevent, function(e) { // For >=IE7, Chrome, Firefox
  //             //console.log("Clearing the interval")
  //             clearInterval(timerId);
  //         });
          
  //   });
  </script> -->

      <div class = "col-md-3" style="float:right;">
          <div class="col-md-9" id="notification" style="text-align:right;margin-top:5px;">
<!--             <ul class="notification_dropdown">
              <li class="dropdown pull-right"> -->
             
                    <%if(typeof notificationCount != 'undefined' && notificationCount != 0) {%>
                      <a href="#" class="notification-badge dropdown-toggle oratorFont" data-toggle="dropdown" style="white-space: wrap;" title="These are the posts chosen for you based on your profile">Posts for you</a><span class="badge-notify badge" style="background-color:red;"><%= notificationCount %></span>
                    <% } else { %> 
                    <a href="#" class="notification-badge dropdown-toggle oratorFont" data-toggle="dropdown" style="white-space: wrap;" title="These are the posts chosen for you based on your profile">Posts for you</a>
                    <% } %>
                    <ul class="dropdown-menu messages" style="right: 0px;left: auto;min-width:350px;">
                    <% var nameOfuser = "" %>
                    <%if(typeof recentPostsForArtist != 'undefined' && recentPostsForArtist.length != 0) {%>  
                      <% var details= ""; for(var i=0; i < recentPostsForArtist.length; i++) { %>
                          <% if (typeof recentPostsForArtist[i].post.postDetail !='undefined') {
                            details = recentPostsForArtist[i].post.postDetail
                          } else { 
                            details=""
                          } %>
                          <% if(typeof recentPostsForArtist[i].post.user == 'undefined' || recentPostsForArtist[i].post.user.length == 0) { 
                            nameOfuser = "A member"
                           } else {
                            nameOfuser = recentPostsForArtist[i].post.user[0].facebook.name
                           } %>
                           <% 
                           var oneDay = 24*60*60*1000;
                           var diffDays = Math.round(Math.abs((new Date().getTime() - recentPostsForArtist[i].post.date.getTime())/(oneDay))); 
                           var diffDaysinStr;
                           if (diffDays == 0)  {
                             diffDaysinStr = "today" 
                           } else if(diffDays == 1) {
                             diffDaysinStr = "yesterday"
                           } else { 
                             diffDaysinStr = diffDays + " days ago"
                           }%>
                           <% if(i <= notificationCount -1) { %>
                              <li class ="dropdown" style="background-color:rgba(234, 151, 7, 0.51);">

                           <% } else { %>
                              <li class ="dropdown">
                           <% } %>   
                          
                            
                              <% if(typeof recentPostsForArtist[i].post.user == 'undefined' || recentPostsForArtist[i].post.user.length == 0) { %>
                                <a href="/profile?fbId=<%=recentPostsForArtist[i].post.userid%>" title="View profile"><span class="avatar"><img  src="/images/siteLogo.jpg"></span></a>
                              <% } else { %>  
                                <a href="/profile?fbId=<%=recentPostsForArtist[i].post.user[0].facebook.id%>" title="View profile"><span class="avatar"><img src="<%=recentPostsForArtist[i].post.user[0].local.picture%>" alt="Avatar"></span></a>
                              <% } %>
                              <a href="/viewpost?postid=<%=recentPostsForArtist[i]._id%>" name="<%=recentPostsForArtist[i]._id%>" title="<%=details%>"
                                style="clear:none;"><span class="header">
                                <span class="from" style="font-style: normal;">
                                    <%=nameOfuser%>
                                </span>
                                <span class="time" style="font-style: normal;">
                                    posted <%=diffDaysinStr%>
                                </span>
                              </span>
                              <span class="message">
                                  <text class="postTitleNot"> <%= recentPostsForArtist[i].post.postTitle %></text>
                              </span>  
                            </a>
                          </li> 
                    <% } %>
                      <li style="text-align:center;">
                        <span class="message antiguaFontSmall" style="color:black;">
                          View all posts <a href="/viewNotificationPosts">here</a>
                        </span>
                      </li>  
                     </ul>  
                  <%} %>    
                                   
          
         
         </div> 
 
        <div class="col-md-3">
          <li class="dropdown pull-right" style="list-style-type: none;">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img id="userPic" alt="" src="<%=user.local.picture%>" style="max-height:30px;padding-bottom:0px;" class="img-circle"/><i class="glyphicon glyphicon-chevron-down" style = "padding-left: 10px; color: #E9E1E1;"></i></a>
            <ul class="dropdown-menu">
              <li><a href="/profile?fbId=<%=user.facebook.id%>" class="antiguaFontSmall">Profile</a></li>
              <li><a href="/logout" class = "antiguaFontSmall">Logout</a></li>
              
            </ul>
          </li>
        </div>  
      </div> 

   </div>

    
   <% } else { %>
    <div id = "headerloggedout">
      <a class="navbar-brand" href="/home" style = "color: #FBF7F7; font-size: 20px;"><img class="highlighted" src ="images/MotleyMeow-logo02.gif" style="max-width:200px;max-height:200px;"> </a>
       <div class="collapse navbar-collapse" id="bs-project2-navbar-collapse-1">
                  

         <ul class="pull-right">
                    
            <li><a class="btn btn-default oratorFont"  href="/auth/facebook">Login with facebook</a></li>
          
        </ul>
                  
       </div>
    </div>
  <%}%> 
  <% var citysel = user.local.city %>



<div class = "col-md-12" style="clear:both;">
   <div class = "col-md-2" id="slide-3">
        <div style="padding-left:0px;padding-right:0px;margin-bottom:0px;" >    
      
                       <h3 style="color:#ECDEDE;text-align:center;" class ="oratorFont">Recently updated profiles</h3>
          <!-- <nav class="navbar navbar-default" role="navigation" style="min-height:0px;">
                  
                  
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color:#5A0202;">
                    <ul class="nav navbar-nav" id="headerlist" style="font-size:15px;">
                      <% if (typeof citysel == 'undefined' || citysel == "" || citysel == "None") { %>
                          <li class="active" style="color:#ECDEDE;">Upcoming events in all the cities<span class="sr-only">(current)</span></li>
                      <% } else { %>
                          <li class="active" style="color:#ECDEDE;">Upcoming Events in <%=citysel%><span class="sr-only">(current)</span></li>
                       <% } %>
                    </ul>        
                  </div>
          </nav> -->
          <div>&nbsp;</div>
          <div class="panel-group artists-events-panel">
            
              
              <% if (typeof lastProfileUpdtd != 'undefined' && lastProfileUpdtd != null && lastProfileUpdtd.length != 0) { %>
                <div id="arrows" style="display:none">
                  <div id="arrow-left"></div>
                  <div id="arrow-right"></div>
                </div>

                  <div class="row" style="position:relative;" class ="antiguaFontSmall" >
                  <% for(var i = 0; i < lastProfileUpdtd.length; i++) {%>
                     
                      <div class="col-md-12" style="padding-left:25px;padding-right:25px;">
                            <a href = "/profile?fbId=<%=lastProfileUpdtd[i].facebook.id%>" target="_blank" style="min-width:150px;max-width:150px;max-height:100px;min-height:100px;text-decoration: none;">
                              <img src="<%=lastProfileUpdtd[i].local.picture%>" border=0   style="min-width:150px;max-width:150px;max-height:100px;min-height:100px;"/>
                              <span style="color:#FFF;font-size:small;position:relative;width:100%;"><%=lastProfileUpdtd[i].facebook.name%></span>

                            </a>

                      </div>
                      
                  <% }  %>
                  </div><!-- /row -->
              
              <% } %>  
              
          </div><!-- /slide3 -->
        <!-- <div class="panel-footer" style="background-color:#5A0202;padding-top:3px;padding-bottom:5px;">
                    <ul style="margin-bottom:20px;font-size:15px;list-style-type: none;"><li class= "pull-right"><a href="/allEvents" style="color: #ECDEDE;">All Events ›</a></li></ul>
        </div> -->
      </div>

    </div>
  <div class = "col-md-8" style="padding-left:0px;padding-right:0px;">
    <div class="col-md-11 col-md-offset-1" style="text-align:center;">
      <div class = "col-md-3 tree oratorFont">
      <ul>
          <li>
              <span class="badge badge-success"><i class="icon-minus-sign" style="font-size:20px;color:inherit"><text class = "oratorFont"><b>&nbsp;&nbsp;ARTISTS</b></text></i></span>
              <ul>
                  <li>
                    <a href="/profile?fbId=<%=user.facebook.id%>"><span class="badge badge-success"> <text class = "oratorFont" style="font-weight:300;">VIEW YOUR PROFILE</text></span></a>
                  </li>
                  <li>
                    <a href="/artists"><span class="badge badge-success"> <text class = "oratorFont" style="font-weight:300;">BROWSE ARTISTS </text></span></a>
                  </li>
              </ul>
          </li>
        <ul>
        </div> 
        <div class = "col-md-3 tree oratorFont">
        <ul>
          <li>
              <span class="badge badge-success"><i class="icon-minus-sign" style="font-size:18px;color: inherit;"><text class = "oratorFont"><b>&nbsp;&nbsp;POSTS</b></text></i></span>
              <ul>
                  <li>
                    <a href="#postModal" data-toggle="modal" data-backdrop="static"><span class="badge badge-success"> <text class = "oratorFont" style="font-weight:300;">ADD A NEW POST </text></span></a>
                  </li>
                  <li>
                    <a href="/viewallposts"><span class="badge badge-success"> <text class = "oratorFont" style="font-weight:300;">BROWSE POSTS </text></span></a>
                  </li>
              </ul>
          </li>
        <ul>
        </div>
        <div class = "col-md-3 tree oratorFont">
        <ul>
          <li>
              <span class="badge badge-success"><i class="icon-minus-sign" style="font-size:18px;color: inherit;"><text class = "oratorFont"><b>&nbsp;&nbsp;EVENTS</b></text></i></span>
              <ul>
                  <li>
                    <a href="/postevents"><span class="badge badge-success"> <text class = "oratorFont" style="font-weight:300;">ADD A NEW EVENT </text></span></a>
                  </li>
                  <li>
                    <a href="/allEvents"><span class="badge badge-success"> <text class = "oratorFont" style="font-weight:300;">BROWSE EVENTS </text></span></a>
                  </li>
              </ul>
          </li>
        <ul>
        </div>  
        
    </div>

    <div class = "col-md-10 col-md-offset-1" id="recentPosts">
      <div style="padding-left:0px;padding-right:0px;margin-bottom:0px;background-color:#F2F2F2" >          
        <nav class="navbar navbar-default" role="navigation" style="min-height:0px;">
                
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color:#5A0202;">
                  <ul class="nav navbar-nav" id="headerlist" style="font-size:15px;" title="Incoming posts irespective of location, language or contribution">
                          <li class="active oratorFont" style="color:#ECDEDE;">Recent posts of all categories<span class="sr-only" >(current)</span></li>
                  </ul>        

                 <!--  <ul class="nav navbar-right navbar-nav" style="font-size:15px;">          
                      <li style = "padding-right:10px;"><a class="btn btn-primary" style="padding:0px;color: #030303;" href="#postModal" data-toggle="modal" data-backdrop="static"><span class="glyphicon glyphicon-plus"></span> <b>a new Post</b></span></a></a></li>
                  </ul> -->
                </div>
              
        </nav>


        
          <% console.log("allposts.length" + allPosts.length) %>
          <% if(allPosts.length > 0 ) { %>
          <div class="panel-group notification-panel">
          <% var details="";
           for(var i=0; i < allPosts.length; i++) { 
              %>
              <% if (typeof allPosts[i].post.postDetail !='undefined') {
                              details = allPosts[i].post.postDetail
              } else  {
                details=""; 
              }  %>
              <div class = "row">
                <% var userPicture, username, fbLink 
                var oneDay = 24*60*60*1000;
                var diffDays = Math.round(Math.abs((new Date().getTime() - allPosts[i].post.date.getTime())/(oneDay))); 
                var diffDaysinStr;
                if (diffDays == 0)  {
                  diffDaysinStr = "today" 
                } else if(diffDays == 1) {
                  diffDaysinStr = "yesterday"
                } else { 
                  diffDaysinStr = diffDays + " days ago"
                 }%>
                <% if (typeof allPosts[i].post.user !='undefined' && allPosts[i].post.user.length > 0) {
                    userPicture = allPosts[i].post.user[0].local.picture
                    username = allPosts[i].post.user[0].facebook.name
                    fbLink = '/profile?fbId=' + allPosts[i].post.user[0].facebook.id
                } else {
                    userPicture = ""
                    username = ""
                    fbLink = '/profile?fbId='+ allPosts[i].post.userid
                } %>      
               
                <div class='span1'>
                  <div class="post-userphoto">
                    <% if(typeof allPosts[i].post.user == 'undefined' || allPosts[i].post.user.length == 0) { %>
                      <a href="/profile?fbId=<%=allPosts[i].post.userid%>" title="View profile">
                        <img  src="/images/siteLogo.jpg" style="height:30px; width:48px;" class="member-photo"> 
                      </a>
                    <% } else { %>
                      <a href="/profile?fbId=<%=allPosts[i].post.user[0].facebook.id%>" title="View profile">
                      <img  src="<%=allPosts[i].post.user[0].local.picture%>" style="height:48px; width:48px;" class="member-photo">
                    </a>
                    <% } %>
                  </div> 
                </div>   
               
                <div class='span9 antiguaFont'>
                  <div class='post-text'>
                    <div class="post-title">
                          <a href="/viewpost?postid=<%=allPosts[i]._id%>" title="<%=details%>" rel="bookmark"><h4><%=allPosts[i].post.postTitle%></h4></a>  
                          <% if(allPosts[i].post.city != "") { %> 
                            <span class='user' style="font-size:11px;">in <%=allPosts[i].post.city%></span>
                          <% } else { %>
                            <span class='user' style="font-size:11px;">all over India</span>  
                          <% } %>  
                    </div>

                      <text class = "post-detail-text"><%=details%></text><a href="/viewpost?postid=<%=allPosts[i]._id%>" title="click to read the complete post">  more details</a>   
                  </div>
                  <div class='post-menu'>
                    <div>
                      <span class='date timeago' title='time'><%=diffDaysinStr%></span> by
                      <% if(username != "") { %>
                        <span class='user'><a href="<%=fbLink%>" title='view users profile'><%=username%></a></span>
                      <% } else { %>  
                        <span class='user'><a href="<%=fbLink%>" title='view users profile'>a member</a></span>
                      <% } %>  
                    </div>
                  </div>

                </div>
              </div>
          <% } %>
          <% } else  { %>
          <div class="panel-group notification-panel" style="height:100px;">
                <div class='span9 oratorFont'>
                  <div class='post-text'>
                    <div class="post-title">
                            <span class='user' style="font-size:20px;">NO NEW POSTS IN THE LAST 10 DAYS</span>  
                            
                    </div>
                  </div>
                </div>    
          <% } %>
          
        </div>
        <div class="panel-footer oratorFont" style="background-color:#5A0202;padding-top:3px;padding-bottom:5px;">
                    <ul style="margin-bottom:20px;font-size:15px;list-style-type: none;"><li class= "pull-right"><a href="/viewallposts" style="color: #ECDEDE;">Older News ›</a></li></ul>
        </div>
      </div>
    </div>   

  </div>
   
  <div class = "col-md-2" id="slide-3">
        <div style="padding-left:0px;padding-right:0px;margin-bottom:0px;" >    
      
                       <h3 style="color:#ECDEDE;text-align:center;" class ="oratorFont">Upcoming Events</h3>
          <!-- <nav class="navbar navbar-default" role="navigation" style="min-height:0px;">
                  
                  
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color:#5A0202;">
                    <ul class="nav navbar-nav" id="headerlist" style="font-size:15px;">
                      <% if (typeof citysel == 'undefined' || citysel == "" || citysel == "None") { %>
                          <li class="active" style="color:#ECDEDE;">Upcoming events in all the cities<span class="sr-only">(current)</span></li>
                      <% } else { %>
                          <li class="active" style="color:#ECDEDE;">Upcoming Events in <%=citysel%><span class="sr-only">(current)</span></li>
                       <% } %>
                    </ul>        
                  </div>
          </nav> -->
          <div>&nbsp;</div>
          <div class="panel-group artists-events-panel">
            
              
              <% if (typeof events != 'undefined' && events != null && events.length != 0) { %>
                <div id="arrows" style="display:none">
                  <div id="arrow-left"></div>
                  <div id="arrow-right"></div>
                </div>

                  <div class="row" style="position:relative;" class ="antiguaFontSmall" >
                  <% for(var i = 0; i < events.length; i++) {%>
                      <%  var d = new Date(events[i].event.date).toISOString();
                            var displayableStartDate = getDate(d);
                            var displayableEndDate = displayableStartDate;
                            if(typeof events[i].event.endDate != 'undefined' && events[i].event.endDate != "" && events[i].event.endDate != null) {
                              var endDate = new Date(events[i].event.endDate).toISOString();
                              displayableEndDate = getDate(endDate);
                            }  
                      %>
                      <div class="col-md-12" style="padding-left:25px;padding-right:25px;">
                            <a href = "<%=events[i].event.link%>" target="_blank" style="min-width:150px;max-width:150px;max-height:100px;min-height:100px;text-decoration: none;">
                              <img src="<%=events[i].event.eventcover%>" border=0   style="min-width:150px;max-width:150px;max-height:100px;min-height:100px;"/>
                              <span style="color:#FFF;font-size:small;position:relative;width:100%;"><%=events[i].event.title%></span>
                              <span style="color:#FFF;font-size:small;position:relative;width:100%;"> from <%=displayableStartDate%></span>
                              <span style="color:#FFF;font-size:small;position:relative;width:100%;"> until <%=displayableEndDate%></span>
                              <span style="color:#FFF;font-size:small;position:relative;width:100%;"> in <%=events[i].event.city%></span>

                            </a>

                      </div>
                      
                  <% }  %>
                  </div><!-- /row -->
              
              <% } else { %>  
              <h3 style="text-align:center;"><a href="/allevents" >Sorry, no recent events posted in <%=citysel%>, click here to search events in other locations</a></h3>   
              <% } %>
          </div><!-- /slide3 -->
        <!-- <div class="panel-footer" style="background-color:#5A0202;padding-top:3px;padding-bottom:5px;">
                    <ul style="margin-bottom:20px;font-size:15px;list-style-type: none;"><li class= "pull-right"><a href="/allEvents" style="color: #ECDEDE;">All Events ›</a></li></ul>
        </div> -->
      </div>

    </div>    
</div>    
    <div id = "footer" class ="oratorFont">
         <div class="container col-md-12 pull-right" >
            <div class="bottom-footer">
                  <ul class="footer-nav" style="font-size:16px;text-align:right">
                    <li><a href="/aboutus">About Us |</a></li>
                    <li><a href="/faq">FAQs |</a></li>
                    <li><a href="/supportUs">Support US |</a></li>
                    <li><a href="/credits">Thank You |</a></li>
                    <li><a href="/terms">Terms Of Use |</a></li>
                    <li><a href="/terms">Contact Us</a></li>
                  </ul>
            </div>
        
            


            <div class="row cp-copyright" style="text-align:right;">
                <div class="col-sm-12 col-xs-12">
                    <small>&copy; 2015 <br class="hidden-sm hidden-md hidden-lg" /> All Rights Reserved. | <a href="/privacy">Privacy Policy</a></small>
                </div>
            </div>
          </div> 
        </div>   
   <script src="js/private.js"></script>
   <link href="css/font-awesome.min.css" rel="stylesheet"> 
</div>
</div>



<div class="modal fade" id="postModal" aria-labelledby="postModal" tabindex="-1" aria-hidden="true">  
    <div class="modal-dialog">
        <div class="modal-content" style="font-weight:300;">
            <div class="modal-header oratorFont" style = "background-color: #483A3A;">
                <h2 class="modal-title" style= "text-align:center;">crispost @Motleymeow</h2>
                <h4 class="modal-title" style= "text-align:center;"><small><b> Complete your post with just a title and image. For focused attention click on "Add more details".</small> </h4>
            </div>
            <div class="modal-body" style="color:black;">
              
                <form id="postSubmitForm" class="form-horizontal" enctype="multipart/form-data" action="/post" method="post">
                
                  <!-- Textarea -->
                  <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
                 <div class="control-group col-md-12">
                      <label class="control-label col-md-3 oratorFont" for="postTitle">Title of the post</label>
                      <div class="controls col-md-9">  
                      <% if (typeof post != 'undefined' && post!= null) { %>   
                       <input name="_postid"  type="hidden" value=<%=post._id%>>              
                        <input type="textarea" name="postTitle" id="postTitle" style="width: 60%;" value= "<%=post.post.postTitle%>"> </input>
                      <% } else { %> 
                        <input type="textarea" name="postTitle" id="postTitle" placeholder="Any event or an audition" style="width: 100%;" value=" "> </input>
                      <% } %>
                      </div>
                  </div>   
                  <div>&nbsp;</div>
                  <div>&nbsp;</div>  
                  <div class="control-group col-md-12 oratorFont">
                     <label class="control-label col-md-3" for="checkboxes">Select an image</label>
                      <span class="btn btn-default btn-file col-md-9">
                        <a href="" data-lightbox="No Image set" data-title="Post's image">
                        <img id="updatedImage" src="" alt="No Image Set" style="display:none;max-width:200px;max-height:200px"/></a>
                        <input id = "imagePost" type="file" class = "imageUpdateField" name = "imagePost"/>
                        
                          <a href = "" id="updateImage" style="display:none">Update this image</a>
                          <a href = "" id="deleteImage" style="display:none">Remove this image</a>
                          <input id = "postedImage" name="postedImage"  type="hidden" value="notChanged"/>
                      </span>
                  </div> 
                  <div>&nbsp;</div>  
                </form>
              
            </div>  
            <div class="modal-footer oratorFont">
                 <span class="pull-left col-md-4 "><a href="#" onclick="redirect();" class="btn btn-success">Add more details</a></span>
                 <span class="col-md-4 "><button type="button" class="btn btn-primary" onclick="submitForPost()">SUBMIT</button></span>
                 <span class="pull-right col-md-4"><button type="button" class="btn btn-warning" data-dismiss="modal">CLOSE</button></span>
            </div>
           <script>

            function redirect() {
                window.location="/postarequest?title=" + $('#postTitle').val();
                return false;
            }    

            </script> 
        </div>
    </div>
</div>



         

   
  
  <% var city = user.local.city;
     console.log("cityyyyyyyy: "+city);
     if(city == 'None') { %>
        <div class="form-group panel-body" id="myCity" style="margin:0px;padding:0px;">
            <label class="col-sm-6 control-label" for="city" style="padding:0px;">Location</label>
            <div class="col-sm-6">
              <select class="form-control" id="myCityForm" name="cityVal">
              <% var cities = dropdowns.alldropdowns.cities;
                  for(var i = 0; i < cities.length; i ++) {   %> 
                        <option value = "<%=cities[i].city%>"><%=cities[i].text%></option>
              <!-- <option>Bengaluru</option><option>Chennai</option><option>Delhi</option><option>Mumbai</option><option>Kolkata</option><option>None Of the above</option></select> -->
              <% } %>
            </select></div>
            <div id="myRole" class="form-group">
              <label class="control-label">What kind of Artist are you?</label> 
              <br>
              <% var roles = dropdowns.alldropdowns.rolesForSearch;
                for(var i = 0; i < roles.length; i ++) {   %> 
                  <div class = "col-sm-6">
                    <label class="checkbox-inline">
                          <input type="checkbox" id="checkboxinline<%=roles[i].role%>" name="role" value="<%=roles[i].role%>" ><%=roles[i].text%>
                    </label>
                 </div>  
               <% } %>
             
            </div>
            
            <button id="donebtn" class="btn btn-primary pull-left" style="margin-top:30px;">DONE</button>
            <button id="closebtn" class="btn btn-warning pull-right" style="margin-top:30px;">Don't bore me now, will fill later</button>
        </div>
        <script type="text/javascript">

           
          $(document).ready(function(){
            var dialog = new BootstrapDialog({
            message: function(dialogRef){
                var $message = $('<div></div>');
                var $button = $('#donebtn');
                var $closeButton = $('#closebtn');
                
                $button.on('click', {dialogRef: dialogRef}, function(event){
                  
                  var roles = $('input:checkbox[name="role"]:checked').map(function() {
                              return this.value;
                                }).get().join(',');
                  var citiesss = $('#myCityForm').val();
                  if(citiesss == "None Of the above") citiesss = "";
                  event.data.dialogRef.close();
                  $.ajax({
                        url: "/getCity",
                        type: "POST",
                        data: {role: roles,city: citiesss},
                        // data: {$("#myCityForm").serialize(), role: roles},
                        success: function (data) {
                            location.reload();
                        },
                        error: function (data) {
                          console.log("some error " + data);
                        }
                        
                  });

                });

                $closeButton.on('click', {dialogRef: dialogRef}, function(event){
                    $.ajax({
                        url: "/getCity",
                        type: "POST",
                        data: {city: ""},
                        // data: {$("#myCityForm").serialize(), role: roles},
                        success: function (data) {
                            console.log("City and role saved ");
                        },
                        error: function (data) {
                            console.log("some error " + data);
                        }
                        
                    });
                    event.data.dialogRef.close();
                });
                // $message.append($selectedCity).append($button);
                $message.append($('#myCity'));
        
                return $message;
              },
              closable: false
          });
          dialog.realize();
          dialog.setTitle("Just very quickly add these basic info about yourself. You can change it in your profile section anytime");
          dialog.getModalHeader().show();
          dialog.getModalHeader().css('padding', '10px');
          dialog.getModalBody().css('background-color', '#1E485D');
          dialog.getModalBody().css('color', '#fff');
          dialog.open();
        });
          
        </script>      
  <% } %>

  <!-- <script src="js/jquery-1.10.2.min.js"></script> -->
  <script src="js/jquery-migrate-1.2.1.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/jquery-validate.js"></script>
  <script type="text/javascript" src="js/jquery.noty.packaged.min.js"></script>
  <script src="js/lightbox.min.js"></script>
  <script>
  function notificationClicked () {
      <% if(typeof recentPostsForArtist != 'undefined') { %>
                console.log("recentPostsForArtist.length: "+ <%= recentPostsForArtist.length %>);
                 <%}%>
              <% if(typeof notificationCount != 'undefined' && notificationCount != "") { %>
                var count =<%= notificationCount %>;
                  $.ajax({
                        url: "/saveNotificationClickDate",
                        type: "POST",
                        data: {notificationCount: count},
                        // data: {role: roles,city: citiesss},
                        // data: {$("#myCityForm").serialize(), role: roles},
                        success: function (data) {
                          console.log("SUCCESSSS DROPDOWN");
                          $('#newPosts').text("No new posts");
                        },
                        error: function (data) {
                          console.log("some error " + data);
                        }
                        
                  });
              <%}%>
        // return true or false, depending on whether you want to allow the `href` property to follow through or not
    }
  $(document).ready(function() {
    $('.post-detail-text').ellipsis({
    row: 2
  });

    
          $("#notification").on("show.bs.dropdown", function(e){
                    console.log("SHOW DROPDOWNNNNNNNNNNNN");              
              <% if(typeof recentPostsForArtist != 'undefined') { %>
                console.log("recentPostsForArtist.length: "+ <%= recentPostsForArtist.length %>);
                 <%}%>
              <% if(typeof notificationCount != 'undefined' && notificationCount != "") { %>
                var count =<%= notificationCount %>;
                  $.ajax({
                        url: "/saveNotificationClickDate",
                        type: "POST",
                        data: {notificationCount: count},
                        // data: {role: roles,city: citiesss},
                        // data: {$("#myCityForm").serialize(), role: roles},
                        success: function (data) {
                          console.log("SUCCESSSS DROPDOWN");
                          $('#newPosts').text("No new posts");
                        },
                        error: function (data) {
                          console.log("some error " + data);
                        }
                        
                  });
              <%}%>
            
          });
          $("#notification").on("hide.bs.dropdown", function(e){
            console.log("HIDE DROPDOWNNNNNNNNNNNN");
             
              <% if(typeof recentPostsForArtist != 'undefined') { %>
                console.log("recentPostsForArtist.length: "+ <%= recentPostsForArtist.length %>);
                 <%}%>
            <% if(typeof notificationCount != 'undefined' && notificationCount != "") { %>
              $("#notification").load("/getNotification");
            <%}%>
          });
        });
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61218032-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script type="text/javascript">

    
//$("#footer").load("footer.ejs"); 
  var isMobile = {
                Android: function() {
                return navigator.userAgent.match(/Android/i);
                },
                BlackBerry: function() {
                return navigator.userAgent.match(/BlackBerry/i);
                },
                iOS: function() {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i);
                },
                Opera: function() {
                return navigator.userAgent.match(/Opera Mini/i);
                },
                Windows: function() {
                return navigator.userAgent.match(/IEMobile/i);
                },
                any: function() {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
                }
            };
// $("#headerloggedin").load("/header");
// $("#headerloggedout").load("headerloggedout.ejs");
// $("#recentArtists").load("/getRecentArtists");
// $("#recentPosts").load("/getRecentPosts");

        $(document).ready(function() {
          // if(isMobile.any()) {
          //   $('#arrows').show();
          // }  
          // var timerId;
          // timerId = setInterval(function() {
            
          //   //$("#recentPosts").load("/getRecentPosts");
          // }, 60000); 
          // var myEvent = window.attachEvent || window.addEventListener;
          // var chkevent = window.attachEvent ? 'onbeforeunload' : 'beforeunload'; /// make IE7, IE8 compitable

          // myEvent(chkevent, function(e) { // For >=IE7, Chrome, Firefox
          //     //console.log("Clearing the interval")
          //     clearInterval(timerId);
          // });
          
    });

   
        


    $(document).ready(function () {
        $("#updateImage").on('click', function(e){
          e.preventDefault();
          $("#imagePost").trigger('click');
        });
        
        $("#deleteImage").on('click', function(e){
          e.preventDefault();
          $("#updatedImage").attr("src","");
          $("#updatedImage").parents("a").attr("href", "");
          $("#updatedImage").parents("a").hide();
          $("#imagePost").val("");
          $("#postedImage").val("removed");
          $("#deleteImage").hide();
          $("#updateImage").hide();
        });

        $('input[id=imagePost]').change(function(e){
          var data = new FormData();
          data.append('image', $('input[id=imagePost]')[0].files[0]); 
          // alert("Data is " + data);
          $.ajax({
            url: "/postPhotos",
            type: "POST",
            contentType: false,
            processData: false,
            data: data,
            complete: function() {
              console.log('process complete');
            },

            success: function(data) {
               if(data.error) {
                console.log('Opps, something bad happened');
                return;
                }
              console.log("here success");  
              console.log("Data.path is" + data.path);
              
              $("#updatedImage").attr("src","tempUploads/"+data.path);
              $("#updatedImage").parents("a").show();
              $("#updatedImage").parents("a").attr("href", "tempUploads/"+data.path)
              $("#updatedImage").siblings("a").show();
              $("#updateImage").show();
              $("#deleteImage").show();
              $("#updatedImage").show();
              $("#postedImage").val(data.path);
           },

            error: function() {
              console.log('process error');
            },
          });
      });
       $('#postSubmitForm').validate({
          rules: {
              postTitle: {
                  required: true
              }
          },
          highlight: function (element) {
              $(element).closest('.control-group').removeClass('success').addClass('error');
          },
          success: function (element) {
              element.text('OK!').addClass('valid')
                  .closest('.control-group').removeClass('error').addClass('success');
          }
      });
      submitForPost = function() {
          $('#postSubmitForm').submit();
      }

    });        


    $('#postModal').on('show.bs.modal', function () {
     $('.main-landing-container').addClass('blur');
    })

    $('#postModal').on('hide.bs.modal', function () {
       $('.main-landing-container').removeClass('blur');
    })
          
    </script>
     <script type="text/javascript">
    window.doorbellOptions = {
        appKey: 'RBfxeEyxzCGspIWdwQo1gsvxmz18EdLX6cFO9Zw4ZFz0uKzuL2Z2e46hbl5WGpRH'
    };
    (function(d, t) {
        var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://doorbell.io/button/978?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g);
    }(document, 'script'));


    $(function () {
      $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Collapse this branch');
      $('.tree li.parent_li > span').on('click', function (e) {
          var children = $(this).parent('li.parent_li').find(' > ul > li');
          if (children.is(":visible")) {
              children.hide('fast');
              $(this).attr('title', 'Expand this branch').find(' > i').addClass('icon-plus-sign').removeClass('icon-minus-sign');
          } else {
              children.show('fast');
              $(this).attr('title', 'Collapse this branch').find(' > i').addClass('icon-minus-sign').removeClass('icon-plus-sign');
          }
          e.stopPropagation();
      });
    });
</script>
  </body>
</html>
