
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">       
        <link href="css/tab.css" rel="stylesheet">
  </head>
  <script type="text/javascript">
 
    $(document).ready(function() {
    var panels = $('.user-infos');
    var panelsButton = $('.dropdown-user');
    panels.hide();

    //Click dropdown
    panelsButton.click(function() {
        //get data-for attribute
        var dataFor = $(this).attr('data-for');
        var idFor = $(dataFor);

        //current button
        var currentButton = $(this);
        idFor.slideToggle(400, function() {
            //Completed slidetoggle
            if(idFor.is(':visible'))
            {
                currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
            }
            else
            {
                currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
            }
        })

       //(function ($) {
          
      //  }(jQuery));


    });
   }); 
   
   </script> 
  <body>


<nav class="navbar navbar-inverse navbar-static-top no-margin">
  <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-project2-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BuzzingArtists </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-project2-navbar-collapse-1">
            <% if(user!=null) { %>
                <ul class="nav navbar-nav">
                  <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                   <li ><a href="/profile">Update profile <span class="sr-only">(current)</span></a></li>
                   <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Need artists? </a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="/postarequest">Post a request</a></li>
                          <li><a href="/artists">Browse</a></li>                      
                      </ul>
                   </li> 
                   <li ><a href="/searchPosts">Your posts<span class="sr-only">(current)</span></a></li>
                   <li><a href="/postevents">Post event from FB <span class="sr-only">(current)</span></a></li>
                </ul>

            <ul class="nav navbar-right navbar-nav">                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="/profile">Profile</a></li>
                      <li><a href="/logout">Logout</a></li>
                      
                    </ul>
                  </li>
             </ul>  
             <%} else { %>
             <ul class="nav nav-bar pull-right">
                        
                <li><a class="btn btn-primary navbar-btn" href="/signup">Join us</a></li>
              
            </ul>
             <% } %> 
      </div>
  </div>
</nav>

<div class = "main-container">
  <div class="col-md-12 no-margin no-padding" style = "text-align: center;">
    <h3 class = "thtrexplore">
      EXPLORE. CONNECT. CONTRIBUTE.
     </h3>
  </div>
  
  <div class="container">
    <h2 class="title" style= "text-align:center;">Hi, <strong> <%= user.facebook.name %> <strong></h2>
    <h3 style= "text-align:center;">Join other artists in your city who are looking out for you</h3>
    

    <hr class="half-rule">

    <div class="row">
      <div class="col-sm-4">
        <img src="http://getfuelux.com/assets/img/a-little-a-lot.png" alt="Modular controls" class="img-responsive">
        <h3>Update your profile</h3>
        <p>How do you contribute to theare? Acting or Lights or Sound or Music or just an audienceetc. <a href="/profile">Update it here</a> </p>
      </div>
      <div class="col-sm-4">
        <img src="http://getfuelux.com/assets/img/daily-dogfooding.png" alt="Documentation &amp; Unit Tests" class="img-responsive">
        <h3>Post your need for an artists</h3>
        <p>Post an audition or post a need for Lights etc. <a href="PostANeed.ejs">Post it here</a> 
      </div>
      <div class="col-sm-4">
        <img src="http://getfuelux.com/assets/img/umd-everywhere.png" alt="UMD Compliant" class="img-responsive">
        <h3>Get ready to be buzzed</h3>
        <p>Get notified for requests posted here and support theatre.</p>
      </div>
    </div>
    <hr class="half-rule">
    
  </div>
  <br>
     
      
 <!-- Carousel
    ================================================== -->
  <!-- <div class="col-md-7 col-xs-8 no-padding no-margin">
      
    <div id="myCarousel" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->
     <!-- <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
       <div class="carousel-inner" role="listbox">
           <div class="item active"><a href="#">
             <img src="images/1.jpg" border=0 width=1025 height=356 alt="First slide"></a>
           </div>
           <div class="item"><a href="#">
              <img src="images/2.jpg" border=0 width=1025 height=356 alt="Second slide"></a>
           </div>
            <div class="item"><a href="#">
              <img src="images/5.jpg" border=0 width=1025 height=356  alt="Third slide"></a>
            </div>
       </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->
 <!-- </div> -->
  <div class="col-md-6 col-xs-8 no-padding no-margin" style = "padding-left: 20px; padding-right:100px;">
      <div class="panel with-nav-tabs panel-primary">
                    <div class="panel-heading">
                            <ul class="nav nav-tabs">
                              <% if (typeof events != 'undefined' && events != null) {  %>
                                <li class="active"><a href="#tab1primary" data-toggle="tab">Plays running during this week</a></li>
                              <%}%>  
                                <li><a href="#tab2primary" data-toggle="tab">Workshops being held</a></li>
                                <li><a href="#tab3primary" data-toggle="tab">Auditions running</a></li>
                                <li><a href="#tab4primary" data-toggle="tab">Other Events, Storytelling, Readings etc.</a></li>
                                
                            </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1primary">
                                  <div id="myCarousel" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->             <% if (typeof events != 'undefined' && events != null) { 
                                               var i = 0%>
                                          <% events.forEach( function( event ){ 
                                            console.log("event title is " + event.event.city);
                                              %> 
                                           <ol class="carousel-indicators">
                                              <li data-target="#myCarousel" data-slide-to=<%i++%> class="active"></li>
                                              
                                            </ol>
                                            <div class="carousel-inner span6 columns" role="listbox">
                                                 <div class="item active imagecarousel"> <a href="#">
                                                  <a href = "<%=event.event.link%>" target="_blank">
                                                   <img src="<%=event.event.eventcover%>" border=0  alt="First slide" >
                                                   <h2><span>"<%=event.event.title%>"<span class='spacer'></span><br /><span class='spacer'></span>"<%=event.event.date%>"</span></h2>
                                                   </a>
                                                 </div>                                             
                                            </div>
                                          <%});%>
                                       <%}%>  
                                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                        </a>
                                  </div>

                            </div><!-- End Item -->
                            <div class="tab-pane fade" id="tab2primary">

                                  <div id="myCarousel2" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->
                                       <ol class="carousel-indicators">
                                          <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                                          <li data-target="#myCarousel2" data-slide-to="1"></li>
                                          
                                        </ol>
                                         <div class="carousel-inner" role="listbox">
                                             <div class="item active imagecarousel"><a href="#">
                                               <img src="images/Wo1.jpg" border=0  alt="First slide"></a>
                                             </div>
                                             <div class="item imagecarousel"><a href="#">
                                                <img src="images/Wo2.jpg" border=0  alt="Second slide"></a>
                                             </div>
                                              
                                         </div>
                                        <a class="left carousel-control" href="#myCarousel2" role="button" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel2" role="button" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                        </a>
                                  </div>

                            </div><!-- End Item -->

                            <div class="tab-pane fade" id="tab3primary">

                                  <div id="myCarousel3" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->
                                       <ol class="carousel-indicators">
                                          <li data-target="#myCarousel3" data-slide-to="0" class="active"></li>
                                          <li data-target="#myCarousel3" data-slide-to="1"></li>
                                          <li data-target="#myCarousel3" data-slide-to="2"></li>
                                        </ol>
                                         <div class="carousel-inner" role="listbox">
                                             <div class="item active imagecarousel"><a href="#">
                                               <img src="images/1.jpg" border=0 alt="First slide"></a>
                                             </div>
                                             <div class="item imagecarousel"><a href="#">
                                                <img src="images/2.jpg" border=0 alt="Second slide"></a>
                                             </div>
                                              <div class="item imagecarousel"><a href="#">
                                                <img src="images/5.jpg" border=0  alt="Third slide"></a>
                                              </div>
                                         </div>
                                        <a class="left carousel-control" href="#myCarousel3" role="button" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel3" role="button" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                        </a>
                                  </div>

                            </div><!-- End Item -->

                            <div class="tab-pane fade" id="tab4primary">

                                  <div id="myCarousel4" class="carousel slide" data-ride="carousel" >
      <!-- Indicators -->
                                       <ol class="carousel-indicators">
                                          <li data-target="#myCarousel4" data-slide-to="0" class="active"></li>
                                          <li data-target="#myCarousel4" data-slide-to="1"></li>
                                          <li data-target="#myCarousel4" data-slide-to="2"></li>
                                          <li data-target="#myCarousel4" data-slide-to="3"></li>
                                          <li data-target="#myCarousel4" data-slide-to="4"></li>
                                        </ol>
                                         <div class="carousel-inner" role="listbox">
                                             <div class="item active imagecarousel"><a href="#">
                                               <img src="images/Ev1.jpg" border=0 alt="First slide"></a>
                                             </div>
                                             <div class="item imagecarousel"><a href="#">
                                                <img src="images/Ev2.jpg" border=0 alt="Second slide"></a>
                                             </div>
                                              <div class="item imagecarousel"><a href="#">
                                                <img src="images/Ev3.jpg" border=0  alt="Third slide"></a>
                                              </div>
                                              <div class="item imagecarousel"><a href="#">
                                                <img src="images/Ev4.jpg" border=0  alt="Fourth slide"></a>
                                              </div>
                                              <div class="item imagecarousel"><a href="#">
                                                <img src="images/Ev5.jpg" border=0  alt="Fifth slide"></a>
                                              </div>
                                         </div>
                                        <a class="left carousel-control" href="#myCarousel4" role="button" data-slide="prev">
                                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                          <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="right carousel-control" href="#myCarousel4" role="button" data-slide="next">
                                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                          <span class="sr-only">Next</span>
                                        </a>
                                  </div>

                            </div><!-- End Item -->

                  
                        </div><!-- End Carousel Inner -->

                     </div>



      </div>   
</div><!-- End Carousel -->
    
<div class="input-group col-md-5"> <h2>Recent requests for artists</h2>

    <input id="filter" type="text" class="form-control" placeholder="Type your search key">
      <table class="table table-striped">
      <thead>
          <tr>
              <th>Posted On</th>
              <th>Searching for</th>
              <th>Artists needed</th>
              <th>City</th>
          </tr>
      </thead>
      <tbody class="searchable">
        
        <% console.log("length of post is " + postss.length)
        for(var i=0; i < postss.length; i++) { %>
          <tr>
          <td><%= postss[i].date %></td>
          <td><%= postss[i].postTitle %></td>
          <td><%= postss[i].role %></td>
          <td><%= postss[i].city %></td>
          </tr>
        <% } %>
          
          
          
      </tbody>
  </table>
</div>


  



             
<!-- sapce for text        
<div class="container">
 <div class="row">
<h2 style="text-align:center "><font style="font-family:timesnewroman" size="100" color="white">Random caption</font></h2>
</div>
</div>
<div class="container">
  <div>
  <p><font style="font-family:timesnewroman" size="50" color="white"> Movies will make you famous,Television will make you rich,but the Theartre will make you good at what you are.</font></p>
</div>
</div>--> 
  


  <div class="container" >
      <div class="col-md-12 no-margin no-padding" style="height:100%">
            <h1 class="page-header">Buzzing around you </h1>

            <div class="row">
                <div class="col-xs-4 col-sm-4 ">
                  <img src="images/a1.jpg" class="img-responsive" >
                  <h4><a href="/artists">Artists near you</a></h4>
                  
                </div>
                <div class="col-xs-4 col-sm-4 ">
                  <img src="images/m1.jpg" class="img-responsive" >
                  <h4><a href="">Events in your city</a></h4>
                 
                </div>
                <div class="col-xs-4 col-sm-4 ">
                  <img src="images/p1.jpg" class="img-responsive">
                  <h4><a href="/viewallposts">Browse recent requests</a></h4>
                </div>
            </div>
      </div>
  </div>

</div>


         

   <!-- footer starts-->
   <div id = "footer"></div>
   <!-- footer ends-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">

  
  
    
$("#footer").load("footer.ejs"); 
        $(document).ready( function() {
              $('[id^=mycarousel]').carousel({
              interval:   4000
            });
            
            var clickEvent = false;
           $('[id^=mycarousel]').on('click', '.nav a', function() {
                clickEvent = true;
                $('.nav li').removeClass('active');
                $(this).parent().addClass('active');    
            }).on('slid.bs.carousel', function(e) {
              if(!clickEvent) {
                var count = $('.nav').children().length -1;
                var current = $('.nav li.active');
                current.removeClass('active').next().addClass('active');
                var id = parseInt(current.data('slide-to'));
                if(count == id) {
                  $('.nav li').first().addClass('active');  
                }
              }
              clickEvent = false;
            });
          });
          
        $(document).ready(function(){
          $('[id=filter]').on("keyup", function(){
                      
                      var rex = new RegExp($(this).val(), 'i');
                      $('.searchable tr').hide();
                      $('.searchable tr').filter(function () {
                          return rex.test($(this).text());
                      }).show();
                  //})
          });
         }(jQuery));

          $('#openBtn').click(function(){
              $('#myModal').modal({show:true})
            });
    </script>
  </body>
</html>
