
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="MOTLEYMEOW. Hear the artists meow."/>
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://www.motleymeow.com" />
    <title>Motleymeow.com home page</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-dialog.js"></script>
    <link href="css/style.css" rel="stylesheet">       
    <link href="css/tab.css" rel="stylesheet">
    <link href="indexPage/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/bootstrap-dialog.css" rel="stylesheet">
       
 
  </head>
  
  <body>

<% getDate = function(x) {
            var retDate;
            MM = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 
              10:"October", 11:"November", 12:"December"};

            xx = x.replace(
                  /(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2}).(\d{3})Z/,
                  function($1,$2,$3,$4,$5,$6,$7, $8){                      
                      retDate= MM[parseInt($3)]+" "+$4+", "+$2
                  }
                ); 
            return retDate;
        }
    %>
<% if(typeof user != 'undefined' && user!=null) { %>
 <div id = "headerloggedin"> 
  <nav class="navbar navbar-inverse navbar-static-top no-margin">
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    <script>
        FB.init({
          appId:1381852852123169,
          cookie:true,
          status:true,
          xfbml:true
        });

    function FacebookInviteFriends()
    {
    FB.ui({
        method: 'send',
        name: 'Check out this site!',
        description: 'EXPLORE. CONNECT. CONTRIBUTE!',
        link: 'http://www.motleymeow.com',
    });
    }
    </script>
  <div class="container-fluid">
    

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
                data-target="#bs-project2-navbar-collapse-1" style = "outline: 0px none;">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home" style = "color: #FBF7F7; font-size: 20px;"><img class="highlighted" src ="images/MotleyMeow-logo02.gif" style="max-width:200px;max-height:200px;"> </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-project2-navbar-collapse-1">
            
                <ul class="nav navbar-nav" id="headerlist" style="font-size:16px;">
                  <li class="active"><a href="/home">Home <span class="sr-only">(current)</span></a></li>
                   <li><a href="/profile">Update profile <span class="sr-only">(current)</span></a></li>
                   <li><a href="/postarequest">Post a request<span class="sr-only">(current)</span></a></li>
                   </li> 
                   <li ><a href="/searchPosts">Your posts<span class="sr-only">(current)</span></a></li>
                   <li><a href="/postevents">Post event from FB <span class="sr-only">(current)</span></a></li>
                   <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Browse</a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="/artists">Browse Artists</a></li>
                          <li><a href="/viewallposts">Browse Posts</a></li> 
                          <li><a href="/allevents">Browse Events</a></li>            
                      </ul>           
                   </li>
                    <li><a href="/comingsoon">Coming soon <span class="sr-only">(current)</span></a></li>
                </ul>

            <ul class="nav navbar-right navbar-nav">           
                  <li style = "padding-right:30px;"><a class="btn" href="#" onclick="doorbell.show(); return false;" style="background-color: #F5F5F5;color: #1B1A1A;font-size: 16px;">Send us a quick meow</a></li>
                  <li><a class="btn btn-primary" onclick="FacebookInviteFriends();" style = "font-size: 16px;color: #F5F5F5; background-color: #132290;"> Invite your friends<span class="sr-only">(current)</span></a></li>       
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img id="userPic" alt="" src="<%=user.local.picture%>" style="max-height:30px;padding-bottom:0px;" class="img-circle"/><i class="glyphicon glyphicon-chevron-down" style = "padding-left: 10px; color: #E9E1E1;"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="/profile">Profile</a></li>
                      <li><a href="/logout">Logout</a></li>
                      
                    </ul>
                  </li>
             </ul>  
          </div>
    </div>
  </nav>
</div>
 <% } else { %>
 <div id = "headerloggedout">
  <nav class="navbar navbar-inverse navbar-fixed-top no-margin">
    <div class="container-fluid">
      

          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-project2-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MotleyMeow </a>
          </div>

          <div class="collapse navbar-collapse" id="bs-project2-navbar-collapse-1">
              

               <ul class="nav nav-bar pull-right">
                          
                  <li><a class="btn btn-default"  href="/auth/facebook">Login with facebook</a></li>
                
              </ul>
                
        </div>
    </div>
  </nav>
 </div>
<%}%> 
<% var citysel = user.local.city %>
<div class = "main-container" >
    <!--<div class="col-md-12" style = "text-align: center;">
    <h3 class = "thtrexplore">
      EXPLORE. CONNECT. CONTRIBUTE.
     </h3>
  </div>-->
  
  <div class="container">
    <h2 class="title" style= "text-align:center;">Meeoowww <strong> <%= user.facebook.name %>! </strong></h2>
    <h3 style= "text-align:center;"><b>Let's bell the cat!</b></h3>
    <% if (typeof citysel == 'undefined' || citysel == "" || citysel == "None") { %>
    <h4 style= "text-align:center;"><small> Your location is not set currently and your current email id is set to "<%= user.facebook.email %>". You can always update your location and email id through <a href="/profile">"update profile"</a> and keep yourself updated about happenings in your city only.</small></h4>
    <% } else { %>  
    <h4 style= "text-align:center;"><small> Your current email id is set to "<%= user.facebook.email %>". You can always <a href="/profile">"update it here"</a> to keep yourself updated about latest happenings.</small></h4>
    <% } %>

    <hr class="half-rule">

    <div class="Landingrow">
      <div>&nbsp;</div>
   <div>&nbsp;</div>
      <div class="col-md-6 col-xs-6 divrowleft">
        <a href="/profile" title="Update your profile" data-toggle="tooltip" style= "text-decoration: none;"><i class="homepageicon glyphicon glyphicon-user" style="color:rgba(249, 243, 243, 0.95);"></i><br/><label class="labelrow">PROFILE</label></a>
      </div>
      <div class="col-md-6 col-xs-6 divrowright">
        <a href="/artists" title="Browse artists, posts, events" data-toggle="tooltip" style= "text-decoration: none;"><i class="homepageicon icon icon-search" style="color:rgba(249, 243, 243, 0.95);"></i><br/><label class="labelrow">SEARCH</label></a>

      </div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div>&nbsp;</div>
      <div class="col-md-4 col-xs-4 divrowleft">
        <a href="/postarequest" title="Post a request" data-toggle="tooltip" style= "text-decoration: none;"><i class="homepageicon glyphicon glyphicon-edit" style="color:rgba(249, 243, 243, 0.95);"></i><br/><label class="labelrow">POST</label></a>
       
      </div>
       <div class="col-md-4 col-xs-4">
      </div>
      <div class="col-md-4 col-xs-4 divrowright">
        <a href="/allevents" title="Browse Events" data-toggle="tooltip" style= "text-decoration: none;"><i class="homepageicon icon icon-eye-open" style="color:rgba(249, 243, 243, 0.95);"></i><br/><label class="labelrow">EVENTS</label></a>
        
      </div>
    </div>
    <hr class="half-rule">
    
  </div>
  
  <div id = "recentPosts" class="col-md-6" style="vertical-align:top;">
    <% if (typeof citysel == 'undefined' || citysel == "" || citysel == "None") { %>
        <h2><a href = "/viewallposts">Recent posts in all locations(Click here for more)</a></h2> 
     <% } else { %>
        <h2><a href = "/viewallposts">Recent posts in <%=citysel%> (Click here for more)</a></h2>    
     <% } %>   
    <table id="postsTable" class="table table-striped">
      <thead>
          <tr>
              <th class ="titlecol" style="text-align:left">Looking for</th>
              <th class ="contribcol" style="text-align:left">artists required</th>
              <th class ="citycol" style="text-align:left">in the city</th>
              <th class ="fbprofilecol" style="text-align:left">Details</th>          
          </tr>
      </thead>
      <tbody class="searchablewe">
        
        <% 
        if(typeof postss == 'undefined' || postss.length == 0) { %>
          <tr> <td colspan="4">No posts in the last few days. Search for more posts <a href = "/viewallposts">here</a></td></tr>

        <%}  else { %>
                <% for(var i=0; i < postss.length; i++) { %>
                  <tr>
                  <td><%= postss[i].post.postTitle %></td>
                  <td><%= postss[i].post.role %></td>
                  <td><%= postss[i].post.city %></td>
                  
                        <td><button id ="view" name="<%=postss[i]._id%>"> <span class="glyphicon glyphicon-info-sign"></span></button></td>
                        <input id="_id<%=postss[i]._id%>" name="_id"  type="hidden" value=<%=postss[i].post.userid%>>
                        <input id="_postid<%=postss[i]._id%>"  type="hidden" value=<%=postss[i]._id%>>
                   
                  </tr>
                <% } %>
           <%}%>     
          
          
          
      </tbody>
    </table>
    <script>

    $('button[id="view"]').on('click', function(e){
     
      var buttonname = $(this).attr('name');
      var postusername = '_id' + buttonname;
      var postname = '_postid' + buttonname;
      var postval = $('#'+ postname).val();
      var postUserVal = $('#' + postusername).val();
      
     

      var form = $('#viewPost');
      $('#postid').val(postval)
      form.submit();
      
        
    });
    </script>
  </div>
  <form id="viewPost" action="/viewpost" method="GET">
    <input id = "postid" name="postid"  type="hidden">
  </form>
  

  <div id="recentArtists" class="col-md-6" style="vertical-align:top;"> 
    <h2><a href = "/artists">Recent artists joined all locations (Browse them all)</a></h2>
    <table id="artistsTable" class="table table-striped">
      <thead>
          <tr>
              <th class ="namecol" style="text-align:left">Name</th>
              <th class ="contribcol" style="text-align:left">Contribution in Theatre</th>
              <th class ="citycol" style="text-align:left">City</th>
              <th class ="fbprofilecol" style="text-align:left">FB profile</th>
          </tr>
      </thead>
      <tbody class="searchable">
        
                <% if (typeof users != 'undefined') { 
                  for(var i=0; i < users.length; i++) { %>
                    <tr>
                    <td><%= users[i].facebook.name%></td>
                      <% if(typeof users[i].local.role == 'undefined' || users[i].local.role.length == 0) { %>
                            <td>Not updated yet</td>
                      <% } else { %>  
                            <td><%= users[i].local.role %></td>
                      <% } %>            

                       <% if(typeof users[i].local.city == 'undefined' || users[i].local.city == "") { %>
                            <td>Not Set</td>
                          <% } else { %>  
                            <td><%= users[i].local.city %></td>
                          <% } %> 
                        <% if(users[i].facebook.link) { %>
                            <td><a href = "<%=users[i].facebook.link%>" target="_blank"><img alt="" src=<%= users[i].local.picture %> class="img-circle" style="max-height:30px;max-width:30px"></a></td>
                        <% } else { %>
                            <td>Not shared</td>
                        <% } %>
                    
                    </tr>
                  <%}%>     
                <%}%>  
          
          
          
      </tbody>
     </table>
  </div>     
  
  
  <div id="slide-3" style="clear:both;">
    <% if (typeof citysel == 'undefined' || citysel == "" || citysel == "None") { %>
        <h2 style="text-align:center;"><a href="/allevents" >Upcoming Events in all locations(Browse all here)</a></h2>
     <% } else { %>
        <h2 style="text-align:center;"><a href="/allevents" >Upcoming Events in <%=citysel%> (Browse all here)</a></h2>   
     <% } %>
      
      <% if (typeof events != 'undefined' && events != null && events.length != 0) { %>
        <div id="arrows" style="display:none">
          <div id="arrow-left"></div>
          <div id="arrow-right"></div>
        </div>

          <div class="row" style="position:relative">
          <% for(var i = 0; i < events.length; i++) {%>
              <%  var d = new Date(events[i].event.date).toISOString();
                    var displayableDate = getDate(d);
              %>
              <div class="col-12" style="padding-left:25px;padding-right:25px;">
                    <a href = "<%=events[i].event.link%>" target="_blank" style="max-width:250px;max-height:200px;text-decoration: none;">
                      <img src="<%=events[i].event.eventcover%>" border=0   style="max-width:250px;max-height:200px;"/>
                      <span style="color:#FFF9F9;font-size:small;position:relative;width:100%;"><%=events[i].event.title%></span>
                      <span style="color:#FFF9F9;font-size:small;position:relative;width:100%;"> on <%=displayableDate%></span>
                      <span style="color:#FFF9F9;font-size:small;position:relative;width:100%;"> in <%=events[i].event.city%></span>

                    </a>

              </div>
              
          <% }  %>
          </div><!-- /row -->
      
      <% } else { %>  
      <h3 style="text-align:center;"><a href="/allevents" >Sorry, no recent events posted in <%=citysel%>, click here to search events in other locations</a></h3>   
      <% } %>
    </div><!-- /slide3 -->
  
    

</div>



         

   <div id = "footer"></div>
 
  <% var city = user.local.city;
     console.log("cityyyyyyyy: "+city);
     if(city == 'None') { %>
        <div class="form-group panel-body" id="myCity" style="margin:0px;padding:0px;">
            <label class="col-sm-6 control-label" for="city" style="padding:0px;">Location</label>
            <div class="col-sm-6"><select class="form-control" id="myCityForm" value="<%= user.local.city %>" name="city">
              <% var cities = dropdowns.alldropdowns.cities;
                  for(var i = 0; i < cities.length; i ++) {   %> 
                        <option value = "<%=cities[i].city%>"><%=cities[i].text%></option>
              <!-- <option>Bengaluru</option><option>Chennai</option><option>Delhi</option><option>Mumbai</option><option>Kolkata</option><option>None Of the above</option></select> -->
              <% } %>
            </select></div>
            <div id="myRole" class="form-group">
              <label class="control-label">What kind of Artist are you?</label> 
              <br>
              <% var roles = dropdowns.alldropdowns.rolesForPost;
                for(var i = 0; i < roles.length; i ++) {   %> 
                  <div class = "col-sm-6">
                    <label class="checkbox-inline">
                          <input type="checkbox" id="checkboxinline<%=roles[i].role%>" name="role" value="<%=roles[i].role%>" ><%=roles[i].text%>
                    </label>
                 </div>  
               <% } %>
                <!-- <div class = "col-sm-6">
                  <label class="checkbox-inline col-sm-3">
                        <input type="checkbox" id="checkboxinlineActing" name="role" value="Actor" > Acting
                  </label>
               </div>  
                <div class = "col-sm-6">
                  <label class="checkbox-inline">
                        <input type="checkbox" id="checkboxinlineDirecting" name="role" value="Director" > Direction
                  </label>
                </div> 
                <div class = "col-sm-6">
                  <label class="checkbox-inline">
                        <input type="checkbox" id="checkboxinlineSound" name="role" value="Sound" > Sound
                  </label>
                 </div> 
                <div class = "col-sm-6">
                  <label class="checkbox-inline">
                        <input type="checkbox" id="checkboxinlineLights" name="role" value="Lights" > Lights Design
                  </label>
                 </div> 
                <div class = "col-sm-6">
                  <label class="checkbox-inline">
                        <input type="checkbox" id="checkboxinlineMusic" name="role" value="Music" > Music
                  </label>
                 </div> 
                <div class = "col-sm-6">
                  <label class="checkbox-inline">
                        <input type="checkbox" id="checkboxinlineScriptwriting" name="role" value="Scriptwriter" > Scriptwriting
                  </label>
                </div> 
               <div class = "col-sm-6">
                  <label class="checkbox-inline">
                        <input type="checkbox" id="checkboxinlineCostume" name="role" value="Costume" > Costume Designing
                  </label>
                 </div> 
                <div class = "col-sm-6">
                  <label class="checkbox-inline">
                        <input type="checkbox" id="checkboxinlineSetDesign" name="role"  value="SetDesign" > Set Designing
                  </label>
                </div> -->
                <div class = "col-sm-12 col-md-12">
                  <label class="checkbox-inline">
                        <input type="checkbox" id="checkboxinlineAudience" name="role"  value="Audience"> <strong  style="font-size:16px;"><b>I am mostly a member of audience</b>
                  </label>
                </div>
              
                
            </div>
            
            <button id="donebtn" class="btn btn-primary pull-left" style="margin-top:30px;">DONE</button>
            <button id="closebtn" class="btn btn-warning pull-right" style="margin-top:30px;">Don't bore me now, will fill later</button>
        </div>
        <script type="text/javascript">

           
          $(document).ready(function(){
            var dialog = new BootstrapDialog({
            message: function(dialogRef){
                var $message = $('<div></div>');
                var $button = $('#donebtn');
                var $closeButton = $('#closebtn');
                
                $button.on('click', {dialogRef: dialogRef}, function(event){
                  var roles = $('input:checkbox[name="role"]:checked').map(function() {
                              return this.value;
                                }).get().join(',');
                  console.log("rolesssssssssssssss: "+roles);
                  var citiesss = $('select[name="city"]')[0].value;
                  console.log("citiesssssssss: "+citiesss);
                  if(citiesss == "None Of the above") citiesss = "";
                  console.log("citiesssssssss: "+citiesss);
                  event.data.dialogRef.close();
                  $.ajax({
                        url: "/getCity",
                        type: "POST",
                        data: {role: roles,city: citiesss},
                        // data: {$("#myCityForm").serialize(), role: roles},
                        success: function (data) {
                            console.log("City and role saved ");
                            location.reload();
                        },
                        error: function (data) {
                            console.log("some error " + data);
                        }
                        
                  });

                });

                $closeButton.on('click', {dialogRef: dialogRef}, function(event){
                    $.ajax({
                        url: "/getCity",
                        type: "POST",
                        data: {city: ""},
                        // data: {$("#myCityForm").serialize(), role: roles},
                        success: function (data) {
                            console.log("City and role saved ");
                        },
                        error: function (data) {
                            console.log("some error " + data);
                        }
                        
                    });
                    event.data.dialogRef.close();
                });
                // $message.append($selectedCity).append($button);
                $message.append($('#myCity'));
        
                return $message;
              },
              closable: false
          });
          dialog.realize();
          dialog.setTitle("Just very quickly add these basic info about yourself. You can change it in your profile section anytime");
          dialog.getModalHeader().show();
          dialog.getModalHeader().css('padding', '10px');
          dialog.getModalBody().css('background-color', '#1E485D');
          dialog.getModalBody().css('color', '#fff');
          dialog.open();
        });
          
        </script>      
  <% } %>

  <script src="js/jquery-1.10.2.min.js"></script>
  <script src="js/jquery-migrate-1.2.1.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/imageCarousel.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61218032-1', 'auto');
    ga('send', 'pageview');

  </script>
  <script type="text/javascript">

    
$("#footer").load("footer.ejs"); 
  var isMobile = {
                Android: function() {
                return navigator.userAgent.match(/Android/i);
                },
                BlackBerry: function() {
                return navigator.userAgent.match(/BlackBerry/i);
                },
                iOS: function() {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i);
                },
                Opera: function() {
                return navigator.userAgent.match(/Opera Mini/i);
                },
                Windows: function() {
                return navigator.userAgent.match(/IEMobile/i);
                },
                any: function() {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
                }
            };
// $("#headerloggedin").load("/header");
// $("#headerloggedout").load("headerloggedout.ejs");
// $("#recentArtists").load("/getRecentArtists");
// $("#recentPosts").load("/getRecentPosts");

        $(document).ready(function() {
          if(isMobile.any()) {
            $('#arrows').show();
          }  
          var timerId;
          timerId = setInterval(function() {
            $("#recentArtists").load("/getRecentArtists");
            $("#recentPosts").load("/getRecentPosts");
          }, 20000); 
          var myEvent = window.attachEvent || window.addEventListener;
          var chkevent = window.attachEvent ? 'onbeforeunload' : 'beforeunload'; /// make IE7, IE8 compitable

          myEvent(chkevent, function(e) { // For >=IE7, Chrome, Firefox
              console.log("Clearing the interval")
              clearInterval(timerId);
          });
          
    });

   
        
          
    </script>
     <script type="text/javascript">
    window.doorbellOptions = {
        appKey: 'RBfxeEyxzCGspIWdwQo1gsvxmz18EdLX6cFO9Zw4ZFz0uKzuL2Z2e46hbl5WGpRH'
    };
    (function(d, t) {
        var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://doorbell.io/button/978?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g);
    }(document, 'script'));
</script>
  </body>
</html>
