
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
       <link href="css/dropdowns-enhancement.css" rel="stylesheet">        
        <link href="css/bootstrap.min.css" rel="stylesheet">   
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <link href="css/style.css" rel="stylesheet">       
        <link href="css/tab.css" rel="stylesheet">
 

        
  </head>
  
<body>


<% if(typeof user != 'undefined' && user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout"></div>
<%}%> 
<% getDate = function(x) {
            var retDate;
            MM = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 
              10:"October", 11:"November", 12:"December"};

            xx = x.replace(
                  /(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2}).(\d{3})Z/,
                  function($1,$2,$3,$4,$5,$6,$7, $8){                      
                      retDate= MM[parseInt($3)]+" "+$4+", "+$2+" - "+$5+":"+$6 + "hrs"
                  }
                ); 
            return retDate;
        }
%>
<div class = "main-container">
    <!--<div class="col-md-12" style = "text-align: center;">
    <h3 class = "thtrexplore">
      EXPLORE. CONNECT. CONTRIBUTE.
     </h3>
  </div>-->
  <div class="col-md-12 no-margin no-padding" style = "text-align: center;" id = "searchartists">
    <h3>
      YOUR POSTS
    </h3>
  </div>  
    
  <div class="row col-md-8 col-md-offset-2">
    <div>
      <div class="table-responsive">
        <table id="mytable" class="table table-bordered table-striped">
          <thead>
           <th>I Posted on</th>
           <th>Artists needed</th>
           <th>For</th>
           <th>In the city</th>
           <th>Edit</th>
           <th>Delete</th>
           <th>View</th>
          </thead>
          <tbody class="searchable">
                    
            <% var posts = postdb; 
            
              for (var i = 0; i < posts.length; i ++) { 

              %>
              <% var isodateString = new Date(posts[i].post.date).toISOString();
                                    var displayableDate = getDate(isodateString) %>
                <tr>
                  <td><%=displayableDate%></td>
                  <td><%= posts[i].post.role %></td>
                  <td><%= posts[i].post.postTitle %></td>
                  <td><%= posts[i].post.city %></td>
                   <form action="/editpost" method="POST">
                    <td style = "text-align:center;"><p data-placement="top" data-toggle="tooltip" title="Edit"><button id ="edit" ><span class="glyphicon glyphicon-pencil"></span></button></p></td>
                    <input name="_id"  type="hidden" value=<%=posts[i].post.userid%>>
                    <input name="_postid"  type="hidden" value=<%=posts[i]._id%>>
                    </form>
                   
                    <form action="/deletepost" method="POST" id="deleteMeremovePost<%=posts[i]._id%>">
                    <td style = "text-align:center;"><p data-placement="top" data-toggle="tooltip" title="Delete"><button id ="delete" name="removePost<%=posts[i]._id%>" type="submit"><span class="glyphicon glyphicon-trash"></span></button></p></td>
                    <input name="_id"  type="hidden" value=<%=posts[i].post.userid%>>
                    <input name="_postid"  type="hidden" value=<%=posts[i]._id%>>
                    </form>

                    

                  <!--  <form action="/viewpost" method="GET"> -->
                      <td style = "text-align:center;"><a href="/viewpost?postid=<%=posts[i]._id%>" id ="view" name="<%=posts[i]._id%>"> <span class="glyphicon glyphicon-info-sign"></span></a></td>
                      <input name="postid"  type="hidden" value=<%=posts[i]._id%>>
                    <!-- </form> -->
                          
                          
                          
                  </tr> 
                     
            <% } %>
                      
          </tbody>
        </table>
      </div>
    </div>      
  </div>
</div>
 



  <div id = "footer"></div>
  <div class="modal fade col-lg-12" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="open-ViewDialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <input type="hidden" name="vewPostTitle" id="vewPostTitle" value=""/>

              <h4 class="modal-title" id="myModalLabel">Post details</h4>
            </div>
            <div class="modal-body">

              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Post Title:</label>
                      <div class="col-sm-8">
                        <div >
                          <label>
                              <p id = "viewPostTitle" class="form-control-static"></p>
                          </label>
                        </div>
                      </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Post Detail:</label>
                      <div class="col-sm-8">
                        <div >
                          <label>
                              <p id = "viewPostDesc" class="form-control-static"></p>
                          </label>
                        </div>
                      </div>
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div> 
     </div> 


    <div class="modal fade col-lg-12" id="deleteModal">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header">
                  Confirm Delete
              </div>
              <div class="modal-body">
                  Are you sure you want to delete the post?
              </div>
              <div class="modal-footer">
                <button type="button" data-dismiss="modal" class="btn btn-primary" id="deleteModal">Delete</button>
                <button type="button" data-dismiss="modal" class="btn">Cancel</button>
              </div>
          </div>
        </div>  
    </div>
       
   <!-- footer ends-->
    <script type="text/javascript">
    // $('#myModal').modal({
    //     keyboard: false,
    // )};

    $("#footer").load("footer.ejs"); 
    $("#headerloggedin").load("/header");
    $("#headerloggedout").load("headerloggedout.ejs");
    $(document).ready(function(){

      $('#mytable').DataTable();
    });

    $('button[id="delete"]').on('click', function(e){
      var deletename = $(this).attr('name');
      var formname = "deleteMe" + deletename;
      e.preventDefault();
      $('#deleteModal').modal({ backdrop: 'static', keyboard: false })
          .one('click', '#deleteModal', function() {

              document.getElementById(formname).submit(); // submit the form
      });
        
    });



    $( "#viewModal" ).submit(function( event ) {
        alert( "Handler for .submit() called." );
        alert("post id" + $('#_postid').val());
        event.preventDefault();
    });

    function callPostView(postTitle, description) {
        $('#myModal').modal().show();
        var title = document.getElementById('viewPostTitle');
        title.innerHTML = postTitle;
        var desc = document.getElementById('viewPostDesc');
        var postDesc;
        var arryDesc = description;
        desc.innerHTML = description;

    }


    
    </script>
  </body>
</html>
