
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">       
        <link href="css/tab.css" rel="stylesheet">
  </head>
  <script type="text/javascript">
 
    $(document).ready(function() {
        var panels = $('.user-infos');
        var panelsButton = $('.dropdown-user');
        panels.hide();

        //Click dropdown
        panelsButton.click(function() {
            //get data-for attribute
            var dataFor = $(this).attr('data-for');
            var idFor = $(dataFor);

            //current button
            var currentButton = $(this);
            idFor.slideToggle(400, function() {
                //Completed slidetoggle
                if(idFor.is(':visible'))
                {
                    currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
                }
                else
                {
                    currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
                }
            })
        });
      });
   </script> 
  <body>


<nav class="navbar navbar-inverse navbar-static-top no-margin">
  <div class="container-fluid">
    

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-project2-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BuzzingArtists </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-project2-navbar-collapse-1">
            <% if(user!=null) { %>
                <ul class="nav navbar-nav">
                  <li class="active"><a href="/home">Home <span class="sr-only">(current)</span></a></li>
                   <li ><a href="/profile">Update profile <span class="sr-only">(current)</span></a></li>
                   <li><a href="#" class="dropdown-toggle" data-toggle="dropdown">Need artists? </a>
                      <ul class="dropdown-menu" role="menu">
                          <li><a href="/postarequest">Post a request</a></li>
                          <li><a href="/browserequests">Browse</a></li>                      
                      </ul>
                   </li> 
                   <li ><a href="#">Your posts<span class="sr-only">(current)</span></a></li>
                </ul>

            <ul class="nav navbar-right navbar-nav">                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="/profile">Profile</a></li>
                      <li><a href="/logout">Logout</a></li>
                      
                    </ul>
                  </li>
             </ul>  
             <%} else { %>
             <ul class="nav nav-bar pull-right">
                        
                <li><a class="btn btn-primary navbar-btn" href="/auth/facebook">Join us</a></li>
              
            </ul>
             <% } %> 
      </div>
  </div>
</nav>

<div class = "main-container">



  <div class="col-md-12 no-margin no-padding" style = "text-align: center;">
    <form class="form-horizontal" action="/post" method="post">
    

    <!-- Form Name -->
    <legend>Post a request</legend>

    <!-- Textarea -->
    <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
    <div class="control-group">
        <label class="control-label" for="textarea">Title of the request</label>
        <div class="controls">  

        <% if (typeof post != 'undefined' && post!= null) { %>   
         <input name="_postid"  type="hidden" value=<%=post._id%>>              
        <input type="textarea" name="postTitle" id="title" class="input-lg" style="text-align: center; width: 40%;" value= "<%=post.post.postTitle%>"> </input>
        <% } else { %> 
          <input type="textarea" name="postTitle" id="title" class="input-lg" placeholder="Need an actor etc." style="text-align: center; width: 40%;" value=""> </input>
        <% } %>
        </div>
     </div>   
      
      <div class="control-group">
        <label class="control-label" for="textarea">Copy paste the requirement from FB or write it down</label>
        
          <div class="controls">                
        <% if (typeof post != 'undefined' && post!= null) { %>       
            <textarea id="textarea" name="post" style="width:60%;min-height:300px;" rows=6><%=post.post.postDetail%></textarea>
        <%} else { %>   
            <textarea id="textarea" name="post" style="width:60%;min-height:300px;"rows=6></textarea>
        <%}%> 
      </div>

      <div class="control-group col-md-12">
      <label class="control-label" for="checkboxes">Select the city</label>
      <div class="controls">
        <label class="checkbox-inline" for="checkboxes-0">
          <input name="city" id="checkboxes-0" type="checkbox" value="Bengaluru">
         Bengaluru
        </label>
        <label class="checkbox-inline" for="checkboxes-1">
          <input name="city" id="checkboxes-1" type="checkbox"  value="Chennai">
         Chennai
        </label>
        <label class="checkbox-inline" for="checkboxes-3">
          <input name="city" id="checkboxes-3" type="checkbox" value="Mumbai">
          Mumbai
        </label>
        <label class="checkbox-inline" for="checkboxes-4">
          <input name="city" id="checkboxes-4" type="checkbox" value="Delhi">
          Delhi
        </label>
        <label class="checkbox-inline" for="checkboxes-5">
          <input name="cityAll" class = "allcities" id="checkboxes-5" value="5" type="checkbox" onchange="checkAllCity(this)">
          Select All
        </label>
      </div>
    </div>

    <!--</div>-->
    <!-- Multiple Checkboxes -->
    <div class="control-group">
      <label class="control-label" for="checkboxes">Select artists you need</label>
      <div class="controls">
        <label class="checkbox-inline" for="checkboxes-6">
          <input name="role" id="actor" value="Actor" type="checkbox">
          Actor
        </label>
        <label class="checkbox-inline" for="checkboxes-7">
          <input name="role" id="lights" value="Lights" type="checkbox">
          Lights
        </label>
        <label class="checkbox-inline" for="checkboxes-8">
          <input name="role" id="props" value="Props" type="checkbox">
          Props
        </label>
        <label class="checkbox-inline" for="checkboxes-9">
          <input name="role" id="rehearsal_space" value="Rehearsal Space" type="checkbox">
          Rehearsal Space
        </label>
      </div>
    </div>

    <!-- Multiple Checkboxes (inline) -->
    <div class="control-group col-md-12">
      <label class="control-label" for="checkboxes">Comfortable in languages</label>
      <div class="controls">
        <label class="checkbox-inline" for="checkboxes-8">
          <input name="lang" id="hindi" value="Hindi" type="checkbox">
          Hindi
        </label>
        <label class="checkbox-inline" for="checkboxes-9">
          <input name="lang" id="kannada" value="Kannada" type="checkbox">
         Kannada
        </label>
        <label class="checkbox-inline" for="checkboxes-10">
          <input name="lang" id="bengali" value="Bengali" type="checkbox">
          Bengali
        </label>
        <label class="checkbox-inline" for="checkboxes-11">
          <input name="lang" id="malayalam" value="Malayalam" type="checkbox">
          Malayalam
        </label>
        <label class="checkbox-inline" for="checkboxes-12">
          <input name="lang" id="tamil" value="Tamil" type="checkbox">
          Tamil
        </label>
        <label class="checkbox-inline" for="checkboxes-13">
          <input name="lang" id="english" value="English" type="checkbox">
          English
        </label>
        <label class="checkbox-inline" for="checkboxes-14">
          <input name="langAll" id="checkboxes-14" value="5" type="checkbox" onchange="checkAllLang(this)">
          Select ALL
        </label>
      </div>
    </div>


    <!-- Button -->

                           
    <div class="control-group">
      <label class="control-label" for="submitbutton">Submit your request</label>
      <div class="controls">
        <button id="submitbutton" name="submitbutton" class="btn btn-primary">Submit</button>
      </div>
    </div>

     
    </fieldset>
    </form>
    <input action="action" type="button" value="Back" onclick="history.go(-1);" />
    <!-- <form action="/goback" method="post">
    <div class="control-group">
      <label class="control-label" for="cancelbutton">Exit the page</label>
      <div class="controls">
        <button id="cancelbutton" name="cancelbutton" class="btn btn-primary">Cancel</button>
      </div>
    </div>
  </form> -->

  </div>  
</div>    

         

   <!-- footer starts-->
<footer class="site-footer">
     <div class="container">
        <div class="bottom-footer">
              <ul class="footer-nav">
                <li><a href="p2demo.html">What are we</a></li>
                <li><a href="#">Who are we</a></li>
                <li><a href="#">Where are we</a></li>
              </ul>
        </div>
    
        <div class="cp-footer-links cpfl-social col-sm-12 text-center">
                    <ul class="list-inline">
                        <li><a href="" target="_blank"><img alt="facebook" src="images/fb.png" style="width:28px"></a></li>
                        <li><a href="" target="_blank"><img alt="linkedin" src="images/lin.png" style="width:28px"></a></li>
                        
                    </ul>
        </div>

        <div class="row cp-copyright">
            <div class="col-sm-12 col-xs-12">
                <small>&copy; 2015 | Buzz'ed Pvt. Ltd.  <br class="hidden-sm hidden-md hidden-lg" /> All Rights Reserved. <a href="/view/user-agreement">User Agreement</a> | <a href="/view/privacy">Privacy Policy</a> | <a class="pressKitLink" data-link-position="footer" href="/static/cupickpresskit.zip" target="_blank" download="cupickpresskit.zip">Press Kit</a></small>
            </div>
        </div>
      </div>  
        
  
   </footer>
    
   <!-- footer ends-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">
        
          // $(function() {
          //     alert("here");
              // if ( $( '#allcities' ).prop( "checked" ) ) {
              //   alert("here");
              //   $('input:checkbox[name=city]').prop("checked");
              // }  
              
          function checkAllCity(ele) {

               var checkboxes = document.getElementsByName("city");
               //alert("here" + checkboxes.length);
               if (ele.checked) {
                   for (var i = 0; i < checkboxes.length; i++) {
                       if (checkboxes[i].type == 'checkbox') {
                           checkboxes[i].checked = true;
                       }
                   }
               } else {
                   for (var i = 0; i < checkboxes.length; i++) {
                       console.log(i)
                       if (checkboxes[i].type == 'checkbox') {
                           checkboxes[i].checked = false;
                       }
                   }
               }
           }

           function checkAllLang(ele) {

               var checkboxes = document.getElementsByName("lang");
               //alert("here" + checkboxes.length);
               if (ele.checked) {
                   for (var i = 0; i < checkboxes.length; i++) {
                       if (checkboxes[i].type == 'checkbox') {
                           checkboxes[i].checked = true;
                       }
                   }
               } else {
                   for (var i = 0; i < checkboxes.length; i++) {
                       console.log(i)
                       if (checkboxes[i].type == 'checkbox') {
                           checkboxes[i].checked = false;
                       }
                   }
               }
           }         
          //});

  $(function(){
    
      <% if (typeof post != 'undefined' && post!= null) { %>
          var values_role = '<%=post.post.role%>';
          console.log("values are " + values_role);
          var roleInitValues = values_role.split(",");

          var values_lang = '<%=post.post.lang%>';
          var langInitValues = values_lang.split(",");

          var values_city = '<%=post.post.city%>';
          var cityInitValues = values_city.split(",");

          var values_props = '<%=post.post.props%>';
          var propsInitValues = values_props.split(",");

          var values_rehearsal_space = '<%=post.post.rehearsal_space%>';
          var rehearsal_spaceInitValues = values_rehearsal_space.split(",");

          
          // var initValues = [];
          // for (var prop in values) {
          //     initValues.push(data[values]);
          // }
          //var initValues = _(values).toArray();

           // for(var i = 0; i < initValues.length; i++) { 
           //    alert("length of array " + initValues.length);
           //     alert("values[i]" +initValues[i])
           //    // $("#animesh [value=" + values[i] + "]").prop('checked', true);
           //  } 
            
          $('input[name=role][type=checkbox]').each(function(){
            
            $(this).prop("checked", ($.inArray($(this).val(), roleInitValues) != -1));

         });

          $('input[name=lang][type=checkbox]').each(function(){
            
            $(this).prop("checked", ($.inArray($(this).val(), langInitValues) != -1));

         });

          $('input[name=city][type=checkbox]').each(function(){
            
            $(this).prop("checked", ($.inArray($(this).val(), cityInitValues) != -1));

         });

          $('input[name=rehearsal_space][type=checkbox]').each(function(){
            
            $(this).prop("checked", ($.inArray($(this).val(), rehearsal_spaceInitValues) != -1));

         });

          $('input[name=props][type=checkbox]').each(function(){
            
            $(this).prop("checked", ($.inArray($(this).val(), propsInitValues) != -1));

         });
     <%}%>     

    });
    </script>
  </body>
</html>
