
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">       
        <link href="css/tab.css" rel="stylesheet">
        <link href="css/lightbox.css" rel="stylesheet" />
        
  </head>
  <script type="text/javascript">
 
    $(document).ready(function() {
        var panels = $('.user-infos');
        var panelsButton = $('.dropdown-user');
        panels.hide();

        //Click dropdown
        panelsButton.click(function() {
            //get data-for attribute
            var dataFor = $(this).attr('data-for');
            var idFor = $(dataFor);

            //current button
            var currentButton = $(this);
            idFor.slideToggle(400, function() {
                //Completed slidetoggle
                if(idFor.is(':visible'))
                {
                    currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
                }
                else
                {
                    currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
                }
            })
        });
      });
   </script> 
  <body>


<% if(typeof user != 'undefined' && user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout"></div>
<%}%> 

<div class = "main-container">



  <div class="col-md-12 no-margin no-padding" style = "text-align: center;">
    <form class="form-horizontal" enctype="multipart/form-data" action="/post" method="post">
    

    <!-- Form Name -->
    <legend>Post a request</legend>

    <!-- Textarea -->
    <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
    <div class="control-group">
        <label class="control-label" for="textarea">Title of the request</label>
        <div class="controls">  

        <% if (typeof post != 'undefined' && post!= null) { %>   
         <input name="_postid"  type="hidden" value=<%=post._id%>>              
        <input type="textarea" name="postTitle" id="title" class="input-lg" style="text-align: center; width: 40%;" value= "<%=post.post.postTitle%>"> </input>
        <% } else { %> 
          <input type="textarea" name="postTitle" id="title" class="input-lg" placeholder="Need an actor etc." style="text-align: center; width: 40%;" value=""> </input>
        <% } %>
        </div>
     </div>   
      
      <div class="control-group">
        <label class="control-label" for="textarea">Copy paste the requirement from FB or write it down</label>
        
          <div class="controls">                
        <% if (typeof post != 'undefined' && post!= null) { %>       
            <textarea id="textarea" name="post" style="width:60%;min-height:300px;" rows=6><%=post.post.postDetail%></textarea>
        <%} else { %>   
            <textarea id="textarea" name="post" style="width:60%;min-height:300px;"rows=6></textarea>
        <%}%> 
      </div>

      <div class="control-group col-md-12">
      <label class="control-label" for="checkboxes">Select the city</label>
      <div class="controls">
        <label class="checkbox-inline" for="checkboxes-0">
          <input name="city" id="checkboxes-0" type="checkbox" value="Bengaluru" class ="citycheckbox">
         Bengaluru
        </label>
        <label class="checkbox-inline" for="checkboxes-1">
          <input name="city" id="checkboxes-1" type="checkbox"  value="Chennai"  class ="citycheckbox">
         Chennai
        </label>
        <label class="checkbox-inline" for="checkboxes-3">
          <input name="city" id="checkboxes-3" type="checkbox" value="Mumbai" class ="citycheckbox">
          Mumbai
        </label>
        <label class="checkbox-inline" for="checkboxes-4">
          <input name="city" id="checkboxes-4" type="checkbox" value="Delhi" class ="citycheckbox">
          Delhi
        </label>
        <label class="checkbox-inline" for="checkboxes-5">
          <input name="city" id="checkboxes-5" type="checkbox" value="Kolkata" class ="citycheckbox">
          Kolkata
        </label>
  
        <label class="checkbox-inline" for="allcities">
          <input name="cityAll" class = "allcities" id="allcities" value="6" type="checkbox" onchange="checkAllCity(this)">
          Select All
        </label>
      </div>
    </div>

    <!--</div>-->
    <!-- Multiple Checkboxes -->
    <div class="control-group">
      <label class="control-label" for="checkboxes">Select your need</label>
      <div class="controls">
        <label class="checkbox-inline" for="checkboxes-6">
          <input name="role" id="actor" value="Actor" type="checkbox">
          Actor
        </label>
        <label class="checkbox-inline" for="checkboxes-7">
          <input name="role" id="lights" value="Lights" type="checkbox">
          Lights Design
        </label>
        <label class="checkbox-inline" for="checkboxes-8">
        <input name="role" id="director" value="Director" type="checkbox">
          Director
        </label>
        <label class="checkbox-inline" for="checkboxes-9">
        <input name="role" id="sound" value="Sound" type="checkbox">
          Sound
        </label>
        <label class="checkbox-inline" for="checkboxes-10">
        <input name="role" id="music" value="Music" type="checkbox">
          Music
        </label>
        <label class="checkbox-inline" for="checkboxes-11">
        <input name="role" id="" value="Lights" type="checkbox">
          Scriptwriting or translation
        </label>
        <label class="checkbox-inline" for="checkboxes-12">
        <input name="role" id="costumeDesign" value="Costume" type="checkbox">
          Constime Design
        </label>
        <label class="checkbox-inline" for="checkboxes-13">
        <input name="role" id="setDesign" value="SetDesign" type="checkbox">
          Set Design
        </label>
       </div> 
     </diV>
     <div class = "control-group">
      <label class="control-label" for="checkboxes">You can also choose if you need some off-stage help</label>
        <div class="controls">
        <label class="checkbox-inline" for="checkboxes-14">
          <input name="role" id="props" value="Props" type="checkbox">
          Props
        </label>
        <label class="checkbox-inline" for="checkboxes-15">
          <input name="role" id="rehearsalSpace" value="RehearsalSpace" type="checkbox">
          Rehearsal Space
        </label>
        <label class="checkbox-inline" for="checkboxes-16">
          <input name="role" id="backstageSupport" value="BackStage" type="checkbox">
          Backstage support
        </label>        
      </div>
    </div>

    <!-- Multiple Checkboxes (inline) -->
    <div class="control-group col-md-12">
      <label class="control-label" for="checkboxes">Comfortable in languages</label>
      <div class="controls">
        <label class="checkbox-inline" for="checkboxes-8">
          <input name="lang" id="hindi" value="Hindi" type="checkbox" class ="langcheckbox">
          Hindi
        </label>
        <label class="checkbox-inline" for="checkboxes-9">
          <input name="lang" id="kannada" value="Kannada" type="checkbox" class ="langcheckbox">
         Kannada
        </label>
        <label class="checkbox-inline" for="checkboxes-10">
          <input name="lang" id="bengali" value="Bengali" type="checkbox" class ="langcheckbox">
          Bengali
        </label>
        <label class="checkbox-inline" for="checkboxes-11">
          <input name="lang" id="marathi" value="Marathi" type="checkbox" class ="langcheckbox">
          Malayalam
        </label>
        <label class="checkbox-inline" for="checkboxes-12">
          <input name="lang" id="tamil" value="Tamil" type="checkbox" class ="langcheckbox">
          Tamil
        </label>
        <label class="checkbox-inline" for="checkboxes-13">
          <input name="lang" id="english" value="English" type="checkbox" class ="langcheckbox">
          English
        </label>
        <label class="checkbox-inline" for="allLang">
          <input name="langAll" class ="allLang" id="allLang" value="14" type="checkbox" onchange="checkAllLang(this)">
          Select ALL
        </label>
      </div>
    </div>
    
    <!-- Button -->
    <% if(typeof post!= 'undefined' && typeof post.post != 'undefined' && post.post.imagePath != "") { %>
      <div class="control-group col-md-12"  >
              <label class="control-label" for="checkboxes">Current post image</label><br>

              <a href="uploads/<%=post.post.imagePath%>" data-lightbox="No Image set" data-title="Post's image"><img id="updatedImage" src="uploads/<%=post.post.imagePath%>" alt="No image set" style="max-width:400px;max-height:400px"/></a>

             
              <input id = "imagePost" type="file" class = "imageUpdateField" name = "imagePost" value = "<%=post.post.imagePath%>" style="display:none"/>
              <div style= "vertical-align:top;">
                <a href = "" id="updateImage">Update this image</a>
                <p><a href = "" id="deleteImage">Remove this image</a></p>
              </div>
              <input id = "postedImage" name="postedImage"  type="hidden" value="notChanged"> 

      </div> 
    <% } else  { %>

      <div class="control-group col-md-12">
            <label class="control-label" for="checkboxes">Select an image</label><br>
              <span class="btn btn-default btn-file">
              <a href="" data-lightbox="No Image set" data-title="Post's image">
              <img id="updatedImage" src="" alt="No Image Set" style="display:none;max-width:400px;max-height:400px"/></a>
              <input id = "imagePost" type="file" class = "imageUpdateField" name = "imagePost"/>
              
                <a href = "" id="updateImage" style="display:none">Update this image</a>
                <a href = "" id="deleteImage" style="display:none">Remove this image</a>
                <input id = "postedImage" name="postedImage"  type="hidden" value="notChanged">
              </span>
      </div>    
    <% } %>    
                           
    <div class="control-group">
      <label class="control-label" for="submitbutton">Submit your request</label>
      <div class="controls">
        <button id="submitbutton" name="submitbutton" class="btn btn-primary">Submit</button>
      </div>
    </div>

     
    </fieldset>
    </form>
<!--     <form id="uploadForm"
        enctype="multipart/form-data"
        action="/postPhotos"
        method="post"> 
  -->      
<!--       </form>  
      <span id="status" />
      <img id="uploadedImage" /> -->
    <a href="/searchPosts">
      <input type="button" value="Back" />
    </a>
    <!-- <form action="/goback" method="post">
    <div class="control-group">
      <label class="control-label" for="cancelbutton">Exit the page</label>
      <div class="controls">
        <button id="cancelbutton" name="cancelbutton" class="btn btn-primary">Cancel</button>
      </div>
    </div>
  </form> -->

  </div>  
</div>    

         

    <!-- footer starts-->
   <div id = "footer"></div>
    
   <!-- footer ends-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="//oss.maxcdn.com/jquery.form/3.50/jquery.form.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script type="text/javascript">
    $("#footer").load("footer.ejs"); 
    $("#headerloggedin").load("/header");
    $("#headerloggedout").load("headerloggedout.ejs");
        
          // $(function() {
          //     alert("here");
              // if ( $( '#allcities' ).prop( "checked" ) ) {
              //   alert("here");
              //   $('input:checkbox[name=city]').prop("checked");
              // }  
              
          function checkAllCity(ele) {

               var checkboxes = document.getElementsByName("city");
               //alert("here" + checkboxes.length);
               if (ele.checked) {
                   for (var i = 0; i < checkboxes.length; i++) {
                       if (checkboxes[i].type == 'checkbox') {
                           checkboxes[i].checked = true;
                       }
                   }
               } else {
                   for (var i = 0; i < checkboxes.length; i++) {
                       console.log(i)
                       if (checkboxes[i].type == 'checkbox') {
                           checkboxes[i].checked = false;
                       }
                   }
               }
           }

           function checkAllLang(ele) {

               var checkboxes = document.getElementsByName("lang");
               //alert("here" + checkboxes.length);
               if (ele.checked) {
                   for (var i = 0; i < checkboxes.length; i++) {
                       if (checkboxes[i].type == 'checkbox') {
                           checkboxes[i].checked = true;
                       }
                   }
               } else {
                   for (var i = 0; i < checkboxes.length; i++) {
                       console.log(i)
                       if (checkboxes[i].type == 'checkbox') {
                           checkboxes[i].checked = false;
                       }
                   }
               }
           }         

           $(function() {
              $(".citycheckbox").click(function(){
                if($(".citycheckbox").length==$(".citycheckbox:checked").length){
                  $("#allcities").attr("checked","checked");
                }else{
                  $("#allcities").removeAttr("checked");
                }
              });
              $(".langcheckbox").click(function(){
                if($(".langcheckbox").length==$(".langcheckbox:checked").length){
                  $("#allLang").attr("checked","checked");
                }else{
                  $("#allLang").removeAttr("checked");
                }
              });

            });
          //});

  $(function(){
    
      <% if (typeof post != 'undefined' && post!= null) { %>
          var values_role = '<%=post.post.role%>';
          console.log("values are " + values_role);
          var roleInitValues = values_role.split(",");

          var values_lang = '<%=post.post.lang%>';
          var langInitValues = values_lang.split(",");

          var values_city = '<%=post.post.city%>';
          var cityInitValues = values_city.split(",");

          var values_props = '<%=post.post.props%>';
          var propsInitValues = values_props.split(",");

          var values_rehearsal_space = '<%=post.post.rehearsal_space%>';
          var rehearsal_spaceInitValues = values_rehearsal_space.split(",");

          
          // var initValues = [];
          // for (var prop in values) {
          //     initValues.push(data[values]);
          // }
          //var initValues = _(values).toArray();

           // for(var i = 0; i < initValues.length; i++) { 
           //    alert("length of array " + initValues.length);
           //     alert("values[i]" +initValues[i])
           //    // $("#animesh [value=" + values[i] + "]").prop('checked', true);
           //  } 
            
          $('input[name=role][type=checkbox]').each(function(){
            
            $(this).prop("checked", ($.inArray($(this).val(), roleInitValues) != -1));

         });

          $('input[name=lang][type=checkbox]').each(function(){
            
            $(this).prop("checked", ($.inArray($(this).val(), langInitValues) != -1));

         });

          $('input[name=city][type=checkbox]').each(function(){
            
            $(this).prop("checked", ($.inArray($(this).val(), cityInitValues) != -1));

         });

          $('input[name=rehearsal_space][type=checkbox]').each(function(){
            
            $(this).prop("checked", ($.inArray($(this).val(), rehearsal_spaceInitValues) != -1));

         });

          $('input[name=props][type=checkbox]').each(function(){
            
            $(this).prop("checked", ($.inArray($(this).val(), propsInitValues) != -1));

         });
     <%}%>     

    });


    $(function(){
      $("#updateImage").on('click', function(e){
          e.preventDefault();
          $("#imagePost").trigger('click');
      });

      $("#deleteImage").on('click', function(e){
          e.preventDefault();
          $("#updatedImage").attr("src","");
          $("#updatedImage").parents("a").attr("href", "");
          $("#updatedImage").parents("a").hide();
          $("#imagePost").val("");
          $("#postedImage").val("removed");
      });

      $('input[id=imagePost]').change(function(e){
          var data = new FormData();
          data.append('image', $('input[id=imagePost]')[0].files[0]); 
          // alert("Data is " + data);
          $.ajax({
            url: "/postPhotos",
            type: "POST",
            contentType: false,
            processData: false,
            data: data,
            complete: function() {
              console.log('process complete');
            },

            success: function(data) {
               if(data.error) {
                console.log('Opps, something bad happened');
                return;
                }
              console.log("here success");  
              console.log("Data.path is" + data.path);
              
              $("#updatedImage").attr("src","tempUploads/"+data.path);
              $("#updatedImage").parents("a").attr("href", "tempUploads/"+data.path)
              $("#updatedImage").siblings("a").show();
              $("#updateImage").show();
              $("#deleteImage").show();
              $("#updatedImage").show();
              $("#postedImage").val("changed");
           },

            error: function() {
              console.log('process error');
            },
          });
      });
    });


    // $(document).ready(function() {
     
    //   status('Choose a file :)');
    //   alert("coming here");
       
    //   // Check to see when a user has selected a file
    //   var timerId;
    //   timerId = setInterval(function() {
    //      if($('#imagePost').val() != "") {
    //       alert("image value " + $('#imagePost').val());
    //       clearInterval(timerId);
    //       alert("after clearing the interval"); 
    //       $('#uploadForm').submit();
    //       alert("form submitted");
    //     }
    //   }, 5000);
       
    //   $('#uploadForm').submit(function() {
    //     alert("submitting here");
    //     status('uploading the file ...');
         
    //     $(this).ajaxSubmit({
         
    //       error: function(xhr) {
    //         status('Error: ' + xhr.status);
    //       },
         
    //       success: function(response) {
    //        if(response.error) {
    //           status('Opps, something bad happened');
    //           return;
    //           }
               
    //           var imageUrlOnServer = response.path;
               
    //           status('Success, file uploaded to:' + imageUrlOnServer);
    //           $('<img/>').attr('src', imageUrlOnServer).appendTo($('body'));
    //         } 
    //     });
       
    //     // Have to stop the form from submitting and causing
    //     // a page refresh - don't forget this
    //     return false;
    //   });
       
    //   function status(message) {
    //   $('#status').text(message);
    //   }
    // }); 
    </script>
  </body>
</html>
