
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">       
        <link href="css/tab.css" rel="stylesheet">
  </head>
 
  <body>


 <% if(typeof user != 'undefined' && user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout">
  <%}%> 
<% if (typeof infomessage != 'undefined' && infomessage != "") { %>
  <h4 style="text-align:center"><strong> <%=infomessage%> </strong></h4>
<%}%>
<div class = "main-container">



  <div class="col-md-12 no-margin no-padding" style = "text-align: center;">
    <form id = "eventform" class="form-horizontal" action="/posteventDetails" method="post">
    <%if (typeof errorMessage != 'undefined' && errorMessage == 1) { %>
    <h3>Sorry that Event is already registered in our database. If its not appearing in the front page slider, please call us on the number provided in "Where we are" section. It was a mistake, Try again below</h3>
     <%}%>

    <!-- Form Name -->
    <legend>Post an event in our main page</legend>
     <span class="fieldNote"><h4>Just copy paste the event url from facebook. Eg. of an event URL https://www.facebook.com/events/1234567/?ref_dashboard_filter....."</h4> </span>

    <!-- Textarea -->
    <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
    <div class="control-group">
        <label id="eventurl" class="control-label" for="textarea">EVENT URL:</label>
        <div class="controls" >       
        <input type="textarea" name="eventId" id="eventId" class="input-lg" style="text-align: center; width: 40%;">
        </div>
     </div>   

     <div class="control-group">
      <label class="control-label" id= "checkkind" for="checkboxes">Select the kind of event</label><br>
      <div class="controls">
      <% var eventCats = dropdowns.alldropdowns.eventCategories;
            for(var i = 0; i < eventCats.length; i ++) {   %>
              <label class="checkbox-inline" for="checkboxes-<%=eventCats[i].category%>">
                <input name="category" id="checkboxes-<%=eventCats[i].category%>" type="checkbox" value="<%=eventCats[i].category%>"><%=eventCats[i].text%>
              </label>  
         <% } %>
      
        <!-- <label class="checkbox-inline" for="checkboxes-0">
          <input name="category" id="checkboxes-0" type="checkbox" value="Play">
         Play
        </label>
        <label class="checkbox-inline" for="checkboxes-1">
          <input name="category" id="checkboxes-1" type="checkbox"  value="Workshop">
         Workshop
        </label>
        <label class="checkbox-inline" for="checkboxes-4">
          <input name="category" id="checkboxes-4" type="checkbox" value="Others">
          Other events or festivals
        </label> -->
        
      </div>
    </div>

    <div class="control-group col-md-12">
       <label class="control-label" for="city">In which city</label>
       <div class="controls col-md-offset-5" style="width:20%;">

          <select class="form-control" name="city">
            <% var cities = dropdowns.alldropdowns.cities;
              for(var i = 0; i < cities.length; i ++) {   %> 
                <option value = "<%=cities[i].city%>"><%=cities[i].text%></option>
                                            <!-- <option>Bengaluru</option>
                                            <option>Chennai</option>
                                            <option>Delhi</option>
                                            <option>Mumbai</option>
                                            <option>Kolkata</option>
                                            <option value="">None of the above</option> -->
            <% } %>  
            <!--         <option>Bengaluru</option>
                    <option>Chennai</option>
                    <option>Delhi</option>
                    <option>Mumbai</option>
                    <option>Kolkata</option> -->
          </select> 
        </div>
    </div>

      <div class="control-group">
      <label class="control-label" for="submitbutton">Submit your request</label>
      <div class="controls">
        <button id="submitbutton" name="submitbutton" class="btn btn-primary" type="submit">Submit</button>
      </div>
    </div>


        
  
    </form>
    <input action="action" type="button" value="Back" onclick="history.go(-1);" />
    <!-- <form action="/goback" method="post">
    <div class="control-group">
      <label class="control-label" for="cancelbutton">Exit the page</label>
      <div class="controls">
        <button id="cancelbutton" name="cancelbutton" class="btn btn-primary">Cancel</button>
      </div>
    </div>
  </form> -->

  </div>  
</div>    

         

    <!-- footer starts-->
   <div id = "footer"></div>
    
   <!-- footer ends-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-validate.js"></script>
    <script type="text/javascript">
    
    $("#footer").load("footer.ejs"); 
    $("#headerloggedin").load("/header");
    $("#headerloggedout").load("headerloggedout.ejs");
    $('#eventform').submit(function(event) {
     
      var eventDetails = document.getElementById("eventId").value;
      var splitEventbyEvent = eventDetails.split("/events/");
      var splitEventbyId;
      var idOfEvent;
      
      var lengthofSplitEvent = splitEventbyEvent.length;
      
      if(lengthofSplitEvent > 1) {
        splitEventbyId = splitEventbyEvent[1].split("/");
        if (splitEventbyId.length > 0) {
          idOfEvent = splitEventbyId[0];
          document.getElementById("eventId").value = idOfEvent;
          
        }  else {
          console.log("some error occurred in split");
        }
      } else {
        console.log("some error occurred in first split");
      }


      

    });

    $('#eventform').validate({
            rules: {
                eventId: {
                  required: true
                },
                category: {
                  required: true
                }                                
               
            },

            errorPlacement: function(error, element) {
              if (element.attr("type") == "checkbox") {
                  error.insertAfter($(element).closest('div').prev($('.checkkind')));
              } else {
                  error.insertAfter($(element).closest('div').prev($('.eventurl')));
              }
            },  
            
            highlight: function (element) {
                $(element).closest('.control-group').removeClass('success').addClass('error');
            },
            success: function (element) {
                $(element).closest('.control-group').removeClass('error').addClass('success');
            }
    });

    </script>  
  </body>
</html>
