<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>

        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">       
        <link href="css/tab.css" rel="stylesheet">
        <link href="css/lightbox.css" rel="stylesheet" />
        <link href="css/bootstrap-dialog.css" rel="stylesheet">
        <script src="js/bootstrap-dialog.js"></script>
                <link rel="stylesheet" type="text/css" href="css/buttons.css"/>
        <link rel="stylesheet" type="text/css" href="css/animate.css"/>
        
  </head>
  <script type="text/javascript">
 
    $(document).ready(function() {
        var panels = $('.user-infos');
        var panelsButton = $('.dropdown-user');
        panels.hide();

        //Click dropdown
        panelsButton.click(function() {
            //get data-for attribute
            var dataFor = $(this).attr('data-for');
            var idFor = $(dataFor);

            //current button
            var currentButton = $(this);
            idFor.slideToggle(400, function() {
                //Completed slidetoggle
                if(idFor.is(':visible'))
                {
                    currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
                }
                else
                {
                    currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
                }
            })
        });
      });
   </script> 
  <body>


<% if(typeof user != 'undefined' && user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout"></div>
<%}%> 

<div class = "main-container">
<!-- <div>&nbsp;</div>
<div>&nbsp;</div>
<div>&nbsp;</div>  
  
    <button id="auditionButton" name="auditionButton" class="btn btn-primary col-md-2 col-md-offset-2" style="text-align:center;">Add an audition/requirement</button>
    <button id="eventButton" name="eventButton" class="btn btn-primary col-md-2 col-md-offset-2" style="text-align:center;">Add an event from FB</button>
 
<div>&nbsp;</div>  
<div>&nbsp;</div>  
<div>&nbsp;</div>   -->
<div class="col-md-12 no-margin no-padding" style="display:none;" id="eventPost">
    <form id = "eventform" class="form-horizontal" action="/posteventDetails" method="post">
    <%if (typeof errorMessage != 'undefined' && errorMessage == 1) { %>
    <h3>Sorry that Event is already registered in our database. If its not appearing in the front page slider, please call us on the number provided in "Where we are" section. It was a mistake, Try again below</h3>
     <%}%>

    <!-- Form Name -->
    <legend style = "text-align: center;">Post an event in our main page</legend>
     <span class="fieldNote" style = "text-align: center;"><h4>Just copy paste the event url from facebook. Eg. of an event URL https://www.facebook.com/events/1234567/?ref_dashboard_filter....."</h4> </span>

    <!-- Textarea -->
    <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
    <div class="control-group col-md-12">
        <label id="eventurl" class="control-label col-md-3" for="textarea">EVENT URL:</label>
        <div class="controls col-md-9" >       
        <input type="textarea" name="eventId" id="eventId" class="input-lg" style="text-align: center; width: 80%;">
        <input type="hidden" name="eventIdAfterConversion" id="eventIdAfterConversion" class="input-lg" style="text-align: center; width: 80%;">
        <input type="hidden" name="toEmails" id="toEmails" >
        </div>
     </div>   
     <div>&nbsp;</div>
     <div class="control-group col-md-12">
      <label class="control-label col-md-3" id= "checkkind" for="checkboxes">Select the kind of event:</label>
      <div class="controls col-md-9">
      <% var eventCats = dropdowns.alldropdowns.eventCategories;
            for(var i = 0; i < eventCats.length; i ++) {   %>
              <label class="checkbox-inline" for="checkboxes-<%=eventCats[i].category%>">
                <input name="category" id="checkboxes-<%=eventCats[i].category%>" type="checkbox" value="<%=eventCats[i].category%>"><%=eventCats[i].text%>
              </label>  
         <% } %>
      
        <label class="checkbox-inline" for="checkboxes-0">
          <input name="category" id="checkboxes-0" type="checkbox" value="Play">
         Play
        </label>
        <label class="checkbox-inline" for="checkboxes-1">
          <input name="category" id="checkboxes-1" type="checkbox"  value="Workshop">
         Workshop
        </label>
        <label class="checkbox-inline" for="checkboxes-4">
          <input name="category" id="checkboxes-4" type="checkbox" value="Others">
          Other events or festivals
        </label>
        
      </div>
    </div>
    <div>&nbsp;</div>
    <div class="control-group col-md-12">
       <label class="control-label col-md-3" for="city">In which city</label>
       <div class="controls col-md-9" style="width:20%;">

          <select class="form-control" name="city">
            <% var cities = dropdowns.alldropdowns.citiesForPost;
              for(var i = 0; i < cities.length; i ++) {   %> 
                <option value = "<%=cities[i].city%>"><%=cities[i].text%></option>
                                            <!-- <option>Bengaluru</option>
                                            <option>Chennai</option>
                                            <option>Delhi</option>
                                            <option>Mumbai</option>
                                            <option>Kolkata</option>
                                            <option value="">None of the above</option> -->
            <% } %>  
            <!--         <option>Bengaluru</option>
                    <option>Chennai</option>
                    <option>Delhi</option>
                    <option>Mumbai</option>
                    <option>Kolkata</option> -->
          </select> 
        </div>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
      <div class="control-group col-md-12" style = "text-align:center;">
      <label class="control-label" for="submitbuttonForEvent" style= "font-size:20px;"><strong>Submit your request</strong></label>
      <div class="controls">
        <button id="submitbuttonForEvent" name="submitbuttonForEvent" class="btn btn-primary" type="submit">Post</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="javascript:history.go(-1);"><input type="button" class="btn btn-primary" value="Back" />
            </a>

      </div>

    </div>


        
  
    </form>


  </div>  


  <div class="col-md-12" id="auditionPost">
    <form id="requestForm" class="form-horizontal" action="/post" method="post">
    

    <!-- Form Name -->
    <legend style = "text-align: center;">Post a request</legend>

    <!-- Textarea -->
    <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
    <div class="control-group col-md-12">
        <label class="control-label col-md-3" for="postTitle">Title of the request</label>
        <div class="controls col-md-9">  
        <% if (typeof post != 'undefined' && post!= null) { %>   
         <input name="_postid"  type="hidden" value=<%=post._id%>>    
         <input id="postTitle" name="postTitle" style="width:60%;" type="text" value = "<%=post.post.postTitle%>"></input>     
        <% } else if(postTitle != 'undefined' && postTitle != null) { %>
          <input id="postTitle" name="postTitle" style="width:60%;" type="text" value = "<%=postTitle%>"></input>
        <% } else { %>  
          <input id="postTitle" name="postTitle" style="width:60%;" type="text"></input>
        <% } %>

        </div>
     </div>   
      <div>&nbsp;</div>
      <div class="control-group col-md-12">
        <label class="control-label col-md-3" for="post">Copy paste the requirement from FB or write it down</label>        
          <div class="controls col-md-9">                
        <% if (typeof post != 'undefined' && post!= null) { %>       
            <textarea id="post" name="post" style="width:60%;min-height:300px;" rows=6><%=post.post.postDetail%></textarea>
        <%} else { %>   
            <textarea id="post" name="post" style="width:60%;min-height:300px;"rows=6></textarea>
        <%}%> 
          </div>
      </div>

      <div class="control-group col-md-12">
      <label class="control-label col-md-3" for="checkboxes">Select the city where you would like to post</label>
      <div class="controls col-md-9">
          <% var cities = dropdowns.alldropdowns.citiesForPost;
            for(var i = 0; i < cities.length; i ++) {   %>
              <label class="checkbox-inline" for="checkboxes-<%=cities[i].city%>">
                <input name="city" id="checkboxes-<%=cities[i].city%>" type="checkbox" value="<%=cities[i].city%>" class ="citycheckbox"><%=cities[i].text%>
              </label>  
         <% } %>
        <label class="checkbox-inline" for="allcities">
          <input name="cityAll" class = "allcities" id="allcities" value="6" type="checkbox" onchange="checkAllCity(this)">
          <b>Select All</b>
        </label>
      </div>
    </div>
    <div>&nbsp;</div>

    <!--</div>-->
    <!-- Multiple Checkboxes -->
    <div class="control-group col-md-12">
      <label class="control-label col-md-3" for="checkboxes">Select your need. You can choose both on stage and off stage help(props, backstage)</label>
      <div class="controls col-md-9" style="padding-left:0px;">
        <% var roles = dropdowns.alldropdowns.rolesForPost;
            for(var i = 0; i < roles.length; i ++) {   %>
            <div class = "col-sm-6">
              <label class="checkbox-inline" for="checkboxes-<%=roles[i].role%>">
                <input name="role" id="checkboxes-<%=roles[i].role%>" type="checkbox" value="<%=roles[i].role%>"><%=roles[i].text%>
              </label>  
            </div>  
        <% } %>
      </div>
    </div>    
    <div>&nbsp;</div>
 

    <!-- Multiple Checkboxes (inline) -->
    <div class="control-group col-md-12">
      <label class="control-label col-md-3" for="checkboxes">Comfortable in languages</label>
      <div class="controls col-md-9">
        <% var languages = dropdowns.alldropdowns.languages;
            for(var i = 0; i < languages.length; i ++) {   %>
              <label class="checkbox-inline" for="checkboxes-<%=languages[i]%>">
                <input name="lang" id="checkboxes-<%=languages[i]%>" type="checkbox" value="<%=languages[i]%>"><%=languages[i]%>
              </label>  
        <% } %>
        <label class="checkbox-inline" for="allLangauages">
          <input name="langAll" class = "allLang" id="allLang" value="6" type="checkbox" onchange="checkAllLang(this)">
          <b>Select All</b>
        </label>
      </div>
    </div>
    <div>&nbsp;</div>

    <div class="control-group col-md-12" style = "text-align:center;">
          <label class="control-label col-md-3" for="postPics">Add Pictures</label>
          <div class="controls col-md-9" >
            <span class="fieldNote col-md-12" style="color:inherit;text-align:left;">Ensure that the picture is <5 MB and jpeg/jpg/png only. Image >5 MB may not respond very well</span>
            <span class="btn btn-success fileinput-button col-md-6">
              <i class="glyphicon glyphicon-plus"></i>
              
              <span>Add a single image(jpg/jpeg/png only)</span>
                <input id = "imageForAPost" type="file" class = "imageUpdateField" name = "imageForAPost" single style="color: transparent;"/>
              </span>
            </span>  
                  
             <input type="hidden" id="myPostPics" name = "myPostPics">
             <div>&nbsp;</div>
             <div class="progress col-md-12" style= "display:none;padding:0px;">
                  <div class="bar"></div >
                  <label class="percent">0</label >
              </div>
              <div class="col-md-12" >
                <table role="presentation" id = "imageTable" class='table table-striped'><tbody class='files'></tbody>
                </table>
              </div>

              <div id="status"></div>
          </div>    

    </div>
    <!-- Button -->
   
                           
    <div class="control-group col-md-12" style = "text-align:center;">
      <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)"><span style="padding-left: 10px;color: #FF1919;"><b>Please confirm you have read and will abide by our &nbsp;<a href="#guidelinesModal" role="button" class="btn" data-toggle="modal">Posting Guidelines.</a></b></span>
      <div>&nbsp;</div>
      <div class="controls">
        <button id="submitbutton" name="submitbutton" class="btn btn-primary">Submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/searchPosts"><input type="button" class="btn btn-primary" value="Back" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>

        <button id="mailButton" name="mailButton" class="btn btn-primary" onclick="sendMails();return false;">Send Mail and Submit</button><span class="question">?</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;       
      </div>

    </div>

     
    </fieldset>
    </form>


  </div>  
</div>   
  <div class="modal fade" id="eventErrorModal" role="dialog" aria-labelledby="eventErrorModal" class="open-ViewDialog" tabindex="-1" aria-hidden="true">  
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style = "background-color: #528FCC;">
                <h4 class="modal-title" data-step="1">Error occurred</h4>
                
            </div>
            <div class="modal-body" style="text-align:left;">
                            
                              There is a wrong event URL given, please check again. It must be in this format:
                              https://www.facebook.com/events/12345678900/?ref_dashboard_filter.....
                        
            </div>
            
            <div class="modal-footer">
                <span class="pull-left"><button type="button" class="btn btn-primary" data-dismiss="modal">Close and try again</button></span>
            </div>
            
        </div>
    </div>
  </div> 
<div class="modal fade" id="guidelinesModal" role="dialog" aria-labelledby="guidelinesModal" class="open-ViewDialog" tabindex="-1" aria-hidden="true">  
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" style = "background-color: #528FCC;">
                  <h4 class="modal-title" data-step="1">Posting guidelines</h4>
                  
              </div>
              <div class="modal-body" style="text-align:left;">
                              
                                <ol>
                                    <li> Our goal is to create a connected environment where every theatre artists can request for or provide help. These Posting Guidelines are here to help you understand what it means to post a request at MotleyMeow</li>
                                    <li> Don't post commercial messages. Do not promote commercial activities, including related links. Be respectful to each other. Do not vent your frustrations at other members, through any post in the site. There is zero tolerance for predatory behaviour, disparaging or defamatory comments, threats, harassment, illegal activities, invading privacy, propaganda, racial hatred, offensive cultural behaviour, vulgar or obscene content, or other inappropriate behaviour or the revealing of other members' personal information. MotleyMeow reserves the right to remove such a post and also take action against them.</li>
                                    <li>We are open to hear on any such inappropriate content you find in this website.</li>
                                    
                                </ol>  
                          
              </div>
              
              <div class="modal-footer">
                  <span class="pull-left"><button type="button" class="btn btn-primary" data-dismiss="modal">DONE</button></span>
              </div>
              
          </div>
      </div>
  </div>  
         

    <!-- footer starts-->
   <div id = "footer"></div>
    

<div id="emailModal" class="modal fade multi-step" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
      
        <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title step-1" data-step="1">Email Post</h4>
              <h4 class="modal-title step-2" data-step="2">Confirm email</h4>
          </div>
          <div>&nbsp;</div>
          <div class="modal-body step-1" data-step="1">
                <div class="form-group">
                      <label class="control-label col-md-4" >Choosen criterias to send Email</label>
                      <div class="col-md-8">
                          <textarea class="form-control" id="emailCriteria" name="emailCriteria" style="min-height:100px;"></textarea>
                      </div>
                  </div>
                 <div class="form-group">
                      <label class="control-label col-md-4" >Subject</label>
                      <div class="col-md-8">
                          <input type="text" class="form-control" id="emailTitle" name="emailTitle" placeholder="Please type the subject here">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="control-label col-md-4" >Email Body</label>
                      <div class="col-md-8">
                          <textarea class="form-control" id="emailBody" name="emailBody" placeholder="Please type the e-mail here, we will send it to all artists you selected.." style="min-height:300px;"></textarea>
                      </div>
                  </div>
          </div><!-- End of Modal body -->
          <div class="modal-body step-2" data-step="2">
            <p>Are you really sure you want to send Email to all the artists?</p>
          </div>  
          <div class="modal-footer step-1" style="border:0px;" data-step="1">
              <span class="pull-left"><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></span>
              <span class="pull-right"><button type="button" class="btn btn-default" onclick="sendEvent('#emailModal', 2)">Send</button></span>
              
          </div>
          <div class="modal-footer step-2" style="border:0px;" data-step="2">
              <span class="pull-right"><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></span>
              <span class="pull-left"><button type="button" class="btn btn-default" onclick="shootTheMail()">Shoot the mail </button></span>
          </div>
        </div><!-- End of Modal content -->
        </div><!-- End of Modal dialog -->

    </div><!-- End of Modal --> 


   <!-- footer ends-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/multiple-modals.js"></script>
    <script src="js/jquery.form.min.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="js/jquery-validate.js"></script>
    <script type="text/javascript" src="js/jquery.noty.packaged.min.js"></script>
    <script type="text/javascript">
    $("#footer").load("footer.ejs"); 
    $("#headerloggedin").load("/header");
    $("#headerloggedout").load("headerloggedout.ejs");

    var imageIndex = 0;
    var postImages =new Array();
        
          // $(function() {
          //     alert("here");
              // if ( $( '#allcities' ).prop( "checked" ) ) {
              //   alert("here");
              //   $('input:checkbox[name=city]').prop("checked");
              // }  
              
          function checkAllCity(ele) {

               var checkboxes = document.getElementsByName("city");
               //alert("here" + checkboxes.length);
               if (ele.checked) {
                   for (var i = 0; i < checkboxes.length; i++) {
                       if (checkboxes[i].type == 'checkbox') {
                           checkboxes[i].checked = true;
                       }
                   }
               } else {
                   for (var i = 0; i < checkboxes.length; i++) {
                       console.log(i)
                       if (checkboxes[i].type == 'checkbox') {
                           checkboxes[i].checked = false;
                       }
                   }
               }
           }

           function checkAllLang(ele) {

               var checkboxes = document.getElementsByName("lang");
               //alert("here" + checkboxes.length);
               if (ele.checked) {
                   for (var i = 0; i < checkboxes.length; i++) {
                       if (checkboxes[i].type == 'checkbox') {
                           checkboxes[i].checked = true;
                       }
                   }
               } else {
                   for (var i = 0; i < checkboxes.length; i++) {
                       console.log(i)
                       if (checkboxes[i].type == 'checkbox') {
                           checkboxes[i].checked = false;
                       }
                   }
               }
           }         

           $(function() {
              $(".citycheckbox").click(function(){
                if($(".citycheckbox").length==$(".citycheckbox:checked").length){
                  $("#allcities").attr("checked","checked");
                }else{
                  $("#allcities").removeAttr("checked");
                }
              });
              $(".langcheckbox").click(function(){
                if($(".langcheckbox").length==$(".langcheckbox:checked").length){
                  $("#allLang").attr("checked","checked");
                }else{
                  $("#allLang").removeAttr("checked");
                }
              });

            });
          //});

  $(function(){
    
      <% if (typeof post != 'undefined' && post!= null) { %>
          var values_role = '<%=post.requirement.role%>';
          console.log("values are " + values_role);
          var roleInitValues = values_role.split(",");

          var values_lang = '<%=post.requirement.lang%>';
          var langInitValues = values_lang.split(",");

          var values_city = '<%=post.post.city%>';
          var cityInitValues = values_city.split(",");

          var values_props = '<%=post.post.props%>';
          var propsInitValues = values_props.split(",");

          var values_rehearsal_space = '<%=post.post.rehearsal_space%>';
          var rehearsal_spaceInitValues = values_rehearsal_space.split(",");

          
          // var initValues = [];
          // for (var prop in values) {
          //     initValues.push(data[values]);
          // }
          //var initValues = _(values).toArray();

           // for(var i = 0; i < initValues.length; i++) { 
           //    alert("length of array " + initValues.length);
           //     alert("values[i]" +initValues[i])
           //    // $("#animesh [value=" + values[i] + "]").prop('checked', true);
           //  } 
            
          $('input[name=role][type=checkbox]').each(function(){
            
            $(this).prop("checked", ($.inArray($(this).val(), roleInitValues) != -1));

         });

          $('input[name=lang][type=checkbox]').each(function(){
            
            $(this).prop("checked", ($.inArray($(this).val(), langInitValues) != -1));

         });

          $('input[name=city][type=checkbox]').each(function(){
            
            $(this).prop("checked", ($.inArray($(this).val(), cityInitValues) != -1));

         });

          $('input[name=rehearsal_space][type=checkbox]').each(function(){
            
            $(this).prop("checked", ($.inArray($(this).val(), rehearsal_spaceInitValues) != -1));

         });

          $('input[name=props][type=checkbox]').each(function(){
            
            $(this).prop("checked", ($.inArray($(this).val(), propsInitValues) != -1));

         });
     <%}%>     

    });


    $(document).ready(function() {

      <% if(typeof post == 'undefined' || typeof post.post.imagePath == 'undefined' || post.post.imagePath == "") { %>
          <% } else { %>       
            $('#imageTable').append("<tr class='template-upload fade in' id = div" + imageIndex + " >");
            $('#div' + imageIndex).append("<td> <a href=/uploads/"+ "<%=user.facebook.id%>" + "/pictures/" + "<%=post.post.imagePath%>" + " id = mypicsa" + imageIndex + " data-lightbox='Uploading..' data-title='Portfolio pictures'>");
            $('#mypicsa' + imageIndex).append("<img id=image"+imageIndex + " src = /uploads/" + "<%=user.facebook.id%>" + "/pictures/" +"<%=post.post.imagePath%>" + " alt='No Image Set' style='max-width:200px;max-height:200px' ></img></a>");
            $('#div' + imageIndex).append("<td> <button class='btn btn-warning cancel' id=deleteImage" + imageIndex + " onclick='removeThis("+ imageIndex +");return false;'><i class='glyphicon glyphicon-ban-circle'></i><span>Remove this image</span></button> </td></tr>");
              postImages.push("<%=post.post.imagePath%>");
              $('#myPostPics').val(postImages[0]);
          <%} %>

      $( "#auditionButton" ).click(function() {
        $('#eventPost').hide();
        $('#auditionPost').show();
      });

      $( "#eventButton" ).click(function() {
        $('#auditionPost').hide();
        $('#eventPost').show();
      });

      $(".question").hover(function () {
        //alert("hello")
        $(this).append('<div class=tooltip><p>This will send an email to selected artists and also post the request</p></div>');
        },
        function () {
          $("div.tooltip").remove();
          
        }
      );
      sendEvent = function(sel, step) {
          $(sel).trigger('next.m.' + step);
      }

      $('#emailModal').on('hide.bs.modal', function () {
        $('.step-1').hide();
        $('.step-2').hide();
      })

      $('#emailModal').on('show.bs.modal', function () {
        $('.step-1').show();
        $('.step-2').hide();
      })

      disableSubmit();
      $('#requestForm').validate({
          rules: {
              postTitle: {
                  required: true
              }
          },
          highlight: function (element) {
              $(element).closest('.control-group').removeClass('success').addClass('error');
          },
          success: function (element) {
              element.text('OK!').addClass('valid')
                  .closest('.control-group').removeClass('error').addClass('success');
          }
      });


          

        $('#eventform').submit(function(event) {
         
            var eventDetails = document.getElementById("eventId").value;
            var splitEventbyEvent = eventDetails.split("/events/");
            var splitEventbyId;
            var idOfEvent;
            
            var lengthofSplitEvent = splitEventbyEvent.length;
            if(lengthofSplitEvent > 1) {
              splitEventbyId = splitEventbyEvent[1].split("/");
              if (splitEventbyId.length > 0) {
                  idOfEvent = splitEventbyId[0];
                  if(/^\d.*/.test(idOfEvent)) {
                    document.getElementById("eventIdAfterConversion").value = idOfEvent;
                  } else {
                    
                    $('#eventErrorModal').modal('show');
                    event.preventDefault();
                    return;
                  }
              }  else {
                
                $('#eventErrorModal').modal('show');
                event.preventDefault();
                return;
              }
            } else {
              
              $('#eventErrorModal').modal('show');
               event.preventDefault();
              return;
            }

        });

        $('#eventform').validate({
              rules: {
                  eventId: {
                    required: true
                  },
                  category: {
                    required: true
                  }                                
                 
              },

              errorPlacement: function(error, element) {
                if (element.attr("type") == "checkbox") {
                    error.insertBefore($(element).closest('.control-group'));
                     $('#category-error').addClass('col-md-9 col-md-offset-3');
                } else {
                    error.insertAfter($(element).closest('div').prev($('.eventurl')));
                }
              },  
              
              highlight: function (element) {
                  $(element).closest('.control-group').removeClass('success').addClass('error');
                  
              },
              success: function (element) {
                  $(element).closest('.control-group').removeClass('error').addClass('success');
              }
        });
    }); 

    function disableSubmit() {
      document.getElementById("submitbutton").disabled = true;
      document.getElementById("mailButton").disabled = true;
    }

    function activateButton(element) {

        if(element.checked) {
          document.getElementById("submitbutton").disabled = false;
          document.getElementById("mailButton").disabled = false;
         }
         else  {
          document.getElementById("submitbutton").disabled = true;
          document.getElementById("mailButton").disabled = true;
        }


    } 

    
    function sendMails(){
      var roles, lang;
     
      var selectedCitiesValue, selectedLangValue, selectedRoleValue;
      // //build a regex filter string with an or(,) condition
      var cities = $('input:checkbox[name="city"]:checked').map(function() {
         return this.value;
       }).get().join(',');
      selectedCitiesValue = cities;

      if(cities == "") {
        selectedCitiesValue = ""
      }
      // //build a regex filter string with an or(,) condition
      roles = $('input:checkbox[name="role"]:checked').map(function() {
        return this.value;
        }).get().join(',');
      //}
      selectedRoleValue = roles;

      if(roles == "") {
        selectedRoleValue = ""
      }

      lang = $('input:checkbox[name="lang"]:checked').map(function() {
          return this.value;
        }).get().join(',');
      //}  
      selectedLangValue = lang;

      if(lang == "") {
        selectedLangValue = "";
      }

      $.ajax({
          url: "/getEmailsForPost",
          type: "POST",
          data: { cities: cities, roles: roles, lang:lang },
          success: function (data) {
              if(data.error) {
                console.log("Got the error");
                generateNotificationLayout('warning', 'topCenter', 'Roles, Languages and Cities all must be selected. Please check the fields and try again');
              } else {

                console.log("retrieved email ids " + data.selectedEmails);
                if(data.selectedEmails.length == 0) {
                  generateNotificationLayout('warning', 'topCenter', 'There were no emails found with the criteria that you mentioned. Please try again');
                  return;
                }
                $('#emailBody').val(jQuery("textarea#post").val());
                $('#emailTitle').val($('input:text[name="postTitle"]').val());
                $('#emailCriteria').text("You have choosen to send mail to all artists who are " + roles + " from " + cities + " comfortable in " + lang 
                  + ". Overall count of such artists is "+ data.selectedEmails.length + ". The mail will also contain any attachment that you may have added");
                $('#toEmails').val(data.selectedEmails);
                $('#emailModal').modal('show');
              }  
              
          },
          error: function (data) {
              console.log("some error " + data);
          }
          
      });
       
    }

     function shootTheMail(selectedEmails) {
        generateNotificationLayout('warning', 'topCenter', 'Please wait. Mail is being sent.');
        var subject = $("#emailBody").val();
        if(subject == "Not mentioned") {
          subject = "";
        }
        var data={
            first_name: "<%=user.facebook.name%> via MotleyMeow",
            fromEmail: "noreply@motleymeow.com",
            postBody: subject,
            toArtists: $('#toEmails').val() + ",motleymeow@gmail.com," + "<%=user.facebook.email%>",
            postTitle: $('input:text[name="postTitle"]').val(),
            myPostPics: postImages
            };

          $.ajax({ 
           url: "/sendPostMailsToArtists",
           type: "POST",
           cache: false, 
           async: true,
           data: data,
           //data: $("commentform").serialize(),

           success: function(data){
              console.log('Success!');
              $("#emailModal").modal('hide');
              if(data.completed == "OK") {
                $( "#requestForm" ).submit();
              } else {
                generateNotificationLayout('warning', 'topCenter', 'Some problem with your email. Check fields again');
              }  

           }
           , 
           error: function(jqXHR, textStatus, err){
               console.log('text status '+textStatus+', err '+err);
               generateNotificationLayout('warning', 'topCenter', 'Some problem with your email. Check fields again');
           }
        });

      //return false;

  }
      function generateNotificationLayout(type, layout, text) {
       var n = noty({ layout: layout,
        type: type,
        text: text, // can be html or string
        dismissQueue: true, // If you want to use queue feature set this true
        template: '<div class="noty_message"><span class="noty_text" style="font-size:16px;color:rgb(0, 96, 244);"></span><div class="noty_close"></div></div>',
        animation: {
            open: {height: 'toggle'}, // or Animate.css class names like: 'animated bounceInLeft'
            close: {height: 'toggle'}, // or Animate.css class names like: 'animated bounceOutLeft'
            easing: 'swing',
            speed: 500 // opening & closing animation speed
        },
        timeout: false, // delay for closing event. Set false for sticky notifications
        force: false, // adds notification to the beginning of queue when set to true
        modal: false,
        maxVisible: 10, // you can set max visible notification for dismissQueue true option,
        killer: false, // for close all notifications before show
         // ['click', 'button', 'hover', 'backdrop'] // backdrop click will close all notifications
        callback: {
            onShow: function() {
            },
            afterShow: function() {},
            onClose: function() {
                    
            },
            afterClose: function() {},
            onCloseClick: function() {}
        },
        closeWith: ["click","button"],
        buttons: [
            {addClass: 'btn btn-primary', text: 'DONE', onClick: function($noty) {
              $noty.close();
                }
             }
            
          ]
      });
    }



    removeThis = function(imgIndx) {
        postImages.splice($.inArray( $('#imageName' + imgIndx).val(), postImages),1);
        $('img[id=image' + imgIndx + ']').attr("src","");
        $('tr[id=div' + imgIndx + ']').remove();
        $('#myPostPics').val(postImages[0]);
    }


  $(function(){
    $('input[id=imageForAPost]').change(function(){
        var bar = $('.bar');
        var percent = $('.percent');
        var status = $('#status');
        var imagesAdded = false;
        var dataToLoad;
        var data = new FormData();
        for (var i = 0; i < $('input[id=imageForAPost]')[0].files.length; i++) { 
          var fileInput = $('input[id=imageForAPost]')[0].files[i];
         
          var filename = fileInput.name.split('.').pop().toLowerCase();
          if (filename == 'jpg' || filename == 'jpeg' || filename == 'png') {
              var filesize=fileInput.size;
              if($("#div0").length > 0) {
                removeThis(0);
              }
              // if (filesize > 5242880) {
              //     $('#errorMsg').show();
              // } else {
               
                  imagesAdded = true;
                  data.append('image', $('input[id=imageForAPost]')[0].files[i]); 
             // }
          } else {
              $('#errorMsg').show();
          }
              
        }
          
        // alert(" imageAdded " + imagesAdded);
        if(!imagesAdded) {
          
          return;
        }
        $.ajax({
          url: "/addPostImagePics",
          type: "POST",
          contentType: false,
          processData: false,
          data: data,
          beforeSend: function() {
            status.empty();
            var percentVal = '0%';
            $('.progress').show();
            bar.width(percentVal);
            percent.html(percentVal);
          },
          xhr: function() {
            var xhr = new window.XMLHttpRequest();
            xhr.upload.addEventListener("progress", function(evt) {
              // alert("progress evt.loaded " + evt.loaded);
              //  alert("progress evt.total" + evt.total);
              if (evt.lengthComputable) {
                var percentComplete = evt.loaded / evt.total;
                percentComplete = parseInt(percentComplete * 100);

                bar.width(percentComplete);
                percent.html(percentComplete + "% completed");
              }
            }, false);


            xhr.upload.addEventListener("load", function(evt) {
              bar.css( "width", "100%" );
              percent.html("100% completed");
            }, false);  
            return xhr;
          },
          complete: function() {

          },
          success: function(data) {
           if(data.error) {
            // alert('Opps, something bad happened');
            return;
            }
            // /alert("data.path " + data.path.length)
            $('.progress').hide();
            if(typeof data.path != 'undefined' && data.path.length > 0) {
              for(var i = 0; i < data.path.length ; i++) {
                postImages.push(data.path[i].name);

                // $('#mypics').append("<img id=image"+i+" alt='No Image Set' style='max-width:200px;max-height:200px'></img>");
                // $("#image"+i).attr("src","tempUploads/"+data.path[i].name);
              $('#imageTable').append("<tr class='template-upload fade in' id = div" + imageIndex + " >");
              $('#div' + imageIndex).append("<td> <a href=/uploads/"+ "<%=user.facebook.id%>" + "/pictures/" + data.path[i].name + " id = mypicsa" + imageIndex + " data-lightbox='No Image set' data-title='Post pictures'>");
              $('#mypicsa' + imageIndex).append("<img id=image"+imageIndex + " src = /uploads/" + "<%=user.facebook.id%>" + "/pictures/" +data.path[i].name + " alt='No Image Set' style='max-width:200px;max-height:200px' ></img></a>");
              $('#div' + imageIndex).append("<td> <button class='btn btn-warning cancel' id=deleteImage" + imageIndex + " onclick='removeThis("+ imageIndex +");return false;'><i class='glyphicon glyphicon-ban-circle'></i><span>Remove this image</span></button> </td></tr>");
                $('#mypics').append("</div>");
              }
            }
            $('#myPostPics').val(postImages[0]);
          },
          error: function() {
            console.log('process error');
          },
        });
    }); 



});  

    </script>
  </body>
</html>
