<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MOTLEYMEOW. Hear the artists meow.</title> 
        <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
        <link href="css/tab.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet"> 
        <link href="css/lightbox.css" rel="stylesheet" />
        <link href="css/bootstrap-dialog.css" rel="stylesheet">
        <script src="js/bootstrap-dialog.js"></script>
                <link rel="stylesheet" type="text/css" href="css/buttons.css"/>
        <link rel="stylesheet" type="text/css" href="css/animate.css"/>
<!-- 
<link rel="stylesheet" href="css/bootstrap-multiselect.css" type="text/css"/>
 -->

  </head>

  <script type="text/javascript">
          var count = 0;
           function showMe (box) {
                document.getElementById(box).style.display = "block";
    }

    function showandhideMe (box, oldbox) {
                document.getElementById(oldbox).style.display = "none";
                document.getElementById(box).style.display = "block";

    }    

  </script>

<body>
     

 <% if(typeof user != 'undefined' && user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout"></div>
  <%}%> 
<% if (typeof infomessage != 'undefined' && infomessage != "") { %>
      <script type="text/javascript">
          
      </script>
  <!-- <h4 style="text-align:center"><strong> <%=infomessage%> </strong></h4> -->
        
      <div class="modal fade col-lg-12" id="successprofile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="open-ViewDialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title" id="myModalLabel">Profile updated successfully</h4>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
              
            </div>
          </div>
        </div>
      </div>
<%}%>


 <div class="container profile" style="min-height:100%;">
  <div class="row">
      <div class="col-sm-10">
         <h1 class="oratorFont" style="color:#FFFAFA;"><%=user.facebook.name%></h1>
        <br> 
      </div>

      
    </div>
    <br>
      <div class="row">
      
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 " >
   
   
          <div class="panel panel-info" style="background-color:rgba(29, 7, 7, 0.63);">
            <div class="panel-heading" style="color: #E6EAEC;background-color: rgba(35, 20, 14, 0.32);">
              <h1 class="panel-title" style="font-size:26px;">The artist in you</h1>
              
            </div>
            <div class="panel-body">
              <div class="row">
                <% if(typeof user.local.picture != "undefined" && user.local.picture!= "" && user.local.picture != null) { %>
                  <div class="col-md-3 col-lg-3 " align="center"> <img id="myProfilePic" alt="User Pic" src=<%= user.local.picture %> class="img-circle" style="max-height:180px;padding-bottom:0px;"></br> 
                  <a id = "editMyPic" href = "javascript:void()" onclick = "changeMyPic()" style="color:#E9DFD7;">Edit My Pic</a>
                <% } else { %>
                  <div class="col-md-3 col-lg-3 " align="center">
                  <i id ="dummyPfPic" class="fa fa-user" style="font-size:180px;color:rgba(59, 0, 0, 0.76)"></i>
                  <img id="myProfilePic" alt="User Pic" src="" class="img-circle" style="max-height:180px;padding-bottom:0px;display:none;"><br>
                  <a id = "editMyPic" href = "javascript:void()" onclick = "changeMyPic()" style="color:#E9DFD7;">Add My Pic</a>
                <% } %>  
                <a id = "saveMyPic" href = "javascript:void()" onclick = "saveMyPic()" style="color:#E9DFD7;display:none;">Save</a><br/>
                <a id = "changeMyPic" href = "javascript:void()" onclick = "changeMyPic()" style="color:#E9DFD7;display:none;">Change</a>
                <input id = "profileImg" type="file" class = "imageUpdateField" name = "profileImg" style="display:none"/>
                <input id = "imageName" type="hidden"/>
                <input id = "imagePath" type="hidden"/>
              </div>


              <div class=" col-md-9 col-lg-9 "> 
                <form id = "profileUpdateForm" class="form-horizontal" role="form" enctype="multipart/form-data" action="/update" method="post">


                    <fieldset>
                      
                        <div class="panel-group" id="accordion">
                          <div class="panel panel-default panelHeadingColor">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseBasicProfile">Personal Details and Settings</a>
                              </h4>
                            </div>
                            <div id="collapseBasicProfile" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <div class="form-group">
                                    <label class="col-sm-3 control-label controlLabelText" for="fullname">Full Name</label>
                                    <div class="col-sm-9">
                                      <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Name" Maxlength="100"
                                      value = "<%= user.facebook.name %>" >
                                    </div>
                                  </div>
                                 
                                 <div class="form-group">
                                     <label class="col-sm-3 control-label controlLabelText" for="email">Email address</label>
                                      <div class="col-sm-9">
                                      <%if(typeof user.facebook.email == 'undefined') {%>
                                         <input type="text" class="form-control" name="email" id="email" placeholder="Email id" 
                                          value = "" >
                                      <% } else { %>
                                        <input type="text" class="form-control" name="email" id="email" placeholder="Email id" 
                                        value = "<%= user.facebook.email %>" >
                                      <% } %> 
                                      
                                      <p><span class="fieldNote" style="color:inherit;">We currently don't do validation of emails. Please ensure you key in the right one else you are easy to miss on important notifications.</span></p>
                                    </div>
                                      <input type="hidden" name = "userId" value = <%= user.facebook.id %> >
                                  </div>
                                   
                                  <div class="form-group">
                                    <label class="col-sm-3 control-label controlLabelText" for="city">Location</label>
                                    <div class="col-sm-9">

                                      <select class="form-control" value="<%= user.local.city %>" name="city">
                                        <% var cities = dropdowns.alldropdowns.cities;
                                            for(var i = 0; i < cities.length; i ++) {   %> 
                                                <option value = "<%=cities[i].city%>"><%=cities[i].text%></option>

                                             <% } %>   
                                      </select> 
                                      </div>
                                  </div>
                                  <div class="form-group">
                                     <label class="col-sm-3 control-label controlLabelText" for="emailDisplay">Email privacy setting</label>
                                    <div class="col-sm-9">
                                      <!-- <input type="text" class="form-control" name="city" id="card-holder-name" placeholder="Card Holder's Name" value = <%= user.local.city%>> -->
                                      <input id="emailDisplay" type="radio" name="emailDisplay" value = "ok"> OK to share
                                      <input id="emailDisplay" type="radio" name="emailDisplay" value = "nok"> Not OK to share
                                      <br><span class="fieldNote" style="color:inherit">Please confirm you are ok to share your email id to the artists to mail you regarding their audition or needs in their production. The emails are shared after authenticated by MotleyMeow.</span>
                                    </div>                                
                                  </div>
                                  <div class="form-group">
                                     <label class="col-sm-3 control-label controlLabelText" for="receiveNotif">Receive newsletters from us</label>
                                    
                                    <div class="col-sm-9">
                                      <!-- <input type="text" class="form-control" name="city" id="card-holder-name" placeholder="Card Holder's Name" value = <%= user.local.city%>> -->
                                      <input id="receiveNotif" type="radio" name="receiveNotif" value = "ok"> OK to receive mails
                                      <input id="receiveNotif" type="radio" name="receiveNotif" value = "nok"> Not OK to receive mails
                                      <br><span class="fieldNote" style="color:inherit">MotleyMeow may share some notificiations time to time on whats meowing in the city.</span>
                                    </div> 
                                  </div>  
                                </div>
                              </div>  
                          </div>
                          <!-- Artistic details -->
                          <div class="panel panel-default panelHeadingColor">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseContribution">Your contribution in Theatre</a>
                              </h4>
                            </div>
                            <div id="collapseContribution" class="panel-collapse collapse">
                              <div class="panel-body">
                                <text class="controlLabelText">So, how are you associated with Theatre? Do let us know so that we connect you to the ones who are looking for theatre artists like you!! </text>
                                <br/><span class="fieldNote" style="color:inherit;font-size:12px;">If something interests and you have no experience but willing to learn, select it so that you stay connected.</span>
                                <br>
                                <div class="form-group">
                                  
                                  <div id="animesh" class="col-sm-3 form-group" style = "margin-left:1px; margin-right=1px; ">
                                      <label class="control-label controlLabelText">Your association or interests in theatre:</label> 
                                        <br>
                                  </div>      
                                  <div class = "col-sm-9">
                                    <% var roles = dropdowns.alldropdowns.roles;
                                    for(var i = 0; i < roles.length; i ++) {   %> 
                                      <div class = "col-sm-6">
                                        <label class="checkbox-inline">
                                              <input type="checkbox" id="checkboxinline<%=roles[i].role%>" name="role" value="<%=roles[i].role%>" ><%=roles[i].text%>
                                        </label>
                                     </div>  

                                     <% } %>
                                   </div> 
                                </div>   

                                                 
                              </div>
                            </div> 
                          </div>



                          <!-- Artistic details -->
                          <div class="panel panel-default panelHeadingColor">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseLanguage">Languages that you connect with</a>
                              </h4>
                            </div>
                            <div id="collapseLanguage" class="panel-collapse collapse">
                              <div class="panel-body">
                                <div class="form-group">
                                  <div id="animesh" class="col-sm-3 form-group" style = "margin-left:1px; margin-right=1px; ">
                                      <label class="control-label controlLabelText">What languages are you most comfortable with:</label> 
                                        <br>
                                  </div> 
                                  <div class="col-sm-9">
                                            <% var languages = dropdowns.alldropdowns.languages;
                                            for(var i = 0; i < languages.length; i ++) {   %> 
                                            <div class = "col-sm-3">
                                                <label class="checkbox-inline">
                                                    <input type="checkbox" id="<%=languages[i]%>lang" value="<%=languages[i]%>" name="lang"/> <%=languages[i]%>
                                                </label>
                                            </div>
                                            <% } %>
                                  </div>
                                </div>
                              </div>  
                            </div> 
                          </div>

                          <!-- Artistic details -->
                          <div class="panel panel-default panelHeadingColor">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseArtistInYou">Your artistic journey</a>
                              </h4>
                            </div>
                            <div id="collapseArtistInYou" class="panel-collapse collapse">
                              <div class="panel-body">
                                <div class="control-group col-md-12">
                                  <label class="control-label col-md-3 controlLabelText">Tell something about your artistic journey:</label>        
                                    <div class="controls col-md-9">                
                                  <% if (typeof user != 'undefined' && typeof user.portfolio != 'undefined' && typeof user.portfolio.myself != 'undefined') { %>       
                                      <textarea id="textarea" name="myself" style="min-width:100%;color:black;"rows=6><%=user.portfolio.myself%></textarea>
                                  <%} else { %>   
                                      <textarea id="textarea" name="myself" style="min-width:100%;color:black;"rows=6></textarea>
                                  <%}%> 
                                    </div>
                                </div>
                              </div>  
                            </div> 
                          </div>


                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsePictures">Let your pictures talk</a>
                              </h4>
                            </div>
                            <div id="collapsePictures" class="panel-collapse collapse">
                              <div class="panel-body">
                                  <div class="control-group col-md-12" id = "mypics">
                                      <label class="control-label col-md-3 controlLabelText">Upload your pictures:</label>
                                        <span class="fieldNote" style="color:inherit;">Ensure that the picture is <5 MB and jpeg/jpg/png only. Images >5 MB may not respond</span>
                                        <span class="btn btn-success fileinput-button col-md-9">  
                                          <i class="glyphicon glyphicon-plus"></i>
                                          
                                          <span>Add images(jpg/jpeg/png only)</span>
                                            <input id = "profileImagePost" type="file" class = "imageUpdateField" name = "profileImagePost" multiple style="color: transparent;"/>
                                          </span>
                                              
                                         <input type="hidden" id="mypfolioPics" name = "mypfolioPics">
                                         <input type="hidden" id="mypfolioRemPics" name = "mypfolioRemPics">
                                         <div>&nbsp;</div>
                                         <div class="progress col-md-6 col-md-offset-4" style= "display:none;padding:0px;">
                                              <div class="bar"></div >
                                              <label class="percent">0</label >
                                          </div>
                                          <div class='col-md-9' style='float:right;'>
                                            <table role="presentation" id = "imageTable" class='table table-striped'><tbody class='files'></tbody>
                                            </table>
                                          </div>

                                          <div id="status"></div>
                                  </div> 
                                  <div class = "control-group col-md-12" id = "myFlickPics">
                                    <label class="control-label col-md-3 controlLabelText" for="field1">Embed from Flickr</label>
                                          <div class="controls col-md-9"> 
                                            <span class="question">?</span>
                                            <span class="fieldNote" style="color:inherit;">Ensure that the picture in Flickr is public. Please copy, paste the URL here and then press <span class="glyphicon glyphicon-plus gs"></span> to embed it here. Thanks.</span>
                                              <div id = "flickrPicPlus">
                                                  <div class="fPicentry input-group col-md-12" id="fpic0">
                                                      <input class="col-md-9" id="fpic0" name="fpic0" type="text" placeholder="Copy and pase the Flickr url" 
                                                      />
                                                    <span class="input-group-btn col-md-3">
                                                          <button class="btn btn-success btn-addFPics" type="button" style="font-size:8px;">
                                                              <span class="glyphicon glyphicon-plus"></span>
                                                          </button>
                                                      </span>
                                                  </div>
                                                  <div>&nbsp;</div>
                                               </div>   
                                          <br>
                                          <input type="hidden" id="mypfolioFlickrPics" name = "mypfolioFlickrPics">
                                          </div>
                                  </div>  
                              </div>
                            </div>
                          </div>

                          <div class="panel panel-default">
                            <div class="panel-heading">
                              <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseVideos">Videos that complete you</a>
                              </h4>
                            </div>
                            <div id="collapseVideos" class="panel-collapse collapse">
                              <div class="panel-body">
                                   <div class="control-group col-md-12" id = "myVideos">
                                      <div class="control-group" id="fields">
                                          <label class="control-label col-md-3 controlLabelText" for="field1">Add your videos</label>

                                          <div class="controls col-md-9"> 
                                            <span class="question">?</span>
                                            <span class="fieldNote" style="color:inherit;">We are currently supporting only YouTube Videos. Please copy, paste the URL here and then press <span class="glyphicon glyphicon-plus gs"></span> to embed it here. Thanks.</span>
                                              <div id = "videoPlus">
                                                  <div class="entry input-group col-md-12" id="vid0">
                                                      <input class="col-md-9" id="videos0" name="videos0" type="text" placeholder="Give video URL here" 
                                                      />
                                                    <span class="input-group-btn col-md-3">
                                                          <button class="btn btn-success btn-addVideos" type="button" style="font-size:8px;">
                                                              <span class="glyphicon glyphicon-plus"></span>
                                                          </button>
                                                      </span>
                                                  </div>
                                               </div>   
                                          <br>
                                          <input type="hidden" id="mypfolioVids" name = "mypfolioVids">
                                          </div>
                                      </div>
                                    </div>
                              </div>
                            </div>
                          </div>  
                          <div class="panel panel-default">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapsePlays">Your experiences</a>
                                </h4>
                              </div>
                              <div id="collapsePlays" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="control-group col-md-12" id = "myPlays">
                                        <div class="control-group">
                                            <label class="control-label col-md-3 controlLabelText" for="field1">Your performances</label>

                                            <div class="panel panel-default controls col-md-9"> 
                                              
                                                <div id = "playPlus" class="panel-body">
                                                    <div class="playEntry input-group col-md-12" id="plays0" style="padding-top:15px;">
                                                        <input class="col-md-12 playsText" id="playsText" name="playsText" type="text" placeholder="Name the play you were part of"/>
                                                        <div>&nbsp;</div>
                                                        <input class="col-md-12 playsLink" id="playsLink" name="playsLink" type="text" placeholder="Give any web link of it if you have it" onchange="insertURL(this)"/>
                                                        <input class="col-md-12 playsGroup" id="playsGroup" name="playsGroup" type="text" placeholder="The theatre group's name"/>
                                                        
                                                        <div class="col-sm-7 form-group" style = "margin-left:1px; margin-right=1px; ">
                                                            <label class="control-label">Which year was the play produced</label> 
                                                              <br>
                                                        </div> 
                                                        <div class = "col-sm-5">
                                                         <select class="col-sm-7" id="playsProdYear" name="playsProdYear" placeholder="The year of production" style="max-height:20px;"></select>
                                                        </div> 
                                                      
                                                        <div>&nbsp;</div>
                                                        <div class="col-sm-7 form-group" style = "margin-left:1px; margin-right=1px; ">
                                                            <label class="control-label">Your involvement in this event:(Cntrl-select to add more)</label> 
                                                              <br>
                                                        </div> 
                                                        <div class = "col-sm-5" style="height:100%">
                                                              <select class="playsRole" id="playsRole" multiple="multiple">
                                                                <% var roles = dropdowns.alldropdowns.roles;
                                                                for(var i = 0; i < roles.length; i ++) {   %> 
                                                                      <option value="<%=roles[i].role%>"><%=roles[i].text%></option>
                                                                 <% } %>
                                                              </select>
                                                         </div> 
                                                      
                                                      <span class="col-md-12">
                                                            <button class="btn btn-success btn-addPlays col-md-12" type="button" style="font-size:12px;">
                                                                <span class="glyphicon glyphicon-plus">Add more experiences</span>
                                                            </button>
                                                      </span>

                                                  </div>
                                                </div>   
                                            <br>
                                            
                                            <input type="hidden" id="mypfolioPlays" name = "mypfolioPlays">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>

                            <div class="panel panel-default panelHeadingColor">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSocialPresence">Your social presence</a>
                                </h4>
                              </div>
                              <div id="collapseSocialPresence" class="panel-collapse collapse">
                                <div class="panel-body">
                                    <div class="control-group col-md-12" id = "mySocialPresence">
                                        <div class="control-group">
                                          <%if(typeof user.portfolio.mySocialPresence == 'undefined' || user.portfolio.mySocialPresence.length == 0) {%>
                                            <%if(typeof user.google == 'undefined' || typeof user.google.link =='undefined' || user.google.link == "") { %>
                                              <label class="col-sm-3 control-label  controlLabelText" for="socialG">Google+</label>
                                              <div class="col-sm-9">
                                                  <input type="text" class="form-control" name="socialG" id="socialG" placeholder="Your google+ profile link"> 
                                              </div>
                                            <% } %>  
                                            
                                            <label class="col-sm-3 control-label  controlLabelText" for="socialT">Twitter</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="socialT" id="socialT" placeholder="Your twitter profile link"> 
                                            </div>    

                                            <label class="col-sm-3 control-label  controlLabelText" for="socialLn">LinkedIn</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" name="socialLn" id="socialLn" placeholder="Your Linkedin profile link"> 
                                            </div>   
                                          <% } else { 
                                             for(var i =0; i < user.portfolio.mySocialPresence.length; i ++) {%>
                                                
                                                   <% if(user.portfolio.mySocialPresence[i].name == "socialG") {
                                                      if(typeof user.google == 'undefined' || typeof user.google.link =='undefined' || user.google.link == "") { %>
                                                      <label class="col-sm-3 control-label controlLabelText" for="socialG">Google+</label>
                                                      <div class="col-sm-9">
                                                          <input type="text" class="form-control" name="socialG" id="socialG" placeholder="Your google+ profile link"
                                                          value="<%=user.portfolio.mySocialPresence[i].URL%>"> 
                                                      </div>
                                                    <%}
                                                    } %>  
                                                <% if(user.portfolio.mySocialPresence[i].name == "socialT") {%>
                                                  <label class="col-sm-3 control-label controlLabelText" for="socialT">Twitter</label>
                                                  <div class="col-sm-9">
                                                      <input type="text" class="form-control" name="socialT" id="socialT" placeholder="Your twitter profile link" value="<%=user.portfolio.mySocialPresence[i].URL%>"> 
                                                  </div>    
                                                <% } %>
                                                <% if(user.portfolio.mySocialPresence[i].name == "socialLn") {%>
                                                  <label class="col-sm-3 control-label controlLabelText" for="socialLn">LinkedIn</label>
                                                  <div class="col-sm-9">
                                                      <input type="text" class="form-control" name="socialLn" id="socialLn" placeholder="Your Linkedin profile link" value="<%=user.portfolio.mySocialPresence[i].URL%>"> 
                                                  </div>  
                                                <%} %>  
                                             <% } %> 
                                          <% } %>
                                        </div>
                                    </div>
                                </div>
                              </div>
                              <input type = "hidden" id = "mypfolioSocialPres" name = "mypfolioSocialPres"/>
                            </div>


                            <div class="panel panel-default panelHeadingColor">
                              <div class="panel-heading">
                                <h4 class="panel-title">
                                  <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseResume">More to say...</a>
                                </h4>
                              </div>
                              <div id="collapseResume" class="panel-collapse collapse">
                                <div class="panel-body">
                                     <div class="control-group col-md-12">
                                      <% if( typeof user.portfolio.myResume != 'undefined' && user.portfolio.myResume != "") { %>
                                            <label class="control-label col-md-3 controlLabelText">Update your Artistic Résumé</label>
                                              <a href= "/portfolio/<%=user.facebook.id%>/resume/<%=user.portfolio.myResume%>" class="antiguaFont" style="color:inherit;">View it here</a>
                                              <span class="btn btn-default col-md-9">
                                              <input id = "resume" type="file" class = "resumeField" name = "resume" style="color: transparent;"/>
                                              </span>
                                              <input type="hidden" id="myResume" name = "myResume">
                                       <% } else { %>      
                                             <label class="control-label col-md-3 controlLabelText">Add your Artistic Résumé</label>
                                              <span class="btn btn-default col-md-9">
                                              <input id = "resume" type="file" class = "resumeField" name = "resume" style="color: transparent;"/>
                                              </span>
                                             <input type="hidden" id="myResume" name = "myResume">
                                        <% } %>      
                                      </div>
                                </div>
                              </div>
                            </div> 
                        </div> 
                                

              </div>
                    

            </div>    
                      


        </div>
            <div class="panel-footer" style= "background-color: rgba(245, 245, 245, 0);padding: 10px 15px;border:0px;color:#ECE9E9;">
          
         <!--  <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)"><span style="padding-left: 10px;">Please confirm you have read and will abide by our
          <a href="#myModal" role="button" class="btn" data-toggle="modal"> commercialmunity Guidelines. </a></span> -->
          
          <!-- <span class="pull-right"> -->
        <!--       <a href="/update" title="Submit the form" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-upload"></i></a> -->
              <p style="text-align:center;" class="antiguaFont">Please ensure you have read and will abide by our <b>"Terms of use"</b> located in the footer
              <p style="text-align:center;"><button id = "submit" type="submit" class="btn btn-primary" type="button" name="btnvalue" value="submit"><i class="glyphicon glyphicon-ok-circle">SUBMIT</i>
              </button>
              
          <!-- </span> -->
          </div>
        </fieldset>

          </div>      
                  
             
        
  
                        
                        
         
  
                  
    

   </form>  
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
         <span class="pull-right"><button id = "delete" type = "submit" title="Remove me from this site" type="button" class="btn btn-sm btn-danger" name="btnvalue" value="delete" data-toggle="modal" data-target="#deleteModal">Remove Me from this site<i class="glyphicon glyphicon-remove"></i></button>
         </span>
        <!-- <button class="btn btn-danger" >Delete Me</button> -->
    
    </div>
  </div>

                 
</div>
</div>
</div>
      <!-- footer starts-->
<div id = "footer"></div>

  


  <div class="modal fade multi-step" id="deleteModal" role="dialog" aria-labelledby="deleteModal" class="open-ViewDialog" tabindex="-1" aria-hidden="true">  
    <form action="/deleteArtist" method="post" id="deleteForm">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" style = "background-color: #528FCC;">
                  <h4 class="modal-title step-1" data-step="1">DELETE ME</h4>
                  <h4 class="modal-title step-2" data-step="2">DELETE ME</h4>
                   <h4 class="modal-title step-3" data-step="2">DELETE ME</h4>
              </div>
              <div class="modal-body step step-1">
                  Oops!! You seem to have clicked a wrong button. Please close this.
              </div>
              <div class="modal-body hero step step-2">
                  OK, So you have decided to leave us. But why? 
                  
                                <p id = "OptionsNotToDelete" class="form-control-static"></p>
                                  <strong>If its only a matter of time, you can choose to remain in passive mode which is, "No receieve notifications" and "No email display". This way you you won't be troubled by our emails or even mails regarding requests from artists</strong>
                                
                            
              </div>
              <div class="modal-body step step-3">
                  OK, So you insist!!
                  
                                <p id = "Delete" class="form-control-static"></p>
                                  <strong>Please tell us one reason why you want to leave this site. Be aware your posted requests will also be deleted once you delete yourself from this site!</strong>
                                  <div class="form-group">
                                          <fieldset>            

                                                <textarea placeholder="Tell us one reason what makes you leave. Its a feedback for us." class="form-control" id="deleteFeedback" name = "deletedFeedback"></textarea>            
                                                <input type="hidden" id="email" name = "email" value="<%=user.facebook.email %>">
                                                <input type="hidden" id="facebookID" name = "facebookID" value="<%=user.facebook.id %>">  
                                        
                                  </div>
                                
                            
              </div>
              <div class="modal-footer step-1" data-step="1">
                  <span class="pull-left"><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></span>
                  <span class="pull-right"><button type="button" class="btn btn-default" onclick="sendEvent('#deleteModal', 2)">Really?!?</button></span>
                  
              </div>
              <div class="modal-footer step-2" data-step="2">
                  <span class="pull-right"><button type="button" class="btn btn-primary" data-dismiss="modal">Thanks, I choose to remain passive</button></span>
                  <span class="pull-left"><button type="button" class="btn btn-default" onclick="sendEvent('#deleteModal', 3)">I insist</button></span>
              </div>
              <div class="modal-footer step-3" data-step="3">
                  <span class="pull-left"><button type="button" class="btn btn-primary" data-dismiss="modal">I choose to stay back</button></span>
                  <span class="pull-right"><button type="button" class="btn btn-default" onclick="submitForDelete()">DELETE ME NOW</button></span>
              </div>
          </div>
      </div>
    </form>
  </div>  

    
    <script src="js/jquery.js"></script>
    <script src="js/jquery-validate.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/multiple-modals.js"></script>
    <script src="js/lightbox.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript" src="js/jquery.noty.packaged.min.js"></script>
     <script type="text/javascript">
      var imageIndex = 0;
      var vidIndex = 0;
      var playIndex = 0;
      var flickIndex = 0;
      var portfolioImages =new Array();
      var portfolioSocialPres = new Array();
       $('input[id=fileupload]').change(function(e){
          $('#fileupload').fileupload({
              dataType: 'json',
              done: function (e, data) {
                  $.each(data.result.files, function (index, file) {

                      $('<p/>').text(file.name).appendTo(document.getElementById('fileUploadResult'));
                  });
              },
              progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .bar').css(
                    'width',
                    progress + '%'
                );
              }
          });
      });


      //$.validator.setDefaults({ ignore: [] });
      $('#profileUpdateForm').validate({
            rules: {
                email: {
                    required: true,
                    email: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('success').addClass('error');
                $('#collapseBasicProfile').addClass("in");
                $('#collapseBasicProfile').attr("aria-expanded", "true");
                $('#collapseBasicProfile').attr("style", "");

                  // $("#accordion").accordion("option", "active", 0);

            },
            success: function (element) {
                $(element).closest('.form-group').removeClass('error').addClass('success');
            },
            ignore: false

      });

      
      sendEvent = function(sel, step) {
          $(sel).trigger('next.m.' + step);
      }


      $('#profileUpdateForm').submit(function( event ) {
        var portfolioRemovedImages =new Array();
        var portfolioVideos =new Array();
        var portfolioRemovedVideos =new Array();
        var portfolioPlays =new Array();
        var flickrPictures = new Array();
        $('#profileImagePost').val("");
        $('#mypfolioPics').val(portfolioImages);
        //$('#mypfolioRemPics').val(portfolioRemovedImages);
        $('#videoPlus').children('div').each(function () {
            var iframeElem = $(this).find('iframe');
            
            if(iframeElem.length !=0 && $(iframeElem).attr('src') != "") {
              portfolioVideos.push({
                    "videoURL": $(this).find('iframe').attr('src'),
                    "videoText": $(this).find('textarea').val()
              }); 
            }  
        });

        $('#flickrPicPlus').children('div').each(function () {
            var iframeElem = $(this).find('iframe');
            
            if(iframeElem.length !=0 && $(iframeElem).attr('src') != "") {
              flickrPictures.push({
                    "flickrURL": $(this).find('iframe').attr('src')
              }); 
            }  
        });

        $('#playPlus').children('div').each(function () {

            var playName = $(this).find('#playsText').val();
            var playGroupName = "";
            var playProdyearVal = "";
            var playRoleVal = "";
            if(playName != 'undefined' && playName != "") {
              if( $(this).find('#playsGroup').val() != "") {
                playGroupName = $(this).find('#playsGroup').val();
              } 

              if($(this).find('#playsProdYear').val() != "" && $(this).find('#playsProdYear').val() != null) {
                playProdyearVal = $(this).find('#playsProdYear').val();
              }
              if($(this).find('#playsRole').val() != null && $(this).find('#playsRole').val() !="") {
                playRoleVal = $(this).find('#playsRole').val();
              }
              portfolioPlays.push({
                    "playName": playName,
                    "playURL": $(this).find('#playsLink').val(),
                    "playContrib" : playRoleVal,
                    "playGroup" : playGroupName,
                    "playProdYear" : playProdyearVal

              }); 
            }  
        });
        if(portfolioPlays.length > 0 ) {
          $('#mypfolioPlays').val(JSON.stringify(portfolioPlays));
        }

        
        if(portfolioVideos.length > 0 ) {
          $('#mypfolioVids').val(JSON.stringify(portfolioVideos));
        }

        if(flickrPictures.length > 0 ) {
          $('#mypfolioFlickrPics').val(JSON.stringify(flickrPictures));
        }

          portfolioSocialPres.push({"icon" : "fa fa-google-plus",
                                    "URL":$('#socialG').val(),
                                    "name":"socialG"});
          portfolioSocialPres.push({"icon" : "fa fa-twitter",
                                    "URL":$('#socialT').val(),
                                    "name":"socialT"});
          portfolioSocialPres.push({"icon" : "fa fa-linkedin ",
                                    "URL":$('#socialLn').val(),
                                    "name":"socialLn"});
        

        if(portfolioSocialPres.length > 0) {
          $('#mypfolioSocialPres').val(JSON.stringify(portfolioSocialPres));
        }
      });
      $('#deleteForm').validate({
            rules: {
                deletedFeedback: {
                    required: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('success').addClass('error');
            },
            success: function (element) {
                $(element).closest('.form-group').removeClass('error').addClass('success');
            }
        });

      

      submitForDelete = function() {
          $('#deleteForm').submit();
      }

     $(window).ready(function(){
            var max = new Date().getFullYear(),
            min = max - 30,
            select = document.getElementById('playsProdYear');
            for (var i = min; i<=max; i++) {
                var opt = document.createElement('option');
                opt.value = i;
                opt.innerHTML = i;
                select.appendChild(opt);
            }
            $('#playsProdYear').prepend($('<option/>', { 
              value: "",
              text : "Select Year",
              selected : true
          }));
          $('#successprofile').modal('show');
          <% if(typeof user.portfolio == 'undefined' || typeof user.portfolio.myPhotos == 'undefined' || user.portfolio.myPhotos.length ==0 ) { %>
          <% } else { %>
                                 

            // $('#mypics').append("<div class='col-md-9' style='float:right;'><table role=presentation" + " id = imageTable" + " class='table table-striped'><tbody class='files'>");


            <% for(var i = 0; i < user.portfolio.myPhotos.length; i ++ ) { %> 
                $('#imageTable').append("<tr class='template-upload fade in' id = div" + imageIndex + " >");
                $('#div' + imageIndex).append("<td> <a href=/portfolio/"+ "<%=user.facebook.id%>" + "/pictures/" + "<%=user.portfolio.myPhotos[i]%>" + " id = mypicsa" + imageIndex + " data-lightbox='Uploading..' data-title='Portfolio pictures'>");
                $('#mypicsa' + imageIndex).append("<img id=image"+imageIndex + " src = /portfolio/" + "<%=user.facebook.id%>" + "/pictures/" +"<%=user.portfolio.myPhotos[i]%>" + " alt='No Image Set' style='max-width:200px;max-height:200px' ></img></a>");
                $('#div' + imageIndex).append("<td> <button class='btn btn-warning cancel' type = 'button' id=deleteImage" + imageIndex + " onclick='removeThis("+ imageIndex +");return false;'><i class='glyphicon glyphicon-ban-circle'></i><span>Remove this image</span></button> </td></tr>");
                $('#mypicsa' + imageIndex).append("<input type='hidden' id=portfolioImageName"+imageIndex + " value = " + "<%=user.portfolio.myPhotos[i]%>" + " >");


                  imageIndex++;
                  portfolioImages.push("<%=user.portfolio.myPhotos[i]%>");
            <% } %>
          <%} %>
          // $('#mypics').append("</table></div>");

          <% if(typeof user.portfolio == 'undefined' || typeof user.portfolio.myVideos == 'undefined' || user.portfolio.myVideos.length <= 0 ) { %>
          <% } else { %>
              // if(user.portfolio.myVideos.length == 1) { %>
                var controlForm = $('.controls #videoPlus:first'),
                    currentEntry = $(this).find('.entry:first');
                $(currentEntry).find('input').val("<%=user.portfolio.myVideos[0].videoURL%>");
                $(currentEntry).append("<iframe src=" +  "<%=user.portfolio.myVideos[0].videoURL%>" + " width=500 height=300 frameborder=0 allowfullscreen class=col-md-12></iframe>");
                $(currentEntry).append("<textarea id=videoText"+ currentEntry.attr('id') + 
                            " name= videoText"+ currentEntry.attr('id') + " placeholder='Tell us something about this video' " +
                            "style='min-width:100%';rows=6>" + "<%=user.portfolio.myVideos[0].videoText%>" + "</textarea>");     
                controlForm.find('.entry .btn-addVideos')
                    .removeClass('btn-addVideos').addClass('btn-remove')
                    .removeClass('btn-success').addClass('btn-danger')
                    .html('<span class="glyphicon glyphicon-minus"></span>');
                vidIndex++; 


              <% for(var i = 1; i < user.portfolio.myVideos.length; i ++ ) { %> 
                  var controlForm = $('.controls #videoPlus:first'),
                      currentEntry = $(this).find('.entry:last'),
                      newEntry = $(currentEntry).clone().appendTo(controlForm);
                  $(newEntry).attr('id', 'vid' + vidIndex);
                  newEntry.find('input').attr('id', 'videos'+vidIndex);
                  newEntry.find('input').val("<%=user.portfolio.myVideos[i].videoURL%>");
                  newEntry.find('iframe').attr('src', "<%=user.portfolio.myVideos[i].videoURL%>");
                  newEntry.find('textarea').attr('id', "videoText"+ newEntry.attr('id'));
                  newEntry.find('textarea').val("<%=user.portfolio.myVideos[i].videoText%>");  
                  controlForm.find('.entry:not(:last) .btn-addVideos')
                      .removeClass('btn-addVideos ').addClass('btn-remove')
                      .removeClass('btn-success').addClass('btn-danger')
                      .html('<span class="glyphicon glyphicon-minus"></span>');
                  vidIndex++; 
              <% } %>  
                  var controlForm = $('.controls #videoPlus:first'),
                  currentEntry = $(this).find('.entry:last'),
                  newEntry = $(currentEntry).clone().appendTo(controlForm);
                  $(newEntry).find('iframe').remove();
                  $(newEntry).find('textarea').remove();
                  $(newEntry).attr('id', 'vid' + vidIndex);
                  newEntry.find('input').attr('id', 'videos'+vidIndex);
                  newEntry.find('input').val('');
                  newEntry.find('.btn-remove').removeClass('btn-remove').addClass('btn-addVideos')
                  .removeClass('btn-danger').addClass('btn-success')
                    .html('<span class="glyphicon glyphicon-plus"></span>');
                  vidIndex++;  
          <% } %>      

          <% if(typeof user.portfolio == 'undefined' || typeof user.portfolio.myFlickrPics == 'undefined' || user.portfolio.myFlickrPics.length <= 0 ) { %>

          <% } else { %>
              // if(user.portfolio.myVideos.length == 1) { %>

                var controlForm = $('.controls #flickrPicPlus:first'),
                    currentEntry = $(this).find('.fPicentry:first');
                $(currentEntry).find('input').val("<%=user.portfolio.myFlickrPics[0].flickrURL%>");
                $(currentEntry).append("<iframe src=" +  "<%=user.portfolio.myFlickrPics[0].flickrURL%>" + " width=200 height=200 frameborder=0 allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen class=col-md-12></iframe>");
                  
                controlForm.find('.fPicentry .btn-addFPics')
                    .removeClass('btn-addFPics').addClass('btn-removeFPics')
                    .removeClass('btn-success').addClass('btn-danger')
                    .html('<span class="glyphicon glyphicon-minus"></span>');
                flickIndex++; 


              <% for(var i = 1; i < user.portfolio.myFlickrPics.length; i ++ ) { %> 
                  var controlForm = $('.controls #flickrPicPlus:first'),
                      currentEntry = $(this).find('.fPicentry:last'),
                      newEntry = $(currentEntry).clone().appendTo(controlForm);
                  $(newEntry).attr('id', 'fpic' + flickIndex);
                  newEntry.find('input').attr('id', 'fpic'+flickIndex);
                  newEntry.find('input').val("<%=user.portfolio.myFlickrPics[i].flickrURL%>");
                  newEntry.find('iframe').attr('src', "<%=user.portfolio.myFlickrPics[i].flickrURL%>");
   
                  controlForm.find('.fPicentry:not(:last) .btn-addFPics')
                      .removeClass('btn-addFPics ').addClass('btn-removeFPics')
                      .removeClass('btn-success').addClass('btn-danger')
                      .html('<span class="glyphicon glyphicon-minus"></span>');
                  flickIndex++; 
              <% } %>  
                  var controlForm = $('.controls #flickrPicPlus:first'),
                  currentEntry = $(this).find('.fPicentry:last'),
                  newEntry = $(currentEntry).clone().appendTo(controlForm);
                  $(newEntry).find('iframe').remove();
                  $(newEntry).attr('id', 'fpic' + flickIndex);
                  newEntry.find('input').attr('id', 'fpic'+flickIndex);
                  newEntry.find('input').val('');
                  newEntry.find('.btn-removeFPics').removeClass('btn-removeFPics').addClass('btn-addFPics')
                  .removeClass('btn-danger').addClass('btn-success')
                    .html('<span class="glyphicon glyphicon-plus"></span>');
                  flickIndex++;  
          <% } %>      




          // Add the experience with plays
        <% if(typeof user.portfolio == 'undefined' || typeof user.portfolio.myPlays == 'undefined' || user.portfolio.myPlays.length <= 0 ) { %>
          <% } else { %>
                // if(user.portfolio.myVideos.length == 1) { %>
                var controlForm = $('.controls #playPlus:first'),
                    currentEntry = $(this).find('.playEntry:first');
                $(currentEntry).find('#playsText').val("<%=user.portfolio.myPlays[0].playName%>");
                $(currentEntry).find('#playsLink').val("<%=user.portfolio.myPlays[0].playURL%>");
                $(currentEntry).find('#playsRole').val("<%=user.portfolio.myPlays[0].playContrib%>".split(","));
                $(currentEntry).find('#playsGroup').val("<%=user.portfolio.myPlays[0].playGroup%>");
                $(currentEntry).find('#playsProdYear').val("<%=user.portfolio.myPlays[0].playProdYear%>");
                 
                controlForm.find('.playEntry .btn-addPlays')
                    .removeClass('btn-addPlays').addClass('btn-removePlays')
                    .removeClass('btn-success').addClass('btn-danger')
                    .html('<span class="glyphicon glyphicon-minus"></span>');
                playIndex++; 


              <% for(var i = 1; i < user.portfolio.myPlays.length; i ++ ) { %> 
                  var controlForm = $('.controls #playPlus:first'),
                      currentEntry = $(this).find('.playEntry:last'),
                      newEntry = $(currentEntry).clone().appendTo(controlForm);
                $(newEntry).attr('id', 'plays' + playIndex);
                $(newEntry).find('#playsText').val("<%=user.portfolio.myPlays[i].playName%>");
                $(newEntry).find('#playsLink').val("<%=user.portfolio.myPlays[i].playURL%>");
                $(newEntry).find('#playsRole').val("<%=user.portfolio.myPlays[i].playContrib%>".split(","));
                $(newEntry).find('#playsGroup').val("<%=user.portfolio.myPlays[i].playGroup%>");
                $(newEntry).find('#playsProdYear').val("<%=user.portfolio.myPlays[i].playProdYear%>");
                  
                  controlForm.find('.playEntry:not(:last) .btn-addPlays')
                      .removeClass('btn-addPlays').addClass('btn-removePlays')
                      .removeClass('btn-success').addClass('btn-danger')
                      .html('<span class="glyphicon glyphicon-minus"></span>');
                  playIndex++; 
              <% } %>  
                  var controlForm = $('.controls #playPlus:first'),
                  currentEntry = $(this).find('.playEntry:last'),
                  newEntry = $(currentEntry).clone().appendTo(controlForm);
                  $(newEntry).attr('id', 'plays' + playIndex);
                  $(newEntry).find('#playsText').val("");
                  $(newEntry).find('#playsLink').val("");
                  $(newEntry).find('#playsRole').val("");
                  $(newEntry).find('#playsGroup').val("");
                  $(newEntry).find('#playsProdYear').val("");
                  newEntry.find('.btn-removePlays').removeClass('btn-removePlays').addClass('btn-addPlays')
                  .removeClass('btn-danger').addClass('btn-success')
                    .html('<span class="glyphicon glyphicon-plus"></span>');
                  playIndex++;  
          <% } %>

     });


    $(function(){


      $('input[id=profileImagePost]').click(function(){
        $('.progress').hide();
        $('#errorMsg').hide();
      });  

      removeThis = function(imgIndx) {
        //portfolioRemovedImages.push($('#imageName' + imgIndx).val());

        portfolioImages.splice($.inArray( $('#portfolioImageName' + imgIndx).val(), portfolioImages),1);
        $('img[id=image' + imgIndx + ']').attr("src","");
        $('tr[id=div' + imgIndx + ']').remove();

  
      }


      $('input[id=resume]').change(function(e){
          // alert("here")
          var data = new FormData();

          data.append('resume',$('input[id=resume]')[0].files[0]); 
          
          // alert("Data is " + data);
          $.ajax({
            url: "/postProfileResume",
            type: "POST",
            contentType: false,
            processData: false,
            data: data,
            complete: function() {
              
            },
            success: function(data) {
              if(data.error) {
                // alert('Opps, something bad happened');
                return;
              }
              var currentEntry = $('input[id=resume]').parents('div:first');
              $(currentEntry).find('p').remove();
              $(currentEntry).append("<p class=col-md-9>" +  "File " + data.resumeName.originalname + " uploaded");
              $('#myResume').val(data.resumeName.name);
            }
          });
      });       

      $('input[id=profileImagePost]').change(function(e){
        var bar = $('.bar');
        var percent = $('.percent');
        var status = $('#status');
        var imagesAdded = false;
        var dataToLoad;
          // alert("here")
          var data = new FormData();
          for (var i = 0; i < $('input[id=profileImagePost]')[0].files.length; i++) { 
              var fileInput = $('input[id=profileImagePost]')[0].files[i];
             
              var filename = fileInput.name.split('.').pop().toLowerCase();
             
              if (filename == 'jpg' || filename == 'jpeg' || filename == 'png') {
                  var filesize=fileInput.size;
                 
                  if (filesize > 5242880) {
                      
                      $('#errorMsg').show();
                  } else {
                      imagesAdded = true;
                      data.append('image', $('input[id=profileImagePost]')[0].files[i]); 
                  }
              } else {
                  $('#errorMsg').show();
              }
              
          }
          
          
          if(!imagesAdded) {
            
            return;
          }
          $.ajax({
            url: "/postProfilePics",
            type: "POST",
            contentType: false,
            processData: false,
            data: data,
            beforeSend: function() {
              status.empty();
              var percentVal = '0%';
              $('.progress').show();
              bar.width(percentVal);
              percent.html(percentVal);
            },
            xhr: function() {
              var xhr = new window.XMLHttpRequest();
              xhr.upload.addEventListener("progress", function(evt) {
                // alert("progress evt.loaded " + evt.loaded);
                //  alert("progress evt.total" + evt.total);
                if (evt.lengthComputable) {
                  var percentComplete = evt.loaded / evt.total;
                  percentComplete = parseInt(percentComplete * 100);

                  bar.width(percentComplete);
                  percent.html(percentComplete + "% completed");
                }
              }, false);


              xhr.upload.addEventListener("load", function(evt) {
                bar.css( "width", "100%" );
                percent.html("100% completed");
              }, false);  
              return xhr;
            },
            complete: function() {

            },
            success: function(data) {
             if(data.error) {
              // alert('Opps, something bad happened');
              return;
              }
              console.log("Data " + data.path)
              if(typeof data.path != 'undefined' && data.path.length > 0) {
                for(var i = 0; i < data.path.length ; i++) {
                  
                  portfolioImages.push(data.path[i].name);

                  // $('#mypics').append("<img id=image"+i+" alt='No Image Set' style='max-width:200px;max-height:200px'></img>");
                  // $("#image"+i).attr("src","tempUploads/"+data.path[i].name);
                $('#imageTable').append("<tr class='template-upload fade in' id = div" + imageIndex + " >");
                $('#div' + imageIndex).append("<td> <a href=/portfolio/"+ "<%=user.facebook.id%>" + "/pictures/" + data.path[i].name + " id = mypicsa" + imageIndex + " data-lightbox='No Image set' data-title='Portfolio pictures'>");
                $('#mypicsa' + imageIndex).append("<img id=image"+imageIndex + " src = /portfolio/" + "<%=user.facebook.id%>" + "/pictures/" +data.path[i].name + " alt='No Image Set' style='max-width:200px;max-height:200px' ></img></a>");
                $('#div' + imageIndex).append("<td> <button class='btn btn-warning cancel' type = 'button' id=deleteImage" + imageIndex + " onclick='removeThis("+ imageIndex +");return false;'><i class='glyphicon glyphicon-ban-circle'></i><span>Remove this image</span></button> </td></tr>");
                $('#mypicsa' + imageIndex).append("<input type='hidden' id=portfolioImageName"+imageIndex + " value = " + data.path[i].name + " >");
 


                  $('#mypics').append("</div>");
                  imageIndex++;
                }
              }
            },
            
                


            error: function() {
              console.log('process error');
            },
          });
      });
    });
    
    $("#headerloggedin").load("/header");
    $("#headerloggedout").load("headerloggedout.ejs");
    $("#footer").load("footer.ejs"); 
    
    $(function(){
      $('select[value]').each(function(){
        $(this).val(this.getAttribute("value"));
     });
     
      var values_role = '<%=user.local.role%>';
      var roleInitValues = values_role.split(",");

      var values_lang = '<%=user.local.lang%>';
      var langInitValues = values_lang.split(",");
      var value_emailDisplay = '<%=user.local.emailDisplay%>'
      var value_receiveNotif = '<%=user.local.receiveNotif%>'
      
      $('input[name=role][type=checkbox]').each(function(){
        
        $(this).prop("checked", ($.inArray($(this).val(), roleInitValues) != -1));

     });

      $('input[name=lang][type=checkbox]').each(function(){
        
        $(this).prop("checked", ($.inArray($(this).val(), langInitValues) != -1));

     });

      if(value_emailDisplay == "true") $('input[name=emailDisplay][type=radio]').val(["ok"]);
      else $('input[name=emailDisplay][type=radio]').val(["nok"]);

      if(value_receiveNotif == "true") $('input[name=receiveNotif][type=radio]').val(["ok"]);
      else $('input[name=receiveNotif][type=radio]').val(["nok"]);

      
  });



      $('[id^=checkboxinline]').click(function(){
        
        if($(this).prop('checked')){
          $(this).closest('div').find('input').show();
        } else {
          $(this).closest('div').find('input.form-control').hide();
          $(this).closest('div').find('input.form-control').prop("value", null);
          $(this).closest('div').find('input.form-control').prop("placeholder", "exp. in years");
        }
      });


      $('[data-toggle="tooltip"]').tooltip();

      $(function(){
          $('a[title]').tooltip();
      });


      $('#deleteModal').on('hide.bs.modal', function () {
        $('.step-1').hide();
        $('.step-2').hide();
        $('.step-3').hide();
      })

      $('#deleteModal').on('show.bs.modal', function () {
        $('.step-1').show();
        $('.step-2').hide();
        $('.step-3').hide();
      })
      
      $(function() {
        $(document).on('click', '.btn-addVideos', function(e) {
            e.preventDefault();

            if(!insertIframe(this)) return false;
            var controlForm = $('.controls #videoPlus:first'),
                currentEntry = $(this).parents('.entry:first'),
                newEntry = $(currentEntry).clone().appendTo(controlForm);
            $(newEntry).find('iframe').remove();
            $(newEntry).find('textarea').remove();
            $(newEntry).attr('id', 'vid' + vidIndex);
            newEntry.find('input').attr('id', 'videos'+vidIndex);
            newEntry.find('input').val('');
            controlForm.find('.entry:not(:last) .btn-addVideos')
                .removeClass('btn-addVideos').addClass('btn-remove')
                .removeClass('btn-success').addClass('btn-danger')
                .html('<span class="glyphicon glyphicon-minus"></span>');
            vidIndex++;    
        }).on('click', '.btn-remove', function(e) {
          // portfolioVideos.splice($.inArray(  $(this).parents('.entry:first').find('iframe').attr('src'), portfolioVideos.videoURL),1);
          $(this).parents('.entry:first').remove();
          e.preventDefault();
          return false;
        });

        $(document).on('click', '.btn-addPlays', function(e) {
            e.preventDefault();
             
            var controlForm = $('.controls #playPlus:first'),
                currentEntry = $(this).parents('.playEntry:first'),
                newEntry = $(currentEntry).clone().appendTo(controlForm);
            $(newEntry).attr('id', 'plays' + playIndex);
            newEntry.find('input').val('');
            newEntry.find('select').val("");
            controlForm.find('.playEntry:not(:last) .btn-addPlays')
                .removeClass('btn-addPlays').addClass('btn-removePlays')
                .removeClass('btn-success').addClass('btn-danger')
                .html('<span class="glyphicon glyphicon-minus"></span>');
            playIndex++;    
            
        }).on('click', '.btn-removePlays', function(e) {
          // portfolioPlays.splice($.inArray( $(this).parents('.playEntry:first').find('#playsText').val(), portfolioPlays.playName),1);
          $(this).parents('.playEntry:first').remove();
          e.preventDefault();
          return false;
        });


        $(document).on('click', '.btn-addFPics', function(e) {
            e.preventDefault();

            if(!insertFlickrIframe(this)) return false;
            var controlForm = $('.controls #flickrPicPlus:first'),
                currentEntry = $(this).parents('.fPicentry:first'),
                newEntry = $(currentEntry).clone().appendTo(controlForm);
            $(newEntry).find('iframe').remove();
            $(newEntry).find('textarea').remove();
            $(newEntry).attr('id', 'fpic' + flickIndex);
            newEntry.find('input').attr('id', 'fpic'+flickIndex);
            newEntry.find('input').val('');
            controlForm.find('.fPicentry:not(:last) .btn-addFPics')
                .removeClass('btn-addFPics').addClass('btn-removeFPics')
                .removeClass('btn-success').addClass('btn-danger')
                .html('<span class="glyphicon glyphicon-minus"></span>');
            flickIndex++;    
        }).on('click', '.btn-removeFPics', function(e) {
          // flickrPictures.splice($.inArray(  $(this).parents('.fPicentry:first').find('iframe').attr('src'), flickrPictures.flickrURL),1);
          $(this).parents('.fPicentry:first').remove();
          e.preventDefault();
          return false;
        });
        
    });

      function insertFlickrIframe(element) {
        var currentEntry = $(element).parents('.fPicentry:first');
        $(currentEntry).find('iframe').remove();
        var URLText = currentEntry.find('input').val();
        if(URLText != "") {
          if(confirmFlickrURL(URLText)) {
            var embedURL = URLText + "player/";
            $(currentEntry).append("<div>&nbsp;</div><iframe src=" +  embedURL + " width=200 height=200 frameborder=0 allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen class=col-md-12></iframe>");
            // $(currentEntry).append("<div>&nbsp;</div><textarea id=videoText"+ currentEntry.attr('id') + 
            //                         " name= videoText"+ currentEntry.attr('id') + " placeholder='Tell us something about this video' " +
            //                         "style='min-width:100%';rows=6></textarea>"); 
            return true;
          } else {
            alert("Unable to parse the Flickr URL - " + URLText + " Key in the right one directly from url. If its a mistake from us, please bring to our notice, sorry for any inconvenience");
            currentEntry.find('input').val('');
            return false
          }
        }    

      }

      function confirmFlickrURL(element) {
        var indexOfFlickr = element.indexOf("www.flickr.com");
        if(indexOfFlickr == -1) return false
        else return true;
        // var splitURLbyEqualTo = element.split("=");
        // if(splitURLbyEqualTo.length > 1) {
        //   var videoId = splitURLbyEqualTo[1];
        //   var embedVideoURL = "https://www.youtube.com/embed/"+ videoId;
        //   return embedVideoURL
        // } 
        // return "";
      }  

      
      function insertIframe(element) {
        var currentEntry = $(element).parents('.entry:first');
        $(currentEntry).find('iframe').remove();
        $(currentEntry).find('textarea').remove();
        var URLText = currentEntry.find('input').val();
        if(URLText != "") {
          if(convertURLToEmbedVideo(URLText) != "") {
            var embedURL = convertURLToEmbedVideo(URLText);
            $(currentEntry).append("<iframe src=" +  embedURL + " width=500 height=300 frameborder=0 allowfullscreen class=col-md-12></iframe>");
            $(currentEntry).append("<textarea id=videoText"+ currentEntry.attr('id') + 
                                    " name= videoText"+ currentEntry.attr('id') + " placeholder='Tell us something about this video' " +
                                    "style='min-width:100%';rows=6></textarea>"); 
            return true;
          } else {
            alert("Unable to parse the youtube URL - " + URLText + " Key in the right one directly from url. If its a mistake from us, please bring to our notice, sorry for any inconvenience");
            currentEntry.find('input').val('');
            return false
          }
        }    

      }

      function insertURL(element) {
        // var currentEntry = $(element).parents('.playEntry:first');
        // var str = $(currentEntry).find('#playsLink').val();
        var str = $(element).val();
          var re = /^(http[s]?:\/\/){0,1}(www\.){0,1}[a-zA-Z0-9\.\-]+\.[a-zA-Z]{2,5}[\.]{0,1}/;
          if(!re.test(str)) {
            $(element).val("");
            alert("Please enter a valid URL.");
            return false;
          } else {
            return true;
          }
      
      }

      function convertURLToEmbedVideo(element) {
        if(element.indexOf("embed") != -1) {
          return element;
        }  
        var splitURLbyEqualTo = element.split("=");
        if(splitURLbyEqualTo.length > 1) {
          var videoId = splitURLbyEqualTo[1];
          var embedVideoURL = "https://www.youtube.com/embed/"+ videoId;
          return embedVideoURL
        } 
        return "";
      }  
      

    $(function() {
      var progressbar = $( "#progressbar" ),
        progressLabel = $( ".progress-label" );
   
      progressbar.progressbar({
        value: false,
        change: function() {
          progressLabel.text( progressbar.progressbar( "value" ) + "%" );
        },
        complete: function() {
          progressLabel.text( "Complete!" );
        }
      });

    });

    $(document).ready(function(){
      $(".question").hover(function () {
        //alert("hello")
        $(this).append('<div class=tooltip><p>Just copy paste the URL from address bar</p></div>');
        },
        function () {
          $("div.tooltip").remove();
          
        }
      );

      
    });  


    function changeMyPic () {
      // first copy to temp uploads
      $("#profileImg").trigger('click');
    }


    $('input[id=profileImg]').change(function(e){
      var data = new FormData();
      data.append('image', $('input[id=profileImg]')[0].files[0]); 
      // alert("Data is " + data);
      $.ajax({
        url: "/postPhotos",
        type: "POST",
        contentType: false,
        processData: false,
        data: data,
        complete: function() {
          console.log('process complete');
        },

        success: function(data) {
           if(data.error) {
            console.log('Opps, something bad happened');
            return;
            }
          console.log("here success");  
          console.log("Data.path is" + data.path);
          $("#myProfilePic").attr("src","tempUploads/"+data.path);
          $("#myProfilePic").show();
          $("#changeMyPic").show();
          $("#saveMyPic").show();
          $("#editMyPic").hide();
          $('#dummyPfPic').hide();
          $("#imageName").val(data.path);
       },

        error: function() {
          console.log('process error');
        },
      });
     
    });  


    function saveMyPic (){
      
      var data = {
              imageName: $('#imageName').val()
            };// alert("Data is " + data);
      $.ajax({
        url: "/saveProfilePic",
        type: "POST",
        data: data,
        complete: function() {
          console.log('process complete');
        },

        success: function(data) {
           if(data.error) {
            console.log('Opps, something bad happened');
            return;
            }
          console.log("here success");  
          generateNotificationLayout('success', 'topCenter', 'Profile Picture saved');
          $("#myProfilePic").attr("src", data.image);
          $("#myProfilePic").show();
          $("#changeMyPic").hide();
          $("#saveMyPic").hide();
          $("#editMyPic").val("Edit My Pic");
          $("#editMyPic").show();
          $("#imageName").val(data.image);
       },

        error: function() {
          console.log('process error');
        },
      });
     
    }
    
  function generateNotificationLayout(type, layout, text) {
       var n = noty({ layout: layout,
        type: type,
        text: text, // can be html or string
        dismissQueue: true, // If you want to use queue feature set this true
        template: '<div class="noty_message"><span class="noty_text" style="font-size:16px;color:rgb(0, 96, 244);"></span><div class="noty_close"></div></div>',
        animation: {
            open: {height: 'toggle'}, // or Animate.css class names like: 'animated bounceInLeft'
            close: {height: 'toggle'}, // or Animate.css class names like: 'animated bounceOutLeft'
            easing: 'swing',
            speed: 500 // opening & closing animation speed
        },
        timeout: false, // delay for closing event. Set false for sticky notifications
        force: false, // adds notification to the beginning of queue when set to true
        modal: false,
        maxVisible: 10, // you can set max visible notification for dismissQueue true option,
        killer: false, // for close all notifications before show
         // ['click', 'button', 'hover', 'backdrop'] // backdrop click will close all notifications
        callback: {
            onShow: function() {
            },
            afterShow: function() {},
            onClose: function() {
                    
            },
            afterClose: function() {},
            onCloseClick: function() {}
        },
        closeWith: ["click","button"],
        buttons: [
            {addClass: 'btn btn-primary', text: 'DONE', onClick: function($noty) {
              $noty.close();
                }
             }
            
          ]
      });
    }
    </script>

  </body>
</html>