<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MOTLEYMEOW. Hear the artists meow.</title> 

        <link href="css/tab.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet"> 
        <link href="css/lightbox.css" rel="stylesheet" />
        <link href="css/bootstrap-dialog.css" rel="stylesheet">
        <script src="js/bootstrap-dialog.js"></script>



  </head>

  <script type="text/javascript">
          var count = 0;
           function showMe (box) {
                document.getElementById(box).style.display = "block";
    }

    function showandhideMe (box, oldbox) {
                document.getElementById(oldbox).style.display = "none";
                document.getElementById(box).style.display = "block";

    }    

  </script>

<body>
     

 <% if(typeof user != 'undefined' && user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout"></div>
  <%}%> 
<% if (typeof infomessage != 'undefined' && infomessage != "") { %>
      <script type="text/javascript">
          
      </script>
  <!-- <h4 style="text-align:center"><strong> <%=infomessage%> </strong></h4> -->
        
      <div class="modal fade col-lg-12" id="successprofile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="open-ViewDialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title" id="myModalLabel">Profile updated successfully</h4>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
              
            </div>
          </div>
        </div>
      </div>
<%}%>
<div> 

<section style="background:#efefe9;">
        <div class="container">
            <div class="row">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                     <li>
                     <a href="/home"  title="home">
                      <span class="round-tabs one">
                              <i class="glyphicon glyphicon-home"></i>
                      </span> 
                  </a></li>

                  <li class="active"><a href="/profile"  title="profile">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-user"></i>
                     </span> 
                    </a>
                 </li>
                 

                    
                     
                     </ul></div>

                     
</section>
 <div class="container">
      <div class="row">
      
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 " >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Hi, <%= user.facebook.name %></h3>
              
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src=<%= user.local.picture %> class="img-circle" style="max-height:180px;padding-bottom:0px;"> </div>

  <div class=" col-md-9 col-lg-9 "> 
    <form id = "profileUpdateForm" class="form-horizontal" role="form" enctype="multipart/form-data" action="/update" method="post">


        <fieldset>
          <legend>Your profile</legend>
            <div class="panel with-nav-tabs panel-primary">
                    <div class="panel-heading">
                            <ul class="nav nav-tabs" id = "btabs">
                                <li class="active"><a href="#tab1primary" data-toggle="tab">Basic</a></li>
                                <li><a href="#tab2primary" data-toggle="tab">Your portfolio</a></li>
                                <!-- <li><a href="#tab3primary" data-toggle="tab">Your portfolio</a></li> -->
                                
                                
                            </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1primary">
                            
                              <div class="form-group">
                                <label class="col-sm-3 control-label" for="fullname">Full Name</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Name" Maxlength="100"
                                  value = "<%= user.facebook.name %>" >
                                </div>
                              </div>
                             <div class="form-group">
                                 <label class="col-sm-3 control-label" for="email">Email address</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" name="email" id="email" placeholder="Email id" 
                                  value = "<%= user.facebook.email %>" >
                                  <p><span class="fieldNote">We currently don't do validation of emails. Please ensure you key in the right one else you are easy to miss on important notifications.</span></p>
                                </div>
                                  <input type="hidden" name = "userId" value = <%= user.facebook.id %> >
                              </div>
                               
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="city">Location</label>
                                <div class="col-sm-9">

                                  <select class="form-control" value="<%= user.local.city %>" name="city">
                                    <% var cities = dropdowns.alldropdowns.cities;
                                        for(var i = 0; i < cities.length; i ++) {   %> 
                                            <option value = "<%=cities[i].city%>"><%=cities[i].text%></option>

                                         <% } %>   
                                  </select> 
                                  </div>
                              </div>
                               <div class="form-group">
                                 <label class="col-sm-3 control-label" for="emailDisplay">Email privacy setting</label>
                                <div class="col-sm-9">
                                  <!-- <input type="text" class="form-control" name="city" id="card-holder-name" placeholder="Card Holder's Name" value = <%= user.local.city%>> -->
                                  <input id="emailDisplay" type="radio" name="emailDisplay" value = "ok"> OK to share
                                  <input id="emailDisplay" type="radio" name="emailDisplay" value = "nok"> Not OK to share
                                  <br><span class="fieldNote">Please confirm you are ok to share your email id to the artists to mail you regarding their audition or needs in their production. The emails are shared after authenticated by MotleyMeow.</span>
                                </div>                                
                              </div>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="receiveNotif">Receive newsletters from us</label>
                                
                                <div class="col-sm-9">
                                  <!-- <input type="text" class="form-control" name="city" id="card-holder-name" placeholder="Card Holder's Name" value = <%= user.local.city%>> -->
                                  <input id="receiveNotif" type="radio" name="receiveNotif" value = "ok"> OK to receive mails
                                  <input id="receiveNotif" type="radio" name="receiveNotif" value = "nok"> Not OK to receive mails
                                  <br><span class="fieldNote">MotleyMeow may share some notificiations time to time on whats meowing in the city.</span>
                                </div> 
                              </div>  
                              
                              So, how are you associated with Theatre? Do let us know so that we connect you to the ones who are looking for theatre artists like you!! 
                              <span class="fieldNote">We at MotleyMeow believe in the saying that, you are never too old to try out anything new, so if something interests and you have no experience but willing to learn, select it so that you stay connected.</span>
                              <br>
                              <div class="form-group">
                                
                                <div id="animesh" class="col-sm-3 form-group" style = "margin-left:1px; margin-right=1px; ">
                                    <label class="control-label">Your association or interests in theatre:</label> 
                                      <br>
                                </div>      
                                <div class = "col-sm-9">
                                  <% var roles = dropdowns.alldropdowns.roles;
                                  for(var i = 0; i < roles.length; i ++) {   %> 
                                    <div class = "col-sm-6">
                                      <label class="checkbox-inline">
                                            <input type="checkbox" id="checkboxinline<%=roles[i].role%>" name="role" value="<%=roles[i].role%>" ><%=roles[i].text%>
                                      </label>
                                   </div>  

                                   <% } %>
                                 </div> 
                              </div>   

                              <div class="form-group">
                                <div id="animesh" class="col-sm-3 form-group" style = "margin-left:1px; margin-right=1px; ">
                                    <label class="control-label">What languages are you most comfortable with:</label> 
                                      <br>
                                </div> 
                                <div class="col-sm-9">
                                          <% var languages = dropdowns.alldropdowns.languages;
                                          for(var i = 0; i < languages.length; i ++) {   %> 
                                          <div class = "col-sm-3">
                                              <label class="checkbox-inline">
                                                  <input type="checkbox" id="<%=languages[i]%>lang" value="<%=languages[i]%>" name="lang"/> <%=languages[i]%>
                                              </label>
                                          </div>
                                          <% } %>
                                </div>
                              </div>        

                       </div>
    
                       <!-- <div  class="tab-pane fade" id="tab2primary">So, how are you associated with Theatre? Do let us know so that we connect you to the ones who are looking for theatre artists like you!! 
                          <br>
                          <span class="fieldNote">We at MotleyMeow believe in the saying that, you are never too old to try out anything new, so if something interests and you have no experience but willing to learn, select it so that you stay connected.</span>
                            <div id="animesh" class="form-group" style = "margin-left:1px; margin-right=1px; ">
                                <label class="control-label">Your association or interests in theatre:</label> 
                                  <br>

                              <% var roles = dropdowns.alldropdowns.roles;
                              for(var i = 0; i < roles.length; i ++) {   %> 
                                <div class = "col-sm-6">
                                  <label class="checkbox-inline">
                                        <input type="checkbox" id="checkboxinline<%=roles[i].role%>" name="role" value="<%=roles[i].role%>" ><%=roles[i].text%>
                                  </label>
                               </div>  
                             <% } %>

                          </div>        

                            <div class="form-group" style = "margin-left:1px; margin-right:1px; margin-bottom:5px;"><b>What languages are you most comfortable with:</b>
                              <div class="panel-body" style = "padding-top:5px; padding-bottom:5px;">
                                      <% var languages = dropdowns.alldropdowns.languages;
                                        for(var i = 0; i < languages.length; i ++) {   %> 
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="<%=languages[i]%>lang" value="<%=languages[i]%>" name="lang"/> <%=languages[i]%>
                                          </label>
                                      </div>
                                      <% } %>

                                      
                                  </div> 
                               </div>     
                       </div>  -->  
                       <div  class="tab-pane fade" id="tab2primary">
                              <div class="control-group col-md-12">
                                <label class="control-label col-md-3">Tell something about your artistic journey:</label>        
                                  <div class="controls col-md-9">                
                                <% if (typeof user != 'undefined' && typeof user.portfolio != 'undefined' && typeof user.portfolio.myself != 'undefined') { %>       
                                    <textarea id="textarea" name="myself" style="min-width:100%;"rows=6><%=user.portfolio.myself%></textarea>
                                <%} else { %>   
                                    <textarea id="textarea" name="myself" style="min-width:100%;"rows=6></textarea>
                                <%}%> 
                                  </div>
                              </div>
                              <div>&nbsp;</div>
                              <div>&nbsp;</div>
                              <div class="control-group col-md-12" id = "mypics">
                                <label class="control-label col-md-3">Add your pictures</label>
                                  <span class="btn btn-default col-md-9">
                                  <input id = "imagePost" type="file" class = "imageUpdateField" name = "imagePost" multiple style="color: transparent;"/>
                                  </span>
                                 <div>&nbsp;</div> 
                                 <input type="hidden" id="mypfolioPics" name = "mypfolioPics">
                              </div> 
                              <div>&nbsp;</div>
                              <div>&nbsp;</div>
                              <div class="control-group col-md-12" id = "myVideos">
                                  <div class="control-group" id="fields">
                                      <label class="control-label col-md-3" for="field1">Add your videos</label>

                                      <div class="controls col-md-9"> 
                                        <span class="fieldNote">We are currently supporting only YouTube Videos. Please copy and pase the URL here. Thanks.</span>
                                          <div id = "videoPlus">
                                              <div class="entry input-group col-md-12" id="vid0">
                                                  <input class="col-md-9" id="videos0" name="videos0" type="text" placeholder="Give video URL here" 
                                                  />
                                                <span class="input-group-btn col-md-3">
                                                      <button class="btn btn-success btn-add" type="button" style="font-size:8px;">
                                                          <span class="glyphicon glyphicon-plus"></span>
                                                      </button>
                                                  </span>
                                              </div>
                                           </div>   
                                      <br>
                                      <small>Press <span class="glyphicon glyphicon-plus gs"></span> to add another video :)</small>
                                      <input type="hidden" id="mypfolioVids" name = "mypfolioVids">
                                      </div>
                                  </div>
                            </div>

                       </div>    
                      


                    </div>

            </div>      
                  
             
        
  
                        
                        
         
  
                  
    <div class="panel-footer">
          
         <!--  <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)"><span style="padding-left: 10px;">Please confirm you have read and will abide by our
          <a href="#myModal" role="button" class="btn" data-toggle="modal"> commercialmunity Guidelines. </a></span> -->
          
          <!-- <span class="pull-right"> -->
        <!--       <a href="/update" title="Submit the form" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-upload"></i></a> -->
              <span>While we don't force you to read our humongous <b>"Terms of use"</b> located in the footer, we at MotleyMeow assume you have read it and will abide by it.</a></span>
              <button id = "submit" type="submit" class="btn btn-primary" type="button" name="btnvalue" value="submit"><i class="glyphicon glyphicon-ok-circle">SUBMIT</i>
              </button>
              
          <!-- </span> -->
      </div>
    </fieldset>

   </form>  

         <span class="pull-right"><button id = "delete" type = "submit" title="Remove me from this site" type="button" class="btn btn-sm btn-danger" name="btnvalue" value="delete" data-toggle="modal" data-target="#deleteModal">Remove Me from this site<i class="glyphicon glyphicon-remove"></i></button>
         </span>
        <!-- <button class="btn btn-danger" >Delete Me</button> -->
   </span>  
  </div>
</div>
          </div>
                 
        </div>
      </div>
    </div>
  </div>
      <!-- footer starts-->
   <div id = "footer"></div>

<!--    <div class="modal fade col-lg-12" id="myModal" role="dialog" aria-labelledby="myModal" aria-hidden="true" class="open-ViewDialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <input type="hidden" name="vewPostTitle" id="vewPostTitle" value=""/>

              <h4 class="modal-title" id="myModalLabel">Community Guidelines</h4>
            </div>
            <div class="modal-body">

              <div class="form-horizontal">
                
                <div class="form-group">
                      <div class="col-sm-12">
                        <div >
                          <label>
                              <p id = "viewPostDesc" class="form-control-static"></p>
                                <ul>
                                    <li> Our goal is to create a connected environment where every theatre artists can request for or provide help. These Community Guidelines are here to help you understand what it means to be a member of MotleyMeow</li>
                                    <li> Don't post commercial messages. Do not promote commercial activities, including related links. Be respectful to each other. Do not vent your frustrations at other members, through any post in the site. There is zero tolerance for predatory behaviour, disparaging or defamatory comments, threats, harassment, illegal activities, invading privacy, propaganda, racial hatred, offensive cultural behaviour, vulgar or obscene content, or other inappropriate behaviour or the revealing of other members' personal information. MotleyMeow reserves the right to remove such a post and also take action against them.</li>
                                    <li>Please bring to our notice any such inappropriate content.</li>
                                    <li>We will update these Community Guidelines from time to time, so please check this page regularly.</li>
                                </ul>  
                          </label>
                        </div>
                      </div>
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>
    </div> -->  


  

  </div>  


  <div class="modal fade multi-step" id="deleteModal" role="dialog" aria-labelledby="deleteModal" class="open-ViewDialog" tabindex="-1" aria-hidden="true">  
    <form action="/deleteArtist" method="post" id="deleteForm">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" style = "background-color: #528FCC;">
                  <h4 class="modal-title step-1" data-step="1">DELETE ME</h4>
                  <h4 class="modal-title step-2" data-step="2">DELETE ME</h4>
                   <h4 class="modal-title step-3" data-step="2">DELETE ME</h4>
              </div>
              <div class="modal-body step step-1">
                  Oops!! You seem to have clicked a wrong button. Please close this.
              </div>
              <div class="modal-body hero step step-2">
                  OK, So you have decided to leave us. But why? 
                  
                                <p id = "OptionsNotToDelete" class="form-control-static"></p>
                                  <strong>If its only a matter of time, you can choose to remain in passive mode which is, "No receieve notifications" and "No email display". This way you you won't be troubled by our emails or even mails regarding requests from artists</strong>
                                
                            
              </div>
              <div class="modal-body step step-3">
                  OK, So you insist!!
                  
                                <p id = "Delete" class="form-control-static"></p>
                                  <strong>Please tell us one reason why you want to leave this site. Be aware your posted requests will also be deleted once you delete yourself from this site!</strong>
                                  <div class="form-group">
                                          <fieldset>            

                                                <textarea placeholder="Tell us one reason what makes you leave. Its a feedback for us." class="form-control" id="deleteFeedback" name = "deletedFeedback"></textarea>            
                                                <input type="hidden" id="email" name = "email" value="<%=user.facebook.email %>">
                                                <input type="hidden" id="facebookID" name = "facebookID" value="<%=user.facebook.id %>">  
                                        
                                  </div>
                                
                            
              </div>
              <div class="modal-footer step-1" data-step="1">
                  <span class="pull-left"><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></span>
                  <span class="pull-right"><button type="button" class="btn btn-default" onclick="sendEvent('#deleteModal', 2)">Really?!?</button></span>
                  
              </div>
              <div class="modal-footer step-2" data-step="2">
                  <span class="pull-right"><button type="button" class="btn btn-primary" data-dismiss="modal">Thanks, I choose to remain passive</button></span>
                  <span class="pull-left"><button type="button" class="btn btn-default" onclick="sendEvent('#deleteModal', 3)">I insist</button></span>
              </div>
              <div class="modal-footer step-3" data-step="3">
                  <span class="pull-left"><button type="button" class="btn btn-primary" data-dismiss="modal">I choose to stay back</button></span>
                  <span class="pull-right"><button type="button" class="btn btn-default" onclick="submitForDelete()">DELETE ME NOW</button></span>
              </div>
          </div>
      </div>
    </form>
  </div>  

    
    <script src="js/jquery.js"></script>
    <script src="js/jquery-validate.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/multiple-modals.js"></script>
    <script src="js/lightbox.min.js"></script>
     <script type="text/javascript">
      var imageIndex = 0;
      var vidIndex = 0;
      var portfolioImages =new Array();
      var portfolioVideos =new Array();
       $('input[id=fileupload]').change(function(e){
          $('#fileupload').fileupload({
              dataType: 'json',
              done: function (e, data) {
                  $.each(data.result.files, function (index, file) {

                      $('<p/>').text(file.name).appendTo(document.getElementById('fileUploadResult'));
                  });
              },
              progressall: function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $('#progress .bar').css(
                    'width',
                    progress + '%'
                );
              }
          });
      });
      $.validator.setDefaults({ ignore: [] });
     sendEvent = function(sel, step) {
          $(sel).trigger('next.m.' + step);
      }
      $('#profileUpdateForm').submit(function( event ) {
        $('#imagePost').val("");
        $('#mypfolioPics').val(portfolioImages);
        $('#videoPlus').children('div').each(function () {
            var iframeElem = $(this).find('iframe');
            
            if(iframeElem.length !=0 && $(iframeElem).attr('src') != "") {
              portfolioVideos.push({
                    "videoURL": $(this).find('iframe').attr('src'),
                    "videoText": $(this).find('textarea').val()
              }); 
            }  
        });
        
        if(portfolioVideos.length > 0 ) {
          $('#mypfolioVids').val(JSON.stringify(portfolioVideos));
        }
      });
      $('#deleteForm').validate({
            rules: {
                deletedFeedback: {
                    required: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('success').addClass('error');
            },
            success: function (element) {
                $(element).closest('.form-group').removeClass('error').addClass('success');
            }
        });

      $('#profileUpdateForm').validate({
            rules: {
                email: {
                    required: true,
                    email: true
                }
            },
            highlight: function (element) {
                $('#btabs a[href="#tab1primary"]').tab('show');
                $(element).closest('.form-group').removeClass('success').addClass('error');
            },
            success: function (element) {
                $(element).closest('.form-group').removeClass('error').addClass('success');
            }
      });

      submitForDelete = function() {
          $('#deleteForm').submit();
      }

     $(window).ready(function(){
          $('#successprofile').modal('show');
          <% if(typeof user.portfolio == 'undefined' || typeof user.portfolio.myPhotos == 'undefined' || user.portfolio.myPhotos.length ==0 ) { %>
          <% } else {
            for(var i = 0; i < user.portfolio.myPhotos.length; i ++ ) { %> 
                  $('#mypics').append("<div id=div" + imageIndex + " class = col-md-6 col-sm-6 col-lg-6 style='padding-top:20px;'>");
                  $('#div' + imageIndex).append("<a href=/portfolio/"+ "<%=user.facebook.id%>" + "/pictures/" + "<%=user.portfolio.myPhotos[i]%>" + " id = mypicsa" + imageIndex + " data-lightbox='No Image set' data-title='Portfolio pictures'>");
                  $('#mypicsa' + imageIndex).append("<img id=image"+imageIndex + " src = /portfolio/" + "<%=user.facebook.id%>" + "/pictures/" +"<%=user.portfolio.myPhotos[i]%>" + " alt='No Image Set' style='max-width:200px;max-height:200px' ></img></a>");
                  $('#div' + imageIndex).append("<a href = '' id=deleteImage" + imageIndex + " onclick='removeThis("+ imageIndex + ");return false;' > Remove</a>");
                  $('#div' + imageIndex).append("<input type=hidden id=imageName" + imageIndex + " value= " + "<%=user.portfolio.myPhotos[i]%>" + " />")
                  $('#mypics').append("</div>");
                  imageIndex++;
                  portfolioImages.push("<%=user.portfolio.myPhotos[i]%>");
            <% } %>
          <%} %>

          <% if(typeof user.portfolio == 'undefined' || typeof user.portfolio.myVideos == 'undefined' || user.portfolio.myVideos.length <= 0 ) { %>
          <% } else { %>
              // if(user.portfolio.myVideos.length == 1) { %>
                var controlForm = $('.controls #videoPlus:first'),
                    currentEntry = $(this).find('.entry:first');
                $(currentEntry).find('input').val("<%=user.portfolio.myVideos[0].videoURL%>");
                $(currentEntry).append("<iframe src=" +  "<%=user.portfolio.myVideos[0].videoURL%>" + " width=500 height=300 frameborder=0 allowfullscreen class=col-md-12></iframe>");
                $(currentEntry).append("<textarea id=videoText"+ currentEntry.attr('id') + 
                            " name= videoText"+ currentEntry.attr('id') + " placeholder='Tell us something about this video' " +
                            "style='min-width:100%';rows=6>" + "<%=user.portfolio.myVideos[0].videoText%>" + "</textarea>");     
                controlForm.find('.entry .btn-add')
                    .removeClass('btn-add').addClass('btn-remove')
                    .removeClass('btn-success').addClass('btn-danger')
                    .html('<span class="glyphicon glyphicon-minus"></span>');
                vidIndex++; 


              <% for(var i = 1; i < user.portfolio.myVideos.length; i ++ ) { %> 
                  var controlForm = $('.controls #videoPlus:first'),
                      currentEntry = $(this).find('.entry:last'),
                      newEntry = $(currentEntry).clone().appendTo(controlForm);
                  $(newEntry).attr('id', 'vid' + vidIndex);
                  newEntry.find('input').attr('id', 'videos'+vidIndex);
                  newEntry.find('input').val("<%=user.portfolio.myVideos[i].videoURL%>");
                  newEntry.find('iframe').attr('src', "<%=user.portfolio.myVideos[i].videoURL%>");
                  newEntry.find('textarea').attr('id', "videoText"+ newEntry.attr('id'));
                  newEntry.find('textarea').val("<%=user.portfolio.myVideos[i].videoText%>");
                  // newEntry.append("<div>&nbsp;</div><iframe src=" +  "<%=user.portfolio.myVideos[i].videoURL%>" + " width=500 height=300 frameborder=0 allowfullscreen class=col-md-12></iframe>");
                  // alert("333")
                  // newEntry.append("<div>&nbsp;</div> <textarea id=videoText"+ newEntry.attr('id') + 
                  //             " name= videoText"+ newEntry.attr('id') + " placeholder='Tell us something about this video' " +
                  //             "style='min-width:100%';rows=6>" + "<%=user.portfolio.myVideos[i].videoText%>" + "</textarea>");     
                  controlForm.find('.entry:not(:last) .btn-add')
                      .removeClass('btn-add').addClass('btn-remove')
                      .removeClass('btn-success').addClass('btn-danger')
                      .html('<span class="glyphicon glyphicon-minus"></span>');
                  vidIndex++; 
              <% } %>  
                  var controlForm = $('.controls #videoPlus:first'),
                  currentEntry = $(this).find('.entry:last'),
                  newEntry = $(currentEntry).clone().appendTo(controlForm);
                  $(newEntry).find('iframe').remove();
                  $(newEntry).find('textarea').remove();
                  $(newEntry).attr('id', 'vid' + vidIndex);
                  newEntry.find('input').attr('id', 'videos'+vidIndex);
                  newEntry.find('input').val('');
                  newEntry.find('.btn-remove').removeClass('btn-remove').addClass('btn-add')
                  .removeClass('btn-danger').addClass('btn-success')
                    .html('<span class="glyphicon glyphicon-plus"></span>');
                  vidIndex++;  
          <% } %>      

     });

    // $(function(){
    //   disableSubmit()
    // });
    $(function(){

      $('input[id^=deleteImage]').on('click', function(e){
          e.preventDefault();
          // $("#updatedImage").attr("src","");
          // $("#updatedImage").parents("a").attr("href", "");
          // $("#updatedImage").parents("a").hide();
          // $("#imagePost").val("");
          // $("#postedImage").val("removed");
      });

      removeThis = function(imgIndx) {
        $.ajax({
            url: "/removeProfilePics",
            type: "POST",
            data: {image:$('#imageName' + imgIndx).val()},
            complete: function() {
            },
            success: function(data) {
               if(data.error) {
                return;
                }
                portfolioImages.splice($.inArray( $('#imageName' + imgIndx).val(), portfolioImages),1);
                $('img[id=image' + imgIndx + ']').attr("src","");
                $('div[id=div' + imgIndx + ']').remove();
                
                return false;
            }
        });        
      }

      $('input[id=imagePost]').change(function(e){
          // alert("here")
          var data = new FormData();
          for (var i = 0; i < $('input[id=imagePost]')[0].files.length; i++) { 
              data.append('image', $('input[id=imagePost]')[0].files[i]); 
          }
          
          // alert("Data is " + data);
          $.ajax({
            url: "/postProfilePics",
            type: "POST",
            contentType: false,
            processData: false,
            data: data,
            complete: function() {
              
            },

            success: function(data) {
               if(data.error) {
                // alert('Opps, something bad happened');
                return;
                }
              // alert("here success11 data.length" + data);  
              if(data.path.length > 0) {
                for(var i = 0; i < data.path.length ; i++) {
                  portfolioImages.push(data.path[i].name);

                  // $('#mypics').append("<img id=image"+i+" alt='No Image Set' style='max-width:200px;max-height:200px'></img>");
                  // $("#image"+i).attr("src","tempUploads/"+data.path[i].name);
                  $('#mypics').append("<div id=div" + imageIndex + " class = col-md-6 col-sm-6 col-lg-6 style='padding-top:20px;'>");
                  $('#div' + imageIndex).append("<a href=/portfolio/"+ <%=user.facebook.id%> + "/pictures/" + data.path[i].name + " id = mypicsa" + imageIndex + " data-lightbox='No Image set' data-title='Portfolio pictures'>");
                  $('#mypicsa' + imageIndex).append("<img id=image"+imageIndex + " src = /portfolio/" + <%=user.facebook.id%> + "/pictures/" +data.path[i].name + 
                                            " alt='No Image Set' style='max-width:200px;max-height:200px' ></img></a>");
                  $('#div' + imageIndex).append("<a href = '' id=deleteImage" + imageIndex + " onclick='removeThis("+ imageIndex + ");return false;' > Remove</a>");
                  $('#div' + imageIndex).append("<input type=hidden id=imageName" + imageIndex + " value= " + data.path[i].name + " />")
                  // <a href="" data-lightbox="No Image set" data-title="Portfolio pictures">
                  // <img id="updatedImage" src="" alt="No Image Set" style="display:none;max-width:200px;max-height:200px"/></a>
                  // <input id = "imagePost" type="file" class = "imageUpdateField" name = "imagePost" multiple/>
                  
                  //   <a href = "" id="updateImage" style="display:none">Update this image</a>
                  //   <a href = "" id="deleteImage" style="display:none">Remove this image</a>
                  //   <input id = "postedImage" name="postedImage"  type="hidden" value="notChanged">
                  // $('#mypics').append("<img id=image"+0+" alt='No Image Set' style='max-width:200px;max-height:200px'></img>");
                  // $("#image0").attr("src","tempUploads/"+data.path.name);
                  $('#mypics').append("</div>");
                  imageIndex++;
                }
                
              } else {
                portfolioImages.push(data.path.name);
                  // alert("No not an array " + data.path.name)
                  $('#mypics').append("<div id=div" + imageIndex + " class = col-md-6 col-sm-6 col-lg-6 style='padding-top:20px;'>");
                  $('#div' + imageIndex).append("<a href=/portfolio/" + <%=user.facebook.id%> + "/pictures/" + data.path.name + " id = mypicsa" + imageIndex + " data-lightbox='No Image set' data-title='Portfolio pictures'>");
                  $('#mypicsa' + imageIndex).append("<img id=image"+imageIndex + " src = /portfolio/" + <%=user.facebook.id%> + "/pictures/" + data.path.name + " alt='No Image Set' style='max-width:200px;max-height:200px' ></img></a>");
                  $('#div' + imageIndex).append("<a href = '' id=deleteImage" + imageIndex + 
                                      " onclick='removeThis("+ imageIndex + ");return false;' > Remove</a>");
                  $('#div' + imageIndex).append("<input type=hidden id=imageName" + imageIndex + " value= " + data.path.name +  " />")
                  // <a href="" data-lightbox="No Image set" data-title="Portfolio pictures">
                  // <img id="updatedImage" src="" alt="No Image Set" style="display:none;max-width:200px;max-height:200px"/></a>
                  // <input id = "imagePost" type="file" class = "imageUpdateField" name = "imagePost" multiple/>
                  
                  //   <a href = "" id="updateImage" style="display:none">Update this image</a>
                  //   <a href = "" id="deleteImage" style="display:none">Remove this image</a>
                  //   <input id = "postedImage" name="postedImage"  type="hidden" value="notChanged">
                  // $('#mypics').append("<img id=image"+0+" alt='No Image Set' style='max-width:200px;max-height:200px'></img>");
                  // $("#image0").attr("src","tempUploads/"+data.path.name);
                  $('#mypics').append("</div>");
                  
                  imageIndex++;
                  // $("#updatedImage").parents("a").attr("href", "tempUploads/"+data.path.name)
                  // $("#updatedImage").parents("a").show();
                  // $("#updateImage").show();
                  // $("#deleteImage").show();
                  // $("#updatedImage").show();
                  // $("#postedImage").val("changed");
              }
           },

            error: function() {
              console.log('process error');
            },
          });
      });
    });
    $(function () {
      $('#tab1primary a').click(function (e) {
          e.preventDefault();
          $('a[href="' + $(this).attr('href') + '"]').tab('show');
      })
    });

    // function disableSubmit() {
    //   document.getElementById("submit").disabled = true;
    // }

    // function activateButton(element) {

    //     if(element.checked) {
    //       document.getElementById("submit").disabled = false;
    //      }
    //      else  {
    //       document.getElementById("submit").disabled = true;
    //     }

    // } 
    $("#headerloggedin").load("/header");
    $("#headerloggedout").load("headerloggedout.ejs");
    $("#footer").load("footer.ejs"); 
    
    $(function(){
      $('select[value]').each(function(){
        $(this).val(this.getAttribute("value"));
     });
     
      var values_role = '<%=user.local.role%>';
      var roleInitValues = values_role.split(",");

      var values_lang = '<%=user.local.lang%>';
      var langInitValues = values_lang.split(",");
      var value_emailDisplay = '<%=user.local.emailDisplay%>'
      var value_receiveNotif = '<%=user.local.receiveNotif%>'
      
      $('input[name=role][type=checkbox]').each(function(){
        
        $(this).prop("checked", ($.inArray($(this).val(), roleInitValues) != -1));

     });

      $('input[name=lang][type=checkbox]').each(function(){
        
        $(this).prop("checked", ($.inArray($(this).val(), langInitValues) != -1));

     });

      if(value_emailDisplay == "true") $('input[name=emailDisplay][type=radio]').val(["ok"]);
      else $('input[name=emailDisplay][type=radio]').val(["nok"]);

      if(value_receiveNotif == "true") $('input[name=receiveNotif][type=radio]').val(["ok"]);
      else $('input[name=receiveNotif][type=radio]').val(["nok"]);

      
  });



      $('[id^=checkboxinline]').click(function(){
        
        if($(this).prop('checked')){
          $(this).closest('div').find('input').show();
        } else {
          $(this).closest('div').find('input.form-control').hide();
          $(this).closest('div').find('input.form-control').prop("value", null);
          $(this).closest('div').find('input.form-control').prop("placeholder", "exp. in years");
        }
      });


      $('[data-toggle="tooltip"]').tooltip();
      $(function(){
          $('a[title]').tooltip();
      });

      $('#deleteModal').on('hide.bs.modal', function () {
        $('.step-1').hide();
        $('.step-2').hide();
        $('.step-3').hide();
      })

      $('#deleteModal').on('show.bs.modal', function () {
        $('.step-1').show();
        $('.step-2').hide();
        $('.step-3').hide();
      })
      
      $(function() {
        $(document).on('click', '.btn-add', function(e) {
            e.preventDefault();

            insertIframe(this);
            var controlForm = $('.controls #videoPlus:first'),
                currentEntry = $(this).parents('.entry:first'),
                newEntry = $(currentEntry).clone().appendTo(controlForm);
            $(newEntry).find('iframe').remove();
            $(newEntry).find('textarea').remove();
            $(newEntry).attr('id', 'vid' + vidIndex);
            newEntry.find('input').attr('id', 'videos'+vidIndex);
            newEntry.find('input').val('');
            controlForm.find('.entry:not(:last) .btn-add')
                .removeClass('btn-add').addClass('btn-remove')
                .removeClass('btn-success').addClass('btn-danger')
                .html('<span class="glyphicon glyphicon-minus"></span>');
            vidIndex++;    
        }).on('click', '.btn-remove', function(e) {
          portfolioVideos.splice($.inArray(  $(this).parents('.entry:first').find('iframe').attr('src'), portfolioVideos.videoURL),1);
          $(this).parents('.entry:first').remove();
          e.preventDefault();
          return false;
        });
        
    });

      function insertIframe(element) {
        var currentEntry = $(element).parents('.entry:first');
        $(currentEntry).find('iframe').remove();
        $(currentEntry).find('textarea').remove();
        var URLText = currentEntry.find('input').val();
        if(URLText != "") {
          if(convertURLToEmbedVideo(URLText) != "") {
            var embedURL = convertURLToEmbedVideo(URLText);
            $(currentEntry).append("<iframe src=" +  embedURL + " width=500 height=300 frameborder=0 allowfullscreen class=col-md-12></iframe>");
            $(currentEntry).append("<div>&nbsp;</div><textarea id=videoText"+ currentEntry.attr('id') + 
                                    " name= videoText"+ currentEntry.attr('id') + " placeholder='Tell us something about this video' " +
                                    "style='min-width:100%';rows=6></textarea>"); 
          } else {
            alert("Please key in the right URL. If its happening repeatedly please bring to our notice, sorry for any inconvenience");
          }
        }    

      }

      function convertURLToEmbedVideo(element) {
        var splitURLbyEqualTo = element.split("=");
        if(splitURLbyEqualTo.length > 1) {
          var videoId = splitURLbyEqualTo[1];
          var embedVideoURL = "https://www.youtube.com/embed/"+ videoId;
          return embedVideoURL
        } 
        return "";
      }  
      
    </script>

  </body>
</html>