<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MOTLEYMEOW. Hear the artists meow.</title> 
        <link href="css/tab.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet"> 
        <link href="css/bootstrap-dialog.css" rel="stylesheet">
        <script src="js/bootstrap-dialog.js"></script>

  </head>

  <script type="text/javascript">
          var count = 0;
           function showMe (box) {
                document.getElementById(box).style.display = "block";
    }

    function showandhideMe (box, oldbox) {
                document.getElementById(oldbox).style.display = "none";
                document.getElementById(box).style.display = "block";

    }    

  </script>

<body>
     

 <% if(typeof user != 'undefined' && user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout"></div>
  <%}%> 
<% if (typeof infomessage != 'undefined' && infomessage != "") { %>
      <script type="text/javascript">
          
      </script>
  <!-- <h4 style="text-align:center"><strong> <%=infomessage%> </strong></h4> -->
        
      <div class="modal fade col-lg-12" id="successprofile" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="open-ViewDialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title" id="myModalLabel">Profile updated successfully</h4>
            </div>
            
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
              
            </div>
          </div>
        </div>
      </div>
<%}%>
<div> 

<section style="background:#efefe9;">
        <div class="container">
            <div class="row">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                     <li>
                     <a href="/home"  title="home">
                      <span class="round-tabs one">
                              <i class="glyphicon glyphicon-home"></i>
                      </span> 
                  </a></li>

                  <li class="active"><a href="/profile"  title="profile">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-user"></i>
                     </span> 
                    </a>
                 </li>
                 

                    
                     
                     </ul></div>

                     
</section>
 <div class="container">
      <div class="row">
      
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 " >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Hi, <%= user.facebook.name %></h3>
              
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src=<%= user.local.picture %> class="img-circle" style="max-height:180px;padding-bottom:0px;"> </div>

  <div class=" col-md-9 col-lg-9 "> 
    <form id = "profileUpdateForm" class="form-horizontal" role="form" action="/update" method="post">


        <fieldset>
          <legend>Your profile</legend>
            <div class="panel with-nav-tabs panel-primary">
                    <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1primary" data-toggle="tab">Basic</a></li>
                                <li><a href="#tab2primary" data-toggle="tab">On the stage</a></li>
                                
                                
                            </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1primary">
                            
                              <div class="form-group">
                                <label class="col-sm-3 control-label" for="fullname">Full Name</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Name" Maxlength="100"
                                  value = "<%= user.facebook.name %>" >
                                </div>
                              </div>
                             <div class="form-group">
                                 <label class="col-sm-3 control-label" for="email">Email address</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" name="email" id="email" placeholder="Email id" 
                                  value = "<%= user.facebook.email %>" >
                                  <p><span class="fieldNote">We currently don't do validation of emails. Please ensure you key in the right one else you are easy to miss on improtant notifications.</span></p>
                                </div>
                                  <input type="hidden" name = "userId" value = <%= user.facebook.id %> >
                              </div>
                               
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="city">Location</label>
                                <div class="col-sm-9">

                                  <select class="form-control" value="<%= user.local.city %>" name="city">
                                    <% var cities = dropdowns.alldropdowns.cities;
                                        for(var i = 0; i < cities.length; i ++) {   %> 
                                            <option value = "<%=cities[i].city%>"><%=cities[i].text%></option>
                                            <!-- <option>Bengaluru</option>
                                            <option>Chennai</option>
                                            <option>Delhi</option>
                                            <option>Mumbai</option>
                                            <option>Kolkata</option>
                                            <option value="">None of the above</option> -->
                                         <% } %>   
                                  </select> 
                                  </div>
                              </div>
                               <div class="form-group">
                                 <label class="col-sm-3 control-label" for="emailDisplay">Email privacy setting</label>
                                <div class="col-sm-9">
                                  <!-- <input type="text" class="form-control" name="city" id="card-holder-name" placeholder="Card Holder's Name" value = <%= user.local.city%>> -->
                                  <input id="emailDisplay" type="radio" name="emailDisplay" value = "ok"> OK to share
                                  <input id="emailDisplay" type="radio" name="emailDisplay" value = "nok"> Not OK to share
                                  <br><span class="fieldNote">Please confirm you are ok to share your email id to the artists to mail you regarding their audition or needs in their production. The emails are shared after authenticated by MotleyMeow.</span>
                                </div>                                
                              </div>
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="receiveNotif">Receive newsletters from us</label>
                                
                                <div class="col-sm-9">
                                  <!-- <input type="text" class="form-control" name="city" id="card-holder-name" placeholder="Card Holder's Name" value = <%= user.local.city%>> -->
                                  <input id="receiveNotif" type="radio" name="receiveNotif" value = "ok"> OK to receive mails
                                  <input id="receiveNotif" type="radio" name="receiveNotif" value = "nok"> Not OK to receive mails
                                  <br><span class="fieldNote">MotleyMeow may share some notificiations time to time on whats meowing in the city.</span>
                                </div> 
                              </div>  
                              <div class="form-group col-sm-6">
<!--                                  <label class="col-sm-3 control-label" for="Stage settings">Update your contribution on stage</label>
                                <div class="col-sm-9"> -->
                                    <a href="#tab2primary" data-toggle="tab">Update your profile "on stage"</a>
                                <!--  </div>  --> 
                              </div>
                       </div>
                        <div  class="tab-pane fade" id="tab2primary">So, how are you associated with Theatre? Do let us know so that we connect you to the ones who are looking for theatre artists like you!! 
                          <br>
                          <span class="fieldNote">We at MotleyMeow believe in the saying that, you are never too old to try out anything new, so if something interests and you have no experience but willing to learn, select it so that you stay connected.</span>
                            <div id="animesh" class="form-group" style = "margin-left:1px; margin-right=1px; ">
                                <label class="control-label">Your association or interests in theatre:</label> 
                                  <br>

                              <% var roles = dropdowns.alldropdowns.roles;
                              for(var i = 0; i < roles.length; i ++) {   %> 
                                <div class = "col-sm-6">
                                  <label class="checkbox-inline">
                                        <input type="checkbox" id="checkboxinline<%=roles[i].role%>" name="role" value="<%=roles[i].role%>" ><%=roles[i].text%>
                                  </label>
                               </div>  
                             <% } %>
                             <!--  <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineDirecting" name="role" value="Director" > Direction
                                </label>
                              </div> 
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineSound" name="role" value="Sound" > Sound
                                </label>
                               </div> 
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineLights" name="role" value="Lights" > Lights Design
                                </label>
                               </div> 
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineMusic" name="role" value="Music" > Music
                                </label>
                               </div> 
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineScriptwriting" name="role" value="Scriptwriter" > Scriptwriting
                                </label>
                              </div> 
                             <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineCostume" name="role" value="Costume" > Costume Designing
                                </label>
                               </div> 
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineSetDesign" name="role"  value="SetDesign" > Set Designing
                                </label>
                              </div>  -->
                          </div>        

                            <div class="form-group" style = "margin-left:1px; margin-right:1px; margin-bottom:5px;"><b>What languages are you most comfortable with:</b>
                              <div class="panel-body" style = "padding-top:5px; padding-bottom:5px;">
                                      <% var languages = dropdowns.alldropdowns.languages;
                                        for(var i = 0; i < languages.length; i ++) {   %> 
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="<%=languages[i]%>lang" value="<%=languages[i]%>" name="lang"/> <%=languages[i]%>
                                          </label>
                                      </div>
                                      <% } %>
                                     <!--  <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="hindilang" value="Kannada" name="lang"/> Kannada
                                          </label>
                                      </div>
       
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="marathilang" value="Marathi" name="lang"/> Marathi
                                          </label>
                                      </div>
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="tamilang" value="Tamil" name="lang"/> Tamil
                                          </label>
                                      </div>
                                     <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="bengalilang" value="Bengali" name="lang"/> Bengali
                                          </label>
                                      </div>
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="englishlang" value="English" name="lang"/> English
                                          </label>
                                      </div> -->
                                      
                                  </div> 
                               </div>     
                       </div>      
                              

                    </div>
            </div>      
                  
             
        
  
                        
                        
         
  
                  
    <div class="panel-footer">
          
         <!--  <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)"><span style="padding-left: 10px;">Please confirm you have read and will abide by our
          <a href="#myModal" role="button" class="btn" data-toggle="modal"> Community Guidelines. </a></span> -->
          
          <!-- <span class="pull-right"> -->
        <!--       <a href="/update" title="Submit the form" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-upload"></i></a> -->
              <span>While we don't force you to read our humongous <b>"Terms of use"</b> located in the footer, we at MotleyMeow assume you have read it and will abide by it.</a></span>
              <button id = "submit" type="submit" class="btn btn-primary" type="button" name="btnvalue" value="submit"><i class="glyphicon glyphicon-ok-circle">SUBMIT</i>
              </button>
              
          <!-- </span> -->
      </div>
    </fieldset>

   </form>  

         <span class="pull-right"><button id = "delete" type = "submit" title="Remove me from this site" type="button" class="btn btn-sm btn-danger" name="btnvalue" value="delete" data-toggle="modal" data-target="#deleteModal">Remove Me from this site<i class="glyphicon glyphicon-remove"></i></button>
         </span>
        <!-- <button class="btn btn-danger" >Delete Me</button> -->
   </span>  
  </div>
</div>
          </div>
                 
        </div>
      </div>
    </div>
  </div>
      <!-- footer starts-->
   <div id = "footer"></div>

<!--    <div class="modal fade col-lg-12" id="myModal" role="dialog" aria-labelledby="myModal" aria-hidden="true" class="open-ViewDialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <input type="hidden" name="vewPostTitle" id="vewPostTitle" value=""/>

              <h4 class="modal-title" id="myModalLabel">Community Guidelines</h4>
            </div>
            <div class="modal-body">

              <div class="form-horizontal">
                
                <div class="form-group">
                      <div class="col-sm-12">
                        <div >
                          <label>
                              <p id = "viewPostDesc" class="form-control-static"></p>
                                <ul>
                                    <li> Our goal is to create a connected environment where every theatre artists can request for or provide help. These Community Guidelines are here to help you understand what it means to be a member of MotleyMeow</li>
                                    <li> Don't post commercial messages. Do not promote commercial activities, including related links. Be respectful to each other. Do not vent your frustrations at other members, through any post in the site. There is zero tolerance for predatory behaviour, disparaging or defamatory comments, threats, harassment, illegal activities, invading privacy, propaganda, racial hatred, offensive cultural behaviour, vulgar or obscene content, or other inappropriate behaviour or the revealing of other members' personal information. MotleyMeow reserves the right to remove such a post and also take action against them.</li>
                                    <li>Please bring to our notice any such inappropriate content.</li>
                                    <li>We will update these Community Guidelines from time to time, so please check this page regularly.</li>
                                </ul>  
                          </label>
                        </div>
                      </div>
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>
    </div> -->  



  <div class="modal fade multi-step" id="deleteModal" role="dialog" aria-labelledby="deleteModal" class="open-ViewDialog" tabindex="-1" aria-hidden="true">  
    <form action="/deleteArtist" method="post" id="deleteForm">
      <div class="modal-dialog">
          <div class="modal-content">
              <div class="modal-header" style = "background-color: #528FCC;">
                  <h4 class="modal-title step-1" data-step="1">DELETE ME</h4>
                  <h4 class="modal-title step-2" data-step="2">DELETE ME</h4>
                   <h4 class="modal-title step-3" data-step="2">DELETE ME</h4>
              </div>
              <div class="modal-body step step-1">
                  Oops!! You seem to have clicked a wrong button. Please close this.
              </div>
              <div class="modal-body hero step step-2">
                  OK, So you have decided to leave us. But why? 
                  
                                <p id = "OptionsNotToDelete" class="form-control-static"></p>
                                  <strong>If its only a matter of time, you can choose to remain in passive mode which is, "No receieve notifications" and "No email display". This way you you won't be troubled by our emails or even mails regarding requests from artists</strong>
                                
                            
              </div>
              <div class="modal-body step step-3">
                  OK, So you insist!!
                  
                                <p id = "Delete" class="form-control-static"></p>
                                  <strong>Please tell us one reason why you want to leave this site. Be aware your posted requests will also be deleted once you delete yourself from this site!</strong>
                                  <div class="form-group">
                                          <fieldset>            

                                                <textarea placeholder="Tell us one reason what makes you leave. Its a feedback for us." class="form-control" id="deleteFeedback" name = "deletedFeedback"></textarea>            
                                                <input type="hidden" id="email" name = "email" value="<%=user.facebook.email %>">
                                                <input type="hidden" id="facebookID" name = "facebookID" value="<%=user.facebook.id %>">  
                                        
                                  </div>
                                
                            
              </div>
              <div class="modal-footer step-1" data-step="1">
                  <span class="pull-left"><button type="button" class="btn btn-primary" data-dismiss="modal">Close</button></span>
                  <span class="pull-right"><button type="button" class="btn btn-default" onclick="sendEvent('#deleteModal', 2)">Really?!?</button></span>
                  
              </div>
              <div class="modal-footer step-2" data-step="2">
                  <span class="pull-right"><button type="button" class="btn btn-primary" data-dismiss="modal">Thanks, I choose to remain passive</button></span>
                  <span class="pull-left"><button type="button" class="btn btn-default" onclick="sendEvent('#deleteModal', 3)">I insist</button></span>
              </div>
              <div class="modal-footer step-3" data-step="3">
                  <span class="pull-left"><button type="button" class="btn btn-primary" data-dismiss="modal">I choose to stay back</button></span>
                  <span class="pull-right"><button type="button" class="btn btn-default" onclick="submitForDelete()">DELETE ME NOW</button></span>
              </div>
          </div>
      </div>
    </form>
  </div>  

    
    <script src="js/jquery.js"></script>
    <script src="js/jquery-validate.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/multiple-modals.js"></script>
 
     <script type="text/javascript">

     sendEvent = function(sel, step) {
          $(sel).trigger('next.m.' + step);
      }

      $('#deleteForm').validate({
            rules: {
                deletedFeedback: {
                    required: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('success').addClass('error');
            },
            success: function (element) {
                $(element).closest('.form-group').removeClass('error').addClass('success');
            }
        });

      $('#profileUpdateForm').validate({
            rules: {
                email: {
                    required: true,
                    email: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').removeClass('success').addClass('error');
            },
            success: function (element) {
                $(element).closest('.form-group').removeClass('error').addClass('success');
            }
      });

      submitForDelete = function() {
          $('#deleteForm').submit();
      }

     $(window).ready(function(){
              $('#successprofile').modal('show');
     });

    // $(function(){
    //   disableSubmit()
    // });

    $(function () {
      $('#tab1primary a').click(function (e) {
          e.preventDefault();
          $('a[href="' + $(this).attr('href') + '"]').tab('show');
      })
    });

    // function disableSubmit() {
    //   document.getElementById("submit").disabled = true;
    // }

    // function activateButton(element) {

    //     if(element.checked) {
    //       document.getElementById("submit").disabled = false;
    //      }
    //      else  {
    //       document.getElementById("submit").disabled = true;
    //     }

    // } 
    $("#headerloggedin").load("/header");
    $("#headerloggedout").load("headerloggedout.ejs");
    $("#footer").load("footer.ejs"); 
    
    $(function(){
      $('select[value]').each(function(){
        $(this).val(this.getAttribute("value"));
     });
     
      var values_role = '<%=user.local.role%>';
      var roleInitValues = values_role.split(",");

      var values_lang = '<%=user.local.lang%>';
      var langInitValues = values_lang.split(",");
      var value_emailDisplay = '<%=user.local.emailDisplay%>'
      var value_receiveNotif = '<%=user.local.receiveNotif%>'
      
      $('input[name=role][type=checkbox]').each(function(){
        
        $(this).prop("checked", ($.inArray($(this).val(), roleInitValues) != -1));

     });

      $('input[name=lang][type=checkbox]').each(function(){
        
        $(this).prop("checked", ($.inArray($(this).val(), langInitValues) != -1));

     });

      if(value_emailDisplay == "true") $('input[name=emailDisplay][type=radio]').val(["ok"]);
      else $('input[name=emailDisplay][type=radio]').val(["nok"]);

      if(value_receiveNotif == "true") $('input[name=receiveNotif][type=radio]').val(["ok"]);
      else $('input[name=receiveNotif][type=radio]').val(["nok"]);

      
  });



      $('[id^=checkboxinline]').click(function(){
        
        if($(this).prop('checked')){
          $(this).closest('div').find('input').show();
        } else {
          $(this).closest('div').find('input.form-control').hide();
          $(this).closest('div').find('input.form-control').prop("value", null);
          $(this).closest('div').find('input.form-control').prop("placeholder", "exp. in years");
        }
      });


      $('[data-toggle="tooltip"]').tooltip();
      $(function(){
          $('a[title]').tooltip();
      });

      $('#deleteModal').on('hide.bs.modal', function () {
        $('.step-1').hide();
        $('.step-2').hide();
        $('.step-3').hide();
      })

      $('#deleteModal').on('show.bs.modal', function () {
        $('.step-1').show();
        $('.step-2').hide();
        $('.step-3').hide();
      })
      
    </script>

  </body>
</html>