<!DOCTYPE html>
<html>
  <head>
   <style>
  img { width:100%; }
</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
        <link href="css/tab.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet"> 

       
          </head>

  <script type="text/javascript">
          var count = 0;
           function showMe (box) {
                document.getElementById(box).style.display = "block";
    }

    function showandhideMe (box, oldbox) {
                document.getElementById(oldbox).style.display = "none";
                document.getElementById(box).style.display = "block";

    }
    
    
    


    

    </script>

<body>
     

 <% if(typeof user != 'undefined' && user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout"></div>
  <%}%> 

<section style="background:#efefe9;">
        <div class="container">
            <div class="row">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                     <li>
                     <a href="/home"  title="home">
                      <span class="round-tabs one">
                              <i class="glyphicon glyphicon-home"></i>
                      </span> 
                  </a></li>

                  <li class="active"><a href="/profile"  title="profile">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-user"></i>
                     </span> 
           </a>
                 </li>
                 <li><a href="#messages"  title="inbox">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-gift"></i>
                     </span> </a>
                     </li>

                     <li><a href="#settings"  title="provide feedback">
                         <span class="round-tabs four">
                              <i class="glyphicon glyphicon-comment"></i>
                         </span> 
                     </a></li>

                    
                     
                     </ul></div>

                     
</section>
 <div class="container">
      <div class="row">
      
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 " >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Hi, <%= user.facebook.name %></h3>
              
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src=<%= user.local.picture %> class="img-circle"> </div>

  <div class=" col-md-9 col-lg-9 "> 
    <form class="form-horizontal" role="form" action="/update" method="post">


        <fieldset>
          <legend>Your profile</legend>
            <div class="panel with-nav-tabs panel-primary">
                    <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1primary" data-toggle="tab">Basic</a></li>
                                <li><a href="#tab2primary" data-toggle="tab">On the stage</a></li>
                                
                                
                            </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1primary">
                            
                              <div class="form-group">
                                <label class="col-sm-3 control-label" for="fullname">Full Name</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" name="fullname" id="fullname" placeholder="Name" Maxlength="100"
                                  value = "<%= user.facebook.name %>" >
                                </div>
                              </div>
                             <div class="form-group">
                                 <label class="col-sm-3 control-label" for="email">Email address</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" name="email" id="card-holder-name" placeholder="Card Holder's Name" 
                                  value = "<%= user.facebook.email %>" readonly >
                                 </div>  
                              </div>
                               
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="city">Location</label>
                                <div class="col-sm-9">

                                  <select class="form-control" value=<%= user.local.city %> name="city">
                                            <option>Bengaluru</option>
                                            <option>Delhi</option>
                                            <option>Chennai</option>
                                            <option>Mumbai</option>
                                            <option>Kolkata</option>
                                  </select> 
                                  </div>
                              </div>
                               <div class="form-group">
                                 <label class="col-sm-3 control-label" for="emailDisplay">Email privacy setting</label>
                                <div class="col-sm-9">
                                  <!-- <input type="text" class="form-control" name="city" id="card-holder-name" placeholder="Card Holder's Name" value = <%= user.local.city%>> -->
                                  <input id="emailDisplay" type="radio" name="emailDisplay" value = "ok"> OK
                                  <input id="emailDisplay" type="radio" name="emailDisplay" value = "nok"> Not OK
                                  <br><span class="fieldNote">Please confirm you are ok to display your email id in the search results so that artists looking out for you can contact you. </span>
                                </div>                                
                              </div>
                              <div class="form-group col-sm-6">
<!--                                  <label class="col-sm-3 control-label" for="Stage settings">Update your contribution on stage</label>
                                <div class="col-sm-9"> -->
                                    <a href="#tab2primary" data-toggle="tab">Update your profile "on stage"</a>
                                <!--  </div>  --> 
                              </div>
                       </div>
                        <div  class="tab-pane fade" id="tab2primary">So, how are you associated with Theatre? Do let us know so that we connect you to the ones who are looking for theatre artists like you!! 
                          <br>
                          <span class="fieldNote">We at BuzzingArtists believe in the saying that, you are never too old to try out anything new, so if something interests and you have no experience but willing to learn, select it so that you stay connected.</span>
                            <div id="animesh" class="form-group" style = "margin-left:1px; margin-right=1px; ">
                                <label class="control-label">Your association or interests in theatre:</label> 
                                  <br>
                              <div class = "col-sm-6">
                                <label class="checkbox-inline col-sm-3">
                                      <input type="checkbox" id="checkboxinlineActing" name="role" value="Actor" > Actor
                                </label>
                             </div>  
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineDirecting" name="role" value="Director" > Director
                                </label>
                              </div> 
                               <!--<div class="col-sm-3" style= "display:block">
                                     <input type="text" class="form-control" placeholder="number of years of experience"> 
                              </div>-->
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineSound" name="role" value="Sound" > Sound
                                </label>
                               </div> 
                               <!-- <div class="col-sm-6" style= "display:none">
                                     <input type="text" class="form-control" placeholder="number of years of experience"> 
                              </div> -->
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineLights" name="role" value="Lights" > Lights
                                </label>
                               </div> 
                               <!-- <div class="col-sm-6" style= "display:none">
                                     <input type="text" class="form-control" placeholder="number of years of experience"> 
                              </div> -->
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineMusic" name="role" value="Music" > Music
                                </label>
                               </div> 
                               <!-- <div class="col-sm-6" style= "display:none">
                                     <input type="text" class="form-control" placeholder="number of years of experience"> 
                              </div> -->
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineScriptwriting" name="role" value="Scriptwriter" > Scriptwriting
                                </label>
                              </div> 
                               <!-- div class="col-sm-6" style= "display:none">
                                     <input type="text" class="form-control" placeholder="number of years of experience"> 
                              </div> -->
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineCostume" name="role" value="Costume" > Costume
                                </label>
                               </div> 
                               <!-- <div class="col-sm-6" style= "display:none">
                                     <input type="text" class="form-control" placeholder="number of years of experience"> 
                              </div> -->
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineSetDesign" name="role"  value="SetDesign" > Set Design
                                </label>
                              </div> 
                               <!-- <div class="col-sm-6" style= "display:none">
                                     <input type="text" class="form-control" placeholder="number of years of experience" id = "artisticText"> 
                              </div> -->

                           </div>        

                            <div class="form-group" style = "margin-left:1px; margin-right:1px; margin-bottom:5px;"><b>What languages are you most comfortable with:</b>
                              <div class="panel-body" style = "padding-top:5px; padding-bottom:5px;">
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="kannadalang" value="Hindi" name="lang"/> Hindi
                                          </label>
                                      </div>
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="hindilang" value="Kannada" name="lang"/> Kannada
                                          </label>
                                      </div>
       
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="marathilang" value="Marathi" name="lang"/> Marathi
                                          </label>
                                      </div>
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="tamilang" value="Tamil" name="lang"/> Tamil
                                          </label>
                                      </div>
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="telegulang" value="Telegu" name="lang"/> Telegu
                                          </label>
                                      </div>
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="bengalilang" value="Bengali" name="lang"/> Bengali
                                          </label>
                                      </div>
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="malayalamlang" value="Malayalam" name="lang"/> Malayalam
                                          </label>
                                      </div>
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="englishlang" value="English" name="lang"/> English
                                          </label>
                                      </div>
                                      
                                  </div> 
                               </div>     
                       </div>      
                              

                    </div>
            </div>      
                  
             
        
  
                        
                        
         
  
                  
    <div class="panel-footer">
          
          <input type="checkbox" name="terms" id="terms" onchange="activateButton(this)"><span style="padding-left: 10px;">Please confirm you have read and will abide by our
          <a href="#myModal" role="button" class="btn" data-toggle="modal">Terms of Service</a> and <a href="#myModal" role="button" class="btn" data-toggle="modal">Community Guidelines</a></span>
          
          <!-- <span class="pull-right"> -->
        <!--       <a href="/update" title="Submit the form" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-upload"></i></a> -->

              <button id = "submit" type="submit" class="btn btn-primary" type="button" name="btnvalue" value="submit"><i class="glyphicon glyphicon-ok-circle">SUBMIT</i>
              </button>
              <span class="pull-right"><button id = "delete" type = "submit" title="Remove me from this site" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger" 
                name="btnvalue" value="delete"><i class="glyphicon glyphicon-remove"></i></button>
              </span>  
          <!-- </span> -->
      </div>
    </fieldset>

   </form>  
</div>
</div>
          </div>
                 
        </div>
      </div>
    </div>
  </div>
      <!-- footer starts-->
   <div id = "footer"></div>

   <div class="modal fade col-lg-12" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="open-ViewDialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <input type="hidden" name="vewPostTitle" id="vewPostTitle" value=""/>

              <h4 class="modal-title" id="myModalLabel">Terms of Service  & Community Guidelines</h4>
            </div>
            <div class="modal-body">

              <div class="form-horizontal">
                <div class="form-group">
                  <label class="col-sm-4 control-label">Terms of service:</label>
                      <div class="col-sm-8">
                        <div >
                          <label>
                              <p id = "viewPostTitle" class="form-control-static"></p>
                          </label>
                        </div>
                      </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-4 control-label">Community Guidelines</label>
                      <div class="col-sm-8">
                        <div >
                          <label>
                              <p id = "viewPostDesc" class="form-control-static"></p>
                                <ul>
                                  <li> BuzzingArtists doesnt monitor posts before submissions. Hence its important that you don't post anything that is profane or if it hurts someone's religious sentiment</li>
                                  <li> You are expected to prvide correct informtion about your contribution to theatre and languages comfortability. We dont appreciate the idea of others wasting their time on you when your information itself is not correct.</li>
                                </ul>  

                          </label>
                        </div>
                      </div>
                </div>
              
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              
            </div>
          </div>
        </div>
      </div>
    
   <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
     <script type="text/javascript">
    $(function(){
      disableSubmit()
    });

    $(function () {
      $('#tab1primary a').click(function (e) {
          e.preventDefault();
          $('a[href="' + $(this).attr('href') + '"]').tab('show');
      })
    });
    function disableSubmit() {
      document.getElementById("submit").disabled = true;
    }

    function activateButton(element) {

        if(element.checked) {
          document.getElementById("submit").disabled = false;
         }
         else  {
          document.getElementById("submit").disabled = true;
        }

    } 
    $("#headerloggedin").load("header.ejs");
    $("#headerloggedout").load("headerloggedout.ejs");
    $("#footer").load("footer.ejs"); 
    
    $(function(){
      $('select[value]').each(function(){
        $(this).val(this.getAttribute("value"));
     });
     
      var values_role = '<%=user.local.role%>';
      var roleInitValues = values_role.split(",");

      var values_lang = '<%=user.local.lang%>';
      var langInitValues = values_lang.split(",");
      var value_emailDisplay = '<%=user.local.emailDisplay%>'
      
      $('input[name=role][type=checkbox]').each(function(){
        
        $(this).prop("checked", ($.inArray($(this).val(), roleInitValues) != -1));

     });

      $('input[name=lang][type=checkbox]').each(function(){
        
        $(this).prop("checked", ($.inArray($(this).val(), langInitValues) != -1));

     });

      if(value_emailDisplay == "true") $('input[name=emailDisplay][type=radio]').val(["ok"]);
      else $('input[name=emailDisplay][type=radio]').val(["nok"]);

      
  });



$('[id^=checkboxinline]').click(function(){
  
  if($(this).prop('checked')){
    $(this).closest('div').find('input').show();
  } else {
    $(this).closest('div').find('input.form-control').hide();
    $(this).closest('div').find('input.form-control').prop("value", null);
    $(this).closest('div').find('input.form-control').prop("placeholder", "exp. in years");
  }
});


    $('[data-toggle="tooltip"]').tooltip();

    


$(function(){
    $('a[title]').tooltip();
});

$('[id^=radioBtn] a').on("click", function() {
    var sel = $(this).data('title');
    var tog = $(this).data('toggle');
    
    $('#'+tog).prop('value', sel);
    
    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
});
    </script>
  </body>
</html>