<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Keywords" content="Theatre, Artists, Motleymeow, Sponsor, Events, Bengaluru, Mumbai, Delhi, Chennai, Kolkata, Drama, Naatak,
    "<%=user.facebook.name%>" />
    <meta property="og:title" content="View the artist: "<%=user.facebook.name%>">
    <meta property="og:type" content="website" />
    <% if(typeof user != 'undefined' && typeof user.local!='undefined' && typeof user.local.picture != 'undefined' && user.local.picture != "") { %>
      <meta property="og:image" content="<%=user.local.picture%>"/>
    <% } else { %>  
      <meta property="og:image" content="http://www.motleymeow.com/images/siteLogo.jpg"/>
    <% } %>  
    <title>MOTLEYMEOW. Hear the artists meow.</title> 
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/bootstrap-dialog.js"></script>
    <link href="css/lightbox.css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet">       
    <link href="css/tab.css" rel="stylesheet">
  </head>


<body>
  <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=<%=appId%>";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
     
<% getDate = function(x) {
            var retDate;
            MM = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 
              10:"October", 11:"November", 12:"December"};

            xx = x.replace(
                  /(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2}).(\d{3})Z/,
                  function($1,$2,$3,$4,$5,$6,$7, $8){                      
                      retDate= MM[parseInt($3)]+" "+$4+", "+$2
                  }
                ); 
            return retDate;
        }
%>    
 <% if(typeof sessionUser != 'undefined' && sessionUser!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout"></div>
  <%}%> 

  <div class="container">
    <div class="row">
      <div class="col-sm-4">
         <h1 class=""><%=user.facebook.name%></h1>

        <% if (typeof sessionUser != 'undefined' && sessionUser!= null && sessionUser.facebook.id == user.facebook.id) { %> 
         <% console.log("same user as logged in so can edit"); %>
         <form action="/profileEdit" method="GET">
            <button id ="edit" align="center" class="btn btn-success">Edit my profile</button>&nbsp;
          </form>
        <% } %> 
        <div>&nbsp;</div>
          <div>
            <% if(typeof sessionUser != 'undefined' && sessionUser!= null) { %>
              <a type="button" align="center" class="btn btn-primary" onclick = "shareMe();"> Share it with the world </a>
            <% } %>
          </div>
        <br> 
      </div>

      <div class="col-sm-8">

          <% if (typeof user == 'undefined' || typeof user.respect == 'undefined' || typeof user.respect.userId.length == 'undefined' || 
            user.respect.userId.length == 0) { %>
            <% if (typeof sessionUser != 'undefined' && sessionUser!= null && sessionUser.facebook.id == user.facebook.id) { %>
              <div>&nbsp;</div>
              <h4><img src="/images/Icon_Respect.gif"> EARN YOUR <b>#RESPECT</b></img></h4>
              <div>&nbsp;</div>
              <h4>Announce to the world what you do. <b><a href="#" onclick = "shareMe();return false;"> SHARE your profile on your wall </a></b>, earn #RESPECT </h4>
            <% } else { %>
              <h4>Earned<img src="/images/Icon_Respect.gif"> #RESPECT of: <text id="numRespect"><%=user.respect.userId.length%></text> artists</img>
              <div>&nbsp;</div>          
            <% } %>   
          <% } else { %>  
            <h4>Earned<img src="/images/Icon_Respect.gif"> #RESPECT of: <text id="numRespect"><%=user.respect.userId.length%></text> artists</img>
            <div>&nbsp;</div>  
            <% if (typeof sessionUser != 'undefined' && sessionUser!= null && sessionUser.facebook.id == user.facebook.id) { %>
              <span class="fieldNote">Announce to the world what you do. <b><a href="#" onclick = "shareMe();return false;"> SHARE your profile on your wall </b></a>, earn #RESPECT</span>
            <% } %>  
          <% } %>

          <div id = "showRespect">
            <% if (typeof sessionUser != 'undefined' && sessionUser!= null && sessionUser.facebook.id != user.facebook.id) { %> 
              <button id="respectButton" class="btn btn-respect col-md-12" type="button" style="font-size:18px;" onclick = "showRespect();">
                            #RESPECT
              </button>
              <span class="fieldNote">RESPECT is always earned!!. If you know the artist and respect their art, CLICK THE #RESPECT</span>
            <% } %>
          </div>

      </div>
    </div>
    <br>
    <div class="row">
        <div class="col-sm-4">
            <!--left col-->
            <ul class="list-group">
                <li class="list-group-item text-muted" contenteditable="false"><h3>The artist in me</h3></li>
                <% var isodateString = new Date(user.local.joiningDate).toISOString();
                var displayableDate = getDate(isodateString) %>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">I am</strong></span> <%=user.facebook.name%></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">joined MotleyMeow on</strong></span> <%=displayableDate%></li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Currently residing in:</strong></span> 
                  <% if(typeof user.local.city == 'undefined' || user.local.city == "") { %>
                  <p style="color:red"><b>I need to set it</b></p>
                  <% } else { %>  
                  <p><%= user.local.city %></p>
                  <% } %>

                </li>
                
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">My Contribution in theatre: </strong></span>
                          <% if(typeof user.local.role == 'undefined' || user.local.role.length == 0) { %>
                              <p style="color:red"><b>Will be updating soon</b></p>
                            <% } else { %>  
                              <p><%= user.local.role %></p>
                            <% } %>
                 
                </li>
                <li class="list-group-item text-right"><span class="pull-left"><strong class="">Languages i am comfortable in </strong></span>
                          <% if(typeof user.local.lang == 'undefined' || user.local.lang.length == 0) { %>
                              <p style="color:red"><b>To be updated</b></p>
                            <% } else { %>  
                              <p><%= user.local.lang %></p>
                            <% } %>
                 
                </li>
          </ul>
          <div class="panel panel-default">
            <div class="panel panel-default">
                <div class="panel-heading">FB profile link <i class="fa fa-link fa-1x"></i>

                </div>
                <div class="panel-body">
                  <% if(user.facebook.link) { %>
                    <a href = "<%= user.facebook.link %>" target="_blank"><img alt="User Pic" src=<%= user.local.picture %> class="img-circle" style="max-height:100px;"></a>
                  <% } else { %>
                    Not set
                  <% } %>
                </div>
                
            </div>
          </div>
        </div>    

        <!--/col-3-->
        <div class="col-sm-8" style="" contenteditable="false">
            <div class="panel panel-default">
                <div class="panel-heading">My artistic journey</div>
                <div class="panel-body"> 
                  <% if(typeof user.portfolio == 'undefined' || typeof user.portfolio.myself == 'undefined' || user.portfolio.myself == "") { %>
                    <p class="form-control-static" ><span class="fieldNote">Hold on! I am getting waxed at Madame Tussauds. My hands not free as yet to write!!</span>
                  <%} else {%>
                    <p class="form-control-static" data-linkify="this" ><%=user.portfolio.myself%>
                  <% } %>

                </div>
            </div>
            <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">My pictures</div>
                  <div class="panel-body">
                    
                    <% if(typeof user.portfolio == 'undefined' || typeof user.portfolio.myPhotos == 'undefined' || user.portfolio.myPhotos.length ==0 ) { %>
                      
                        <p class="form-control-static" ><span class="fieldNote">My portfolio shoot negatives are getting cleaned. Will be up soon!!</span>
                      
                    <% } else { 

                        console.log(" user.portfolio.myPhotos.length " + user.portfolio.myPhotos.length) %>
                        <div class="row">
                        <% for(var i = 0; i < user.portfolio.myPhotos.length; i ++ ) { %> 
                        
                          <div class="col-md-4">
                            <div class="thumbnail">
                                <a href = "/portfolio/<%=user.facebook.id%>/pictures/<%=user.portfolio.myPhotos[i]%>" data-lightbox="image" data-title="Portfolio images">
                                  <img alt="No image" src="/portfolio/<%=user.facebook.id%>/pictures/<%=user.portfolio.myPhotos[i]%>">
                                </a>  
                            </div>
                          </div>

                      <% } %>
                    </div>
                    <%} %>
                       
                  
                </div>  
             </div>
             <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">My videos</div>
                  <div class="panel-body">
                    <% if(typeof user.portfolio == 'undefined' || typeof user.portfolio.myVideos == 'undefined' || user.portfolio.myVideos.length ==0 ) { %>
                      
                         <p class="form-control-static" ><span class="fieldNote">Rolling the reel in progress. Will be shared soon!!</span>
                      
                    <% } else { 
                        for(var i = 0; i < user.portfolio.myVideos.length; i ++ ) { %> 
                          
                                <iframe src="<%=user.portfolio.myVideos[i].videoURL%>"width="560" height="315" frameborder="0" allowfullscreen></iframe> 
                                <p> <%=user.portfolio.myVideos[i].videoText%>
                                <div>&nbsp;</div>
                                <div>&nbsp;</div>
                        <% } %>
                    <%} %>
                    <!-- <iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
                            width="560" height="315" frameborder="0" allowfullscreen></iframe>
                            <iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
                            width="560" height="315" frameborder="0" allowfullscreen></iframe><iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
                            width="560" height="315" frameborder="0" allowfullscreen></iframe>  
                  </div>   -->
                </div>

             </div>   

             <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">My experiences
                </div>
                <div class="panel-body">
                    <% if(typeof user.portfolio == 'undefined' || typeof user.portfolio.myPlays == 'undefined' || user.portfolio.myPlays.length ==0 ) { %>
                      
                        <p class="form-control-static" ><span class="fieldNote">The list is big. Its getting posted one by one!</span> 
                      
                    <% } else { %>
                        <ul> <b><text style="text-align:left;"> Plays that i have been associated with</b><div>&nbsp;</div> 
                        
                        <% for(var i = 0; i < user.portfolio.myPlays.length; i ++ ) { %> 

                                <% if(typeof user.portfolio.myPlays[i].playURL != 'undefined' && user.portfolio.myPlays[i].playURL !="") { %>
                                  
                                  
                                  <% console.log("user.portfolio.myPlays[i].playContrib " + user.portfolio.myPlays[i].playContrib)
                                  if(typeof user.portfolio.myPlays[i].playContrib != 'undefined' && user.portfolio.myPlays[i].playContrib != "" && user.portfolio.myPlays[i].playContrib != null)  {%>
                                    <li> For a play  <a href="<%=user.portfolio.myPlays[i].playURL%>" target="_blank"  data-linkify="this"><%=user.portfolio.myPlays[i].playName%></a>, where i contributed as <%=user.portfolio.myPlays[i].playContrib%></li>
                                  <% } else { %>  
                                    <li> For a play  <a href="<%=user.portfolio.myPlays[i].playURL%>" target="_blank"  data-linkify="this"><%=user.portfolio.myPlays[i].playName%></a></li>
                                  <% } %>  
                                <% } else {%>
                                  <% if(typeof user.portfolio.myPlays[i].playContrib != 'undefined' && user.portfolio.myPlays[i].playContrib != "" && user.portfolio.myPlays[i].playContrib != "null")  {%>
                                  <li> For a play  <%=user.portfolio.myPlays[i].playName%> as <%=user.portfolio.myPlays[i].playContrib%></li> 
                                    
                                  <% } else { %>  
                                    <li> For a play  <%=user.portfolio.myPlays[i].playName%> as <%=user.portfolio.myPlays[i].playContrib%></li> 
                                  <% } %>
                                <% } %>  
                                  <div>&nbsp;</div>
                                  <div>&nbsp;</div>
                        <% } %>
                      </ul>
                    <%} %>
                    <!-- <iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
                            width="560" height="315" frameborder="0" allowfullscreen></iframe>
                            <iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
                            width="560" height="315" frameborder="0" allowfullscreen></iframe><iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
                            width="560" height="315" frameborder="0" allowfullscreen></iframe>  
                  </div>   -->
                </div>

             </div>   
           
           <div class="panel panel-default target">
                <div class="panel-heading" contenteditable="false">My Résumé</div>
                  <div class="panel-body">
                    <% if(typeof user.portfolio == 'undefined' || typeof user.portfolio.myResume == 'undefined' || user.portfolio.myResume == "" ) { %>
                      
                        <p class="form-control-static" ><span class="fieldNote">My book is about to be published. Hang on!</span> 
                      
                    <% } else { %>
                        <a href= "/portfolio/<%=user.facebook.id%>/resume/<%=user.portfolio.myResume%>">View it here</a>
                        
                        <div>&nbsp;</div>
                
                    <% } %>
                    <!-- <iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
                            width="560" height="315" frameborder="0" allowfullscreen></iframe>
                            <iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
                            width="560" height="315" frameborder="0" allowfullscreen></iframe><iframe src="http://www.youtube.com/embed/W7qWa52k-nE"
                            width="560" height="315" frameborder="0" allowfullscreen></iframe>  
                  </div>   -->
                </div>

             </div>   
           </div>
         </div>  

  </div>
 </div>
</div>  



<!-- footer starts-->
<div id = "footer"></div>

    <script src="js/linkified-min.js"></script>
    <script src="js/lightbox.min.js"></script>


<script>
    $("#footer").load("footer.ejs"); 
    $("#headerloggedin").load("/header");
    $("#headerloggedout").load("headerloggedout.ejs");

    function showRespect() {
          $.ajax({
            url: "/showRespect",
            type: "POST",
            data: {curUserId: <%=user.facebook.id%>},
            complete: function() {
            },
            success: function(data) {
              if(data.error) {
                // alert('Opps, something bad happened');
                return;
              }
              $('#numRespect').text(data.respectCount);
              if(data.isRemoved) {
                $('#respectButton').text("#RESPECT")
              } else {
                $('#respectButton').text("#IRESPECTYOU")
              }
              
            }
          });
    }

    function shareMe() {
          // window.open('https://www.facebook.com/dialog/share?app_id=1402977930010661&display=popup&href=http://localhost:3000&redirect_uri=http://www.motleymeow.com', 'width=800, height=400')
          FB.ui({
            method: 'share',
            // href: 'http://23.251.153.191:8080/profile?fbId=<%=user.facebook.id%>',
            href: window.location.protocol + "//" + window.location.host +'/profile?fbId=<%=user.facebook.id%>',
          }, function(response){});
}

    $(document).ready(function(){
      <% if (typeof user != 'undefined' && typeof user.respect != 'undefined' && typeof user.respect.userId.length != 'undefined' || 
            user.respect.userId.length != 0) { %>
            <% for(var i = 0; i < user.respect.userId.length; i++) { %>
              <%if(typeof sessionUser != 'undefined') {%>
                if(<%=user.respect.userId[i].fromUserId%> == <%=sessionUser.facebook.id%>) {
                    $('#respectButton').text("#IRESPECTYOU")
                }
              <%} %>  
          <%}%>   
      <%}%>    
    });  
</script>    

  </body>


</html>