<!DOCTYPE html>
<html>
  <head>
   <style>
  img { width:100%; }
</style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
        <link href="css/tab.css" rel="stylesheet">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/bootstrap.css" rel="stylesheet">

       
          </head>

  <script type="text/javascript">
          var count = 0;
           function showMe (box) {
                document.getElementById(box).style.display = "block";
    }

    function showandhideMe (box, oldbox) {
                document.getElementById(oldbox).style.display = "none";
                document.getElementById(box).style.display = "block";

    }
    
    
    


    

    </script>

<body>
     

<nav class="navbar navbar-inverse navbar-static-top no-margin">
  <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-project2-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">BuzzingArtists </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-project2-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="Landing.ejs">Home <span class="sr-only">(current)</span></a></li>
               <li ><a href="#">Update profile <span class="sr-only">(current)</span></a></li>
               <li><a href="#">Need artists? </a></li>
 
            </ul>
            <ul class="nav navbar-right navbar-nav">
                  
                  <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> <i class="glyphicon glyphicon-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                      <li><a href="/profile">Profile</a></li>
                      <li><a href="/logout">Logout</a></li>
                    </ul>
                  </li>
             </ul>     
         
        </div>
  </div>
</nav>
<section style="background:#efefe9;">
        <div class="container">
            <div class="row">
                <div class="board">
                    <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
                    <div class="board-inner">
                    <ul class="nav nav-tabs" id="myTab">
                    <div class="liner"></div>
                     <li>
                     <a href="home.html"  title="home">
                      <span class="round-tabs one">
                              <i class="glyphicon glyphicon-home"></i>
                      </span> 
                  </a></li>

                  <li class="active"><a href="profileEdit.html"  title="profile">
                     <span class="round-tabs two">
                         <i class="glyphicon glyphicon-user"></i>
                     </span> 
           </a>
                 </li>
                 <li><a href="#messages"  title="inbox">
                     <span class="round-tabs three">
                          <i class="glyphicon glyphicon-gift"></i>
                     </span> </a>
                     </li>

                     <li><a href="#settings"  title="provide feedback">
                         <span class="round-tabs four">
                              <i class="glyphicon glyphicon-comment"></i>
                         </span> 
                     </a></li>

                    
                     
                     </ul></div>

                     
</section>
 <div class="container">
      <div class="row">
      
        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 col-xs-offset-0 col-sm-offset-0 " >
   
   
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">Hi, <%= user.facebook.name %></h3>
              
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src=<%= user.local.picture %> class="img-circle"> </div>
                
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
  <div class=" col-md-9 col-lg-9 "> 
    <form class="form-horizontal" role="form" action="/update" method="post">


        <fieldset>
          <legend>Your profile</legend>
            <div class="panel with-nav-tabs panel-primary">
                    <div class="panel-heading">
                            <ul class="nav nav-tabs">
                                <li class="active"><a href="#tab1primary" data-toggle="tab">Basic</a></li>
                                <li><a href="#tab2primary" data-toggle="tab">On the stage</a></li>
                                <li><a href="#tab3primary" data-toggle="tab">Part of Audience</a></li>
                                
                            </ul>
                    </div>
                    <div class="panel-body">
                        <div class="tab-content">
                            <div class="tab-pane fade in active" id="tab1primary">
                            
                              <div class="form-group">
                                <label class="col-sm-3 control-label" for="card-holder-name">Full Name</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" name="card-holder-name" id="card-holder-name" placeholder="Card Holder's Name" value = <%= user.facebook.name %>>
                                </div>
                              </div>
                             <div class="form-group">
                                 <label class="col-sm-3 control-label" for="card-holder-name">Email address</label>
                                <div class="col-sm-9">
                                  <input type="text" class="form-control" name="email" id="card-holder-name" placeholder="Card Holder's Name" value = <%= user.facebook.email%>>
                                  <span class="fieldNote">Not made public - only used for notifications, recommendations, etc.</span>
                                  </div>
                              </div>
                               
                              <div class="form-group">
                                 <label class="col-sm-3 control-label" for="card-holder-name">Location</label>
                                <div class="col-sm-9">
                                  <!-- <input type="text" class="form-control" name="city" id="card-holder-name" placeholder="Card Holder's Name" value = <%= user.local.city%>> -->
                                  <select class="form-control" value=<%= user.local.city%> name="city">
                                            <option>Chennai</option>
                                            <option>Bengaluru</option>
                                            <option>Mumbai</option>
                                        </select> 
                                </div>
                              </div>
                              
                              
                        </div>
                        <div class="tab-pane fade" id="tab2primary">So, how are you associated with Theatre? Do let us know so that we connect you to the ones who are looking for theatre artists like you!! 
                        <br>
                        <span class="fieldNote">We at BuzzingArtists believe in the saying that, you are never too old to try out anything new, so if something interests and you have no experience but willing to learn, select it so that you stay connected.</span>
                          <div class="form-group" style = "margin-left:1px; margin-right=1px; ">
                                <label class="control-label">Your association or interests in theatre:</label> 
                                  <br>
                              <div class = "col-sm-6">
                                <label class="checkbox-inline col-sm-3">
                                      <input type="checkbox" id="checkboxinlineActing" value="Acting" > Acting
                                </label>
                             </div>  
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineDirecting" value="Directing" > Directing
                                </label>
                              </div> 
                               <!--<div class="col-sm-3" style= "display:block">
                                     <input type="text" class="form-control" placeholder="number of years of experience"> 
                              </div>-->
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineSound" value="Sound" > Sound
                                </label>
                               </div> 
                               <!-- <div class="col-sm-6" style= "display:none">
                                     <input type="text" class="form-control" placeholder="number of years of experience"> 
                              </div> -->
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineLights" value="Lights" > Lights
                                </label>
                               </div> 
                               <!-- <div class="col-sm-6" style= "display:none">
                                     <input type="text" class="form-control" placeholder="number of years of experience"> 
                              </div> -->
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineMusic" value="Music" > Music
                                </label>
                               </div> 
                               <!-- <div class="col-sm-6" style= "display:none">
                                     <input type="text" class="form-control" placeholder="number of years of experience"> 
                              </div> -->
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineScriptwriting" value="Scriptwriting" > Scriptwriting
                                </label>
                              </div> 
                               <!-- div class="col-sm-6" style= "display:none">
                                     <input type="text" class="form-control" placeholder="number of years of experience"> 
                              </div> -->
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineCostume" value="Costume" > Costume
                                </label>
                               </div> 
                               <!-- <div class="col-sm-6" style= "display:none">
                                     <input type="text" class="form-control" placeholder="number of years of experience"> 
                              </div> -->
                              <div class = "col-sm-6">
                                <label class="checkbox-inline">
                                      <input type="checkbox" id="checkboxinlineSetDesign" value="SetDesign" > Set Design
                                </label>
                              </div> 
                               <!-- <div class="col-sm-6" style= "display:none">
                                     <input type="text" class="form-control" placeholder="number of years of experience" id = "artisticText"> 
                              </div> -->

                           </div>        

                            <div class="form-group" style = "margin-left:1px; margin-right:1px; margin-bottom:5px;"><b>What languages are you most comfortable with:</b>
                              <div class="panel-body" style = "padding-top:5px; padding-bottom:5px;">
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="kannadalang" value="langcheckbox1" /> Kannada
                                          </label>
                                      </div>
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="hindilang" value="langcheckbox2" /> Hindi
                                          </label>
                                      </div>
       
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="marathilang" value="langcheckbox3" /> Marathi
                                          </label>
                                      </div>
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="tamilang" value="langcheckbox4" /> Tamil
                                          </label>
                                      </div>
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="telegulang" value="langcheckbox5" /> Telegu
                                          </label>
                                      </div>
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="bengalilang" value="langcheckbox6" /> Bengali
                                          </label>
                                      </div>
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="malayalamlang" value="langcheckbox7" /> Malayalam
                                          </label>
                                      </div>
                                      <div class = "col-sm-3">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="englishlang" value="langcheckbox8" /> English
                                          </label>
                                      </div>
                                      
                                  </div> 
                               </div>     

                               <div class="form-group" style = "margin-left:1px; margin-right=1px;">You can set your availability through which you can let us know if you are to be buzzed for requests that come your way.<br>
                                    <label for="happy" class="col-sm-7 col-md-7 control-label text-right" >Are you available currently?</label>
                                    <div class="col-sm-4 col-md-4" style="padding-top: 7px; padding-left: 20px;">
                                      <div class="input-group">
                                        <div id="radioBtn" class="btn-group">
                                          <a class="btn btn-primary btn-sm active" data-toggle="happy" data-title="Y">YES</a>
                                          <a class="btn btn-primary btn-sm notActive" data-toggle="happy" data-title="N">NO</a>
                                        </div>
                                        <input type="hidden" name="happy" id="happy">
                                      </div>
                                    </div>
                              </div>                          
                          
                       </div>      
                              

                        <div class="tab-pane fade" id="tab3primary">Without an audience, theatre won't survive! We would like to know what binds you in theatre or what doesnt bind you. This form is the most important and without it we consider our efforts incomplete. 
                          <br>
                          <label class="control-label">What kind of theatre-goer are you?:</label> 
                          </br>
                          <br>
                              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                                <div class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingOne">
                                    <h4 class="panel-title">
                                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Avid goer (watches almost every other play played in the town)
                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                                    <div class="panel-body">
                                      Excellent! Thanks a lot. Theatre certainly needs people like you. Tell us what binds you in theatre:
                                      <BR>
                                      <div class = "col-sm-6" >
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="avidgoercheckbox1" value="avidgoercheckbox1" /> Sheer love for the art
                                          </label>
                                      </div>
                                      <div class = "col-sm-6" >
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="avidgoercheckbox2" value="avidgoercheckbox2" /> Amazing production houses
                                          </label>
                                      </div>
                                      <div class = "col-sm-4" >
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="avidgoercheckbox3" value="avidgoercheckbox2" /> Brilliant scripts 
                                          </label>
                                      </div>
                                      
                                      <div class="col-sm-8">
                                           <input type="textbox" class="form-control" placeholder="Anything else that's not mentioned above" id = "avidgoertext" style="padding-right:5px;"/> 
                                           <span class="fieldNote">Use comma for separation</span>
                                      </div>  
                                        </div>
                                  </div>
                                </div>
                                <div class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingTwo">
                                    <h4 class="panel-title">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Sometimes (when someone known is performing or a famous play being played)
                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                                   <div class="panel-body">
                                      Excellent! Thanks a lot. Theatre certainly need people like you. Tell us what holds you back(apart from no time):
                                    <BR>
                                    <div class = "col-sm-6">
                                        <label class="checkbox-inline" style="padding-left:5px;">
                                            <input type="checkbox" id="frequentgoercheckbox1" value="frequentgoercheckbox1" /> Too much for the wallet
                                        </label>
                                    </div>
                                    <div class = "col-sm-6">
                                        <label class="checkbox-inline" style="padding-left:5px;">
                                            <input type="checkbox" id="frequentgoercheckbox2" value="frequentgoercheckbox2" /> Not sure what is worth watching!
                                        </label>
                                    </div>
                                    <div class = "col-sm-4">
                                        <label class="checkbox-inline" style="padding-left:5px;">
                                            <input type="checkbox" id="frequentgoercheckbox3" value="frequentgoercheckbox3" /> Distance matters
                                        </label>
                                    </div>
                                    
                                    <div class="col-sm-8">
                                     <input type="textbox" class="form-control" placeholder="Anything else that's not mentioned above" id = "freqgoertext" style="padding-right:5px;"/> 
                                     <span class="fieldNote">Use comma for separation</span>
                                    </div>                                     </div>
                                  </div>
                                </div>
                                <div class="panel panel-default">
                                  <div class="panel-heading" role="tab" id="headingThree">
                                    <h4 class="panel-title">
                                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        Never been so far
                                      </a>
                                    </h4>
                                  </div>
                                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                                    <div class="panel-body">
                                       Excellent! There is always a first time for everything. Tell us what holds you back(apart from no time):
                                      <BR>
                                      <div class = "col-sm-6">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="neverbeencheckbox1" value="neverbeencheckbox1" /> What's in it for me!
                                          </label>
                                      </div>
                                      <div class = "col-sm-6">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="neverbeencheckbox2" value="neverbeencheckbox2" /> Not aware of plays running in town
                                          </label>
                                      </div>
       
                                      <div class = "col-sm-6">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="neverbeencheckbox3" value="neverbeencheckbox3" /> Too costly!
                                          </label>
                                      </div>
                                      <div class = "col-sm-6">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="neverbeencheckbox4" value="Bneverbeencheckbox4" /> Distance and traffic matters
                                          </label>
                                      </div>
                                      <div class = "col-sm-4">
                                          <label class="checkbox-inline" style="padding-left:5px;">
                                              <input type="checkbox" id="neverbeencheckbox5" value="neverbeencheckbox5" /> Prefer movies
                                          </label>
                                      </div>
                                      
                                      <div class="col-sm-8">
                                         <input type="textbox" class="form-control" placeholder="Anything else that's not mentioned above" id = "neverbeentext" style="padding-right:5px;"/> 
                                         <span class="fieldNote">Use comma for separation</span>
                                      </div>  
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                            <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="submit" class="btn btn-default">Update</button>
                    </div>
                  </div>
                  
             </div>
        </fieldset>
   </form>
  
                        
                        
                    </div>
                </div>
            </div>
                  
                  <div class="panel-footer">
                        <a title="Mail us" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        
            <span style="padding-left: 20px;">Please ensure this abides by our <a href="/legal/terms/" target="_blank">Terms of Service</a> and <a href="/help/guidelines" target="_blank">Community Guidelines</a>.</span>
                        
                        <span class="pull-right">
                            <a href="/update" title="Submit the form" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-upload"></i></a>
                            <a title="Remove me from this site" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>
                </div>
              </div>
          </div>
                 
        </div>
      </div>
    </div>


   <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script type="text/javascript">

    $(function(){
      
      //alert($('.selectpicker').val($('.selectpicker').getAttribute("value")));
      $('select[value]').each(function(){
        $(this).val(this.getAttribute("value"));
     });
    });

$('[id^=checkboxinline]').click(function(){
  
  if($(this).prop('checked')){
    $(this).closest('div').find('input').show();
  } else {
    $(this).closest('div').find('input.form-control').hide();
    $(this).closest('div').find('input.form-control').prop("value", null);
    $(this).closest('div').find('input.form-control').prop("placeholder", "exp. in years");
  }
});


    $('[data-toggle="tooltip"]').tooltip();

    


$(function(){
    $('a[title]').tooltip();
});

$('[id^=radioBtn] a').on("click", function() {
    var sel = $(this).data('title');
    var tog = $(this).data('toggle');
    
    $('#'+tog).prop('value', sel);
    
    $('a[data-toggle="'+tog+'"]').not('[data-title="'+sel+'"]').removeClass('active').addClass('notActive');
    $('a[data-toggle="'+tog+'"][data-title="'+sel+'"]').removeClass('notActive').addClass('active');
});
    </script>
  </body>
</html>