 <% getDate = function(x) {
            var retDate;
            MM = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 
              10:"October", 11:"November", 12:"December"};

            xx = x.replace(
                  /(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2}).(\d{3})Z/,
                  function($1,$2,$3,$4,$5,$6,$7, $8){                      
                      retDate= MM[parseInt($3)]+" "+$4+", "+$2
                  }
                ); 
            return retDate;
        }
    %>

 <% console.log("citysel" + citysel);
 if (typeof citysel == 'undefined' || citysel == "") { %>
        <h2><a href = "/viewallposts">Recent posts in all locations(Click here for more)</a></h2> 
     <% } else { %>
        <h2><a href = "/viewallposts">Recent posts in <%=citysel%> (Click here for more)</a></h2>    
     <% } %>   
<table id="postsTable" class="table table-striped">
      <thead>
          <tr>
              
              <th class ="titlecol" style="text-align:left">Looking for</th>
              <th class ="contribcol" style="text-align:left">artists required</th>
              <th class ="citycol" style="text-align:left">in the city</th>
              <th class ="fbprofilecol" style="text-align:left">Details</th>
          </tr>
      </thead>
      <tbody class="searchablewe">
        
        <% 
        if(typeof postss == 'undefined' || postss.length == 0) { %>
          <tr> <td colspan="4">No posts in the last few days. Search for more posts <a href = "/viewallposts">here</a></td></tr>

        <%}  else { %>
                <% for(var i=0; i < postss.length; i++) { %>
                  <tr rel="tooltip" title="<%= postss[i].post.postDetail%>">
                  <td><%= postss[i].post.postTitle %></td>
                  <td><%= postss[i].post.role %></td>
                  <td><%= postss[i].post.city %></td>
                  
                        <td><button id ="view" name="<%=postss[i]._id%>"> <span class="glyphicon glyphicon-info-sign"></span></button></td>
                        <input id="_id<%=postss[i]._id%>" name="_id"  type="hidden" value=<%=postss[i].post.userid%>>
                        <input id="_postid<%=postss[i]._id%>"  type="hidden" value=<%=postss[i]._id%>>
                   
                  </tr>
                <% } %>
           <%}%>     
          
          
          
      </tbody>
    </table>
    <script>
    $('button[id="view"]').on('click', function(e){
     
      var buttonname = $(this).attr('name');
      var postusername = '_id' + buttonname;
      var postname = '_postid' + buttonname;
      var postval = $('#'+ postname).val();
      var postUserVal = $('#' + postusername).val();
      
     

      var form = $('#viewPost');
      $('#postid').val(postval)
      form.submit();
      
        
    });
    </script>