  <div class="panel panel-default" style="padding-left:0px;padding-right:0px;margin-bottom:0px;background-color:#F2F2F2" >          
    <nav class="navbar navbar-default" role="navigation" style="min-height:0px;">
            
            
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="background-color:#424141;">
              <ul class="nav navbar-nav" id="headerlist" style="font-size:15px;">
                      <li class="active" style="color:#ECDEDE;">Recent posts <span class="sr-only">(current)</span></li>
              </ul>        
             <!--  <ul class="nav navbar-right navbar-nav">          
                      <li style = "padding-right:10px;"><a class="btn btn-primary" href="/postarequest" style = "font-size: 14px;color: #F5F5F5; background-color: #132290;">Add a new post</a></li>
                      <li><a class="btn btn-primary" href="\profile" style = "font-size: 14px;color: #F5F5F5; background-color: #132290;"> View your profile<span class="sr-only">(current)</span></a></li>  
                      </li>
                 </ul>  
              </ul> -->
              <ul class="nav navbar-right navbar-nav" style="font-size:15px;">          
                  <li style = "padding-right:10px;"><a class="btn btn-success" href="/postarequest" style="padding:0px;color: #030303;"><span class="glyphicon glyphicon-plus"></span> <b>a new Post</b></span></a></a></li>
              </ul>
            </div>
            
    </nav>


      <div class="panel-group notification-panel">

        <% for(var i=0; i < allPosts.length; i++) { %>
            <% if (typeof allPosts[i].post.postDetail !='undefined') {
                            details = allPosts[i].post.postDetail
            }%>
            <div class = "row">
              <% var userPicture, username, fbLink 
              var oneDay = 24*60*60*1000;
              var diffDays = Math.round(Math.abs((new Date().getTime() - allPosts[i].post.date.getTime())/(oneDay))); 
              var diffDaysinStr;
              if (diffDays == 0)  {
                diffDaysinStr = "today" 
              } else if(diffDays == 1) {
                diffDaysinStr = "yesterday"
              } else { 
                diffDaysinStr = diffDays + " days ago"
               }%>
              <% if (typeof allPosts[i].post.user !='undefined' && allPosts[i].post.user.length > 0) {
                  userPicture = allPosts[i].post.user[0].local.picture
                  username = allPosts[i].post.user[0].facebook.name
                  fbLink = '/profile?fbId=' + allPosts[i].post.user[0].facebook.id
              } else {
                  userPicture = ""
                  username = ""
                  fbLink = '/profile?fbId='+ allPosts[i].post.userid
              } %>      
             
              <div class='span1'>
                <div class="post-userphoto">
                  <%if(allPosts[i].post.imagePath == "") { %>
                    <a href="/images/newsfeedImage.png" data-lightbox="image" data-title="Default image for the post">
                      <img  src="/images/newsfeedImage.png" style="height:30px; width:48px;" class="member-photo"> 
                    </a>
                  <% } else { %>
                    <a href = "uploads/<%=allPosts[i].post.imagePath%>" data-lightbox="image" data-title="post image">
                    <img  src="uploads/<%=allPosts[i].post.imagePath%>" style="height:48px; width:48px;" class="member-photo">
                  </a>
                  <% } %>
                </div> 
              </div>   
             
              <div class='span9'>
                <div class='post-text'>
                  <div class="post-title">
                        <a href="/viewpost?postid=<%=allPosts[i]._id%>" title="link to, view, or share the full post" rel="bookmark"><h4><%=allPosts[i].post.postTitle%></h4></a>  
                        <% if(allPosts[i].post.city != "") { %> 
                          <span class='user' style="font-size:11px;">in <%=allPosts[i].post.city%></span>
                        <% } else { %>
                          <span class='user' style="font-size:11px;">all over India</span>  
                        <% } %>  
                  </div>

                    <text class = "post-detail-text"><%=details%></text><a href="/viewpost?postid=<%=allPosts[i]._id%>" title="click to read the complete post">  more details</a>   
                </div>
                <div class='post-menu'>
                  <div>
                    <span class='date timeago' title='time'><%=diffDaysinStr%></span> by
                    <% if(username != "") { %>
                      <span class='user'><a href="<%=fbLink%>" title='view users profile'><%=username%></a></span>
                    <% } else { %>  
                      <span class='user'><a href="<%=fbLink%>" title='view users profile'>a member</a></span>
                    <% } %>  
                  </div>
                </div>

              </div>
            </div>
        <% } %>
        
      </div>
      <div class="panel-footer" style="background-color:#424141;padding-top:3px;padding-bottom:5px;">
                  <ul style="margin-bottom:20px;font-size:15px;list-style-type: none;"><li class= "pull-right"><a href="/viewallposts" style="color: #ECDEDE;">Older News ›</a></li></ul>
      </div>
    </div>

    <script>
  $(document).ready(function(){

    $('.post-detail-text').ellipsis({
    row: 2
    });
   });
 </script>    