<h2><a href = "/artists">Recent artists joined all locations (Browse them all)</a></h2>
    <table id="artistsTable" class="table table-striped">
      <thead>
          <tr>
              <th style="text-align:left">Name</th>
              <th style="text-align:left">Contribution in Theatre</th>
              <th style="text-align:left">City</th>
              <th style="text-align:left">View profile</th>
          </tr>
      </thead>
      <tbody class="searchable">
        
                <% if (typeof users != 'undefined') { 
                  for(var i=0; i < users.length; i++) { %>
                    <tr>
                    <td><%= users[i].facebook.name%></td>
                      <% if(typeof users[i].local.role == 'undefined' || users[i].local.role.length == 0) { %>
                            <td>Not updated yet</td>
                      <% } else { %>  
                            <td><%= users[i].local.role %></td>
                      <% } %>            

                       <% if(typeof users[i].local.city == 'undefined' || users[i].local.city == "") { %>
                            <td>Not Set</td>
                          <% } else { %>  
                            <td><%= users[i].local.city %></td>
                          <% } %> 
                        <% if(users[i].facebook.link) { %>
                            <td><a href = "<%=users[i].facebook.link%>" target="_blank"><img alt="User Pic" src=<%= users[i].local.picture %> class="img-circle" style="max-height:30px;max-width:30px"></a></td>
                        <% } else { %>
                            <td>Not shared</td>
                        <% } %>
                    
                    </tr>
                  <%}%>     
                <%}%>  
          
          
          
      </tbody>
     </table>
    