
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/dropdowns-enhancement.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/dropdowns-enhancement.js"></script>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <link href="css/style.css" rel="stylesheet">       
        <link href="css/tab.css" rel="stylesheet">
        <link rel="stylesheet" href="css/font-awesome.min.css">

  </head>
  
<body>

 <% if(typeof user != 'undefined' && user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout">
  <%}%> 

<div class = "main-container">
  <div class="col-md-12 no-margin no-padding" style = "text-align: center;">
    <h3 class = "thtrexplore">
      EXPLORE. CONNECT. CONTRIBUTE.
     </h3>
  </div>
  <div class="col-md-12 no-margin no-padding" style = "text-align: center;" id = "searchartists">
    <h3>
      ARTISTS AROUND YOU
     </h3>
     
       <div class="row">    
          <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement data-placeholder="false"> Select City</button>
              <button type ="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><input class = "citycheck" type="checkbox" id="Bengaluru" name="city" value="Bengaluru" onchange="filterme()"><label for="Bengaluru">Bengaluru</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Chennai" name="city" value="Chennai" onchange="filterme()"><label for="Chennai">Chennai</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Delhi" name="city" value="Delhi" onchange="filterme()"><label for="Delhi">Delhi</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Mumbai" name="city" value="Mumbai" onchange="filterme()"><label for="Mumbai">Mumbai</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Kolkata" name="city" value="Kolkata" onchange="filterme()"><label for="Kolkata">Kolkata</label></li>
                  
                  <input type="hidden" name="selectedcity" id="selected" value="">
              </ul>
           </div>
           <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement data-placeholder="false">Select Artists</button>
              <button type ="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><input class = "artistscheck" type="checkbox" id="Actor" name="role" value="Actor" onchange="filterme()"><label for="Actor">Actor</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Director" name="role" value="Director" onchange="filterme()"><label for="Director">Director</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Lights" name="role" value="Lights" onchange="filterme()"><label for="Lights">Lights Designer</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Sound" name="role" value="Sound" onchange="filterme()"><label for="Sound">Sound</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Music" name="role" value="Music" onchange="filterme()"><label for="Music">Music</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="Scriptwriter" name="role" value="Scriptwriter" onchange="filterme()"><label for="Scriptwriter">Scriptwriter/Translator</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="CostumeDesign" name="role" value="Costume" onchange="filterme()"><label for="Costume">Costume Designer</label></li>
                  <li><input class = "artistscheck" type="checkbox" id="SetDesign" name="role" value="SetDesign" onchange="filterme()"><label for="SetDesign">Set Design</label></li>
              </ul>
           </div>
           <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement data-placeholder="false" id="SelectAllLang">Language comfortability</button>
              <button type ="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><input class = "langcheck" type="checkbox" id="Hindi" name="lang" value="Hindi" onchange="filterme()"><label for="Hindi">Hindi</label></li>
                  <li><input class = "langcheck" type="checkbox" id="Kannada" name="lang" value="Kannada"onchange="filterme()"><label for="Kannada">Kannada</label></li>
                  <li><input class = "langcheck" type="checkbox" id="Marathi" name="lang" value="Marathi"onchange="filterme()"><label for="Marathi">Marathi</label></li>
                  <li><input class = "langcheck" type="checkbox" id="Bengali" name="lang" value="Bengali"onchange="filterme()"><label for="Bengali">Bengali</label></li>
                  <li><input class = "langcheck" type="checkbox" id="Tamil" name="lang" value="Tamil"onchange="filterme()"><label for="Tamil">Tamil</label></li>
                  <li><input class = "langcheck" type="checkbox" id="English" name="lang" value="English"onchange="filterme()"><label for="English">English</label></li>
                 
              </ul>
           </div>
           <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement onclick = "uncheckAll()">CLEAR ALL</button>
           </div>
           <div class="btn-group">
           <a class="btn btn-success" href="/contactArtists" role="button">Contact artists</a>
           </div>
      </div>
    
    <div class="row col-md-8 col-md-offset-2">
    
        
      <div>
        
        <div class="table-responsive">

                
              <table id="mytable" class="table table-bordered table-striped">
                   
                   <thead>
                      <th class ="arname">Name</th>
                      <th class ="arrole">Contribution in theatre</th>
                      <th class ="arlang">Comfortable in Language</th>
                      <th class ="arcity">City</th>
                      <!-- <th class ="aremail">Email id</th> -->
                      <th class ="arlink">FB profile link</th>
                   </thead>
                   <tbody class="searchable">
                      
                      <% users.forEach(function(user){ %>
                        <tr>
                          <td><%= user.facebook.name %></td>
                          <td><%= user.local.role %></td>
                          <td><%= user.local.lang %></td>
                          <td><%= user.local.city %></td>

                         <% if(user.facebook.link) { %>
                            <td><a href = "<%= user.facebook.link %>" target="_blank"><i class = "fa fa-facebook-square" ></i></a></td>
                          <% } else { %>
                            <td>Not set</td>
                          <% } %>
                          
                        </tr> 
                      <% }); %>
                        
                  </tbody>
              </table>
        </div>
    </div>
    
  </div>
 </div>
  

         

    <!-- footer starts-->
   <div id = "footer"></div>
    
   <!-- footer ends-->

    <script type="text/javascript">
     $("#footer").load("footer.ejs"); 
    $("#headerloggedin").load("/header");
    $("#headerloggedout").load("headerloggedout.ejs");
    var filterTable;
    $(document).ready(function(){

      filterTable = $('#mytable').DataTable();
    });


    function filterme() {
        var colCity = $('.arcity').index();
        var colRole = $('.arrole').index();
        var colLang = $('.arlang').index();
       
        //build a regex filter string with an or(|) condition
        var cities = $('input:checkbox[name="city"]:checked').map(function() {

          return '^' + this.value + '$';
        }).get().join('|');
        
        filterTable
          .columns( colCity )
          .search( cities, true, false,false )
          .draw();

        //build a regex filter string with an or(|) condition
        var roles = $('input:checkbox[name="role"]:checked').map(function() {

          return this.value + '*';
        }).get().join('|');
      
        filterTable
        .columns( colRole )
        .search( roles, true, false,false )
        .draw();

        //build a regex filter string with an or(|) condition
        var lang = $('input:checkbox[name="lang"]:checked').map(function() {
          return this.value + '*';
        }).get().join('|');
      
        filterTable
        .columns( colLang )
        .search( lang, true, false,false )
        .draw();
 
    }

    function uncheckAll(){
      //alert("here");
      $('input[type="checkbox"]:checked').prop('checked',false);
      // var x = document.getElementById("SelectAllLang"); 
      // alert("x " + x.name);
      // x.data-placeholder = "None";
      // $('input[type="button"][id="SelectAll"]').prop("data-placeholder", "Type your answer here");
      filterme();
      //$('#SelectAll').prop('data-placeholder',"Nothing");
    }
    
   $(document).ready(function(){


    });
    </script>
  </body>
</html>
