
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/dropdowns-enhancement.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="js/jquery.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/dropdowns-enhancement.js"></script>
        <link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
        <script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
        <link href="css/style.css" rel="stylesheet">       
        <link href="css/tab.css" rel="stylesheet">        
  </head>
  
<body>

 <% if(typeof user != 'undefined' && user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout">
  <%}%> 

<div class = "main-container">
  <div class="col-md-12 no-margin no-padding" style = "text-align: center;">
    <h3 class = "thtrexplore">
      EXPLORE. CONNECT. CONTRIBUTE.
     </h3>
  </div>
    <% getDate = function(x) {
            var retDate;
            MM = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 
              10:"October", 11:"November", 12:"December"};

            xx = x.replace(
                  /(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2}).(\d{3})Z/,
                  function($1,$2,$3,$4,$5,$6,$7, $8){                      
                      retDate= MM[parseInt($3)]+" "+$4+", "+$2+" - "+$5+":"+$6 + "hrs"
                  }
                ); 
            return retDate;
        }
    %>    
  <div class="col-md-12 no-margin no-padding" style = "text-align: center;" id = "searchevents">
    <h3>
      EVENTS PLAYING AROUND YOU
     </h3>
     
       <div class="row">    
         <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-placeholder="false" data-label-placement>Select City</button>
              <button type ="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><input class = "citycheck" type="checkbox" id="Bengaluru" name="city" value="Bangalore" onchange="filterme()"><label for="Bengaluru">Bengaluru</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Chennai" name="city" value="Chennai" onchange="filterme()"><label for="Chennai">Chennai</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Delhi" name="city" value="Delhi"onchange="filterme()"><label for="Delhi">Delhi</label></li>
                  <li><input class = "citycheck" type="checkbox" id="Mumbai" name="city" value="Mumbai" onchange="filterme()"><label for="Mumbai">Mumbai</label></li>
                  
                  <!-- <input type="hidden" name="selectedcity" id="selected" value=""> -->
              </ul>
           </div>

            <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement data-placeholder="false">Select Category</button>
              <button type ="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><input class = "categorycheck" type="checkbox" id="Play" name="category" value="Play" onchange="filterme()"><label for="Play">Play</label></li>
                  <li><input class = "categorycheck" type="checkbox" id="Workshop" name="category" value="Workshop" onchange="filterme()"><label for="Workshop">Workshop</label></li>
                  <li><input class = "categorycheck" type="checkbox" id="Others" name="category" value="Others" onchange="filterme()"><label for="Others">Others</label></li>
                  
                  
                  
              </ul>
           </div>

<!--            <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-placeholder="false" data-label-placement>Select Date</button>
              <button type ="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle"><span class="caret"></span></button>
                <ul class="dropdown-menu">
                  <li><input class = "dateCheck" type="checkbox" id="date" name="date" value="one"><label for="Actor">Within one week</label></li>
                  <li><input class = "dateCheck" type="checkbox" id="date" name="date" value="twoweeks"><label for="Lights">Within two weeks</label></li>
                  <li><input class = "dateCheck" type="checkbox" id="date" name="date" value="onemonth"><label for="Lights">Within this month</label></li>
                  
              </ul>
           </div> -->
           <div class="btn-group">
              <button type ="button" class="btn btn-primary" data-label-placement onclick = "uncheckAll()">CLEAR ALL</button>
           </div>
           

      </div>
    
    <div class="row col-md-8 col-md-offset-2">
    
        
      <div>
        
        <div class="table-responsive">

                
              <table id="mytable" class="table table-bordered table-striped">
                   
                   <thead>
                      <th class = "ename">Event Name</th>
                      <th>Event cover</th>
                       <th class = "eDate">Starting date</th>
                       <th class = "cityname">City</th>
                       <th class = "categoryname">Kind of Event </th>
                   </thead>
                   <tbody class="searchable">
                      
                      <% for(var i =0 ; i < allEvents.length; i++) { %>
                                <% var isodateString = new Date(allEvents[i].date).toISOString();
                                    var displayableDate = getDate(isodateString) %>
                                <tr>
                                  <td style = "width:250px; font-size:15px;">
                                    <a href = "<%=allEvents[i].link%>" target="_blank">
                                      <div>
                                        <strong><%= allEvents[i].title %></strong>
                                      </div>
                                    </a>
                                  </td>
                                  <td><img src="<%=allEvents[i].eventcover%>" border=0  alt="First slide" alt="Image" class="img-responsive imagedisplay"></img></td>
                                  <td  style = "width:250px; font-size:20px;"><%=displayableDate%></td>
                                  <td  style = "width:250px; font-size:20px;"><%= allEvents[i].city %></td>
                                  <td  style = "width:250px; font-size:20px;"><%= allEvents[i].eventCategory %></td>
                                </tr> 
                      <% } %>
                        
                  </tbody>
              </table>
        </div>
    </div>
  </div>
 </div>
  

         

    <!-- footer starts-->
   <div id = "footer"></div>
    
   <!-- footer ends-->

    <script type="text/javascript">
     $("#footer").load("footer.ejs"); 
    $("#headerloggedin").load("header.ejs");
    $("#headerloggedout").load("headerloggedout.ejs");
    var filterTable;
    $(document).ready(function(){

         filterTable = $('#mytable').DataTable( {
        "order": [[ $('.eDate').index(), "asc" ]]
        } );
        
    });

    function filterme() {
        var colCity = $('.cityname').index();
        var colCategory = $('.categoryname').index();

        //build a regex filter string with an or(|) condition
        var cities = $('input:checkbox[name="city"]:checked').map(function() {
          return '^' + this.value + '$';
        }).get().join('|');
      
        filterTable
        .columns( colCity )
        .search( cities, true, false,false )
        .draw();


        //build a regex filter string with an or(|) condition
        var categories = $('input:checkbox[name="category"]:checked').map(function() {
          return '^' + this.value + '$';
        }).get().join('|');
      
        filterTable
        .columns( colCategory )
        .search( categories, true, false,false )
        .draw();

    }

  

  


        
  $(document).ready(function(){
            $('[id=searchevents]').on("keyup", function(){
              
                        
                        var rex = new RegExp($(this).val(), 'i');
                        $('.searchable tr').hide();
                        $('.searchable tr').filter(function () {
                            return rex.test($(this).text());
                        }).show();
                    //})
            });
         }(jQuery));


    $(function(){
      $('select[value]').each(function(){
        $(this).val(this.getAttribute("value"));
     });
     
      

});
function uncheckAll(){

  $('input[type="checkbox"]:checked').prop('checked',false);

  filterme();

}
    </script>
  </body>
</html>
