<!doctype html>
<html>
<head lang="en">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	
	<title>Forum</title> 
	<meta name="description" content="Be a part of the buzz." />	    
	<meta name="keywords" content="themes, bootstrap, free, templates, bootstrap 3, freebie,">
	<meta property="og:title" content="MotleyMeow">
	<link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link href="css/tab.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet"> 

    <style>
	    .links {
			margin-top:20px;
		} 
	</style>
		
</head>


<% getDate = function(x) {
            var retDate;
            MM = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June", 7:"July", 8:"August", 9:"September", 
              10:"October", 11:"November", 12:"December"};

            xx = x.replace(
                  /(\d{4})-(\d{2})-(\d{2})T(\d{2}):(\d{2}):(\d{2}).(\d{3})Z/,
                  function($1,$2,$3,$4,$5,$6,$7, $8){                      
                      retDate= MM[parseInt($3)]+" "+$4+", "+$2
                  }
                ); 
            return retDate;
        }
%>  

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1381852852123169&version=v2.0";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
	<% if(typeof user != 'undefined' && user!=null) { %>
	<div id = "headerloggedin"> </div>
	<% } else { %>
	<div id = "headerloggedout"></div>
	<%}%> 

	<div class="main-container">
	
	    <div class="container">
	    	<div class="row">
	    		<div class="col-md-12">

	    			<div class="links">
    					<h4><a href="/forum">Forum</a> / <a href="/viewCategory?category=<%=category%>"><%=categoryName%></a> / </h4>
    				</div>

	    			<div class="title">
		    			<h3><%= thread.thread.topic %></h3>
		    		</div>

		    		<div class="threadBody">
		    			<div class="pull-left" style="padding-right:20px">
                        	  <% if(typeof thread.thread.authorPic == 'undefined' || thread.thread.authorPic == "") { %>
				                <i class="fa fa-user" style="font-size:50px;color:rgba(59, 0, 0, 0.76)"></i>
				              <% } else { %> 
				                <img src=<%=thread.thread.authorPic %> class="img-circle" style="max-height:50px;">
				              <% } %>
                    	</div>

                    	<!-- Date/Time -->
		                <% var isodateString = thread.thread.date.toISOString();
		                var displayableDate = getDate(isodateString) + " "  + thread.thread.date.toLocaleTimeString() + " hrs"%>
		    			<p><small><b><a href="/profile?fbId=<%=thread.thread.authorid%>"><%= thread.thread.authorName%></a></b> posted on <%=displayableDate%> </small></p>
		    			<p><%= thread.thread.tbody %></p>
		    		</div>

		    		<hr>

		    		<div class="well">
	                    <h4>Leave a Response:</h4>
	                    
	                       <div class="form-group">
		                    <div class="col-md-12">
		                        <textarea class="form-control" id="rbody" name="rbody" placeholder="Compose reply" style="min-height:25px;"></textarea>
		                    </div>
				           </div>

			                <div class="form-group">
		                  	 	 <input type="hidden" name="threadid" id="threadid" value="<%= thread._id %>"/>
		                	</div>
		                	<div>&nbsp;</div>
	                        <!-- <div class="form-group">
				                    <div class="col-md-6"> -->
				            <button type="button" value="Submit" class="btn btn-primary" id="send_btn" onclick="createReply()">Your response</button>
				                    <!-- </div>
				            </div> -->

				            
                   
                	</div>

		    		<div class="fb-like " data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
		    		<hr>

		    		<div class="replies" id="forumReplies">
		    			<h4><small>REPLIES</small></h4>
		    			
		    		</div>
	    		</div>
	    	</div>
	    </div>
	</div>


	<div id = "footer"></div>
</body>

	<script type="text/javascript" src="js/jquery.noty.packaged.min.js"></script>

<script>
$(document).ready(function(e) {
  $('#forumReplies').load("displayForumReplies?forumid=" + $("#threadid").val());
});
		$("#footer").load("footer.ejs"); 
		$("#headerloggedin").load("/header");
		$("#headerloggedout").load("headerloggedout.ejs");

		function createReply(){
	          console.log("This is executing");

	          var data = {
	            threadid: $("#threadid").val(),
	            rbody: $("#rbody").val()
	          };

	          $.ajax({ 
	           url: "/createReply",
	           type: "POST",
	           cache: false, 
	           async: true,
	           data: data,

	           success: function(data){
	              console.log('Success!');
	              //closeModal();
	              
	              if(data.completed == "OK") {
	               console.log("OK");
	               $("#forumReplies").load("displayForumReplies?forumid=" + $("#threadid").val());
	               //closeModal();
	               //document.getElementById(divallthreads).innerHTML = "";               
                   //location.reload();
                   //generateNotificationLayout('success', 'topCenter', 'Reply added');
	 
	                //generateNotificationLayout('success', 'topCenter', 'Post published');
	              } else {
	                console.log("NOK");
	                //generateNotificationLayout('error', 'topCenter', 'Some problem with your reply. Check fields again');
	                //generateNotificationLayout('error', 'topCenter', 'Some problem with your post. Check fields again');
	              }
	           }, 

	           error: function(jqXHR, textStatus, err){
	               console.log('text status '+textStatus+', err '+err);
	               //generateNotificationLayout('error', 'topCenter', 'Some problem with your email. Check fields again');
	           }
	        }); //end of ajax function 
	  	} //end of savePostData function

	  	function closeModal()  //function to close modal 
	    {
	       $("#newReplyModal").modal('hide');
	    }

	    function generateNotificationLayout(type, layout, text) {
	       var n = noty({ layout: layout,
	        type: type,
	        text: text, // can be html or string
	        dismissQueue: true, // If you want to use queue feature set this true
	        template: '<div class="noty_message"><span class="noty_text" style="font-size:16px;color:rgb(0, 96, 244);"></span><div class="noty_close"></div></div>',
	        animation: {
	            open: {height: 'toggle'}, // or Animate.css class names like: 'animated bounceInLeft'
	            close: {height: 'toggle'}, // or Animate.css class names like: 'animated bounceOutLeft'
	            easing: 'swing',
	            speed: 500 // opening & closing animation speed
	        },
	        timeout: false, // delay for closing event. Set false for sticky notifications
	        force: false, // adds notification to the beginning of queue when set to true
	        modal: false,
	        maxVisible: 10, // you can set max visible notification for dismissQueue true option,
	        killer: false, // for close all notifications before show
	         // ['click', 'button', 'hover', 'backdrop'] // backdrop click will close all notifications
	        callback: {
	            onShow: function() {
	            },
	            afterShow: function() {},
	            onClose: function() {
	                    
	            },
	            afterClose: function() {},
	            onCloseClick: function() {}
	        },
	        closeWith: ["click","button"],
	        buttons: [
	            {addClass: 'btn btn-primary', text: 'DONE', onClick: function($noty) {
	              $noty.close();
	                }
	             }
	            
	          ]
	      });
	    }   
	</script>

</html>