
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Posted on MotleyMeow: <%=post.post.postTitle%>">
    <meta property="og:type" content="website" />
    <meta property="og:image" content="http://www.motleymeow.com/images/siteLogo.jpg"/>
    <title></title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/style.css" rel="stylesheet">       
        <link href="css/tab.css" rel="stylesheet">
        
        <link href="css/lightbox.css" rel="stylesheet" />
  </head>
  <script type="text/javascript">
 
    $(document).ready(function() {
        var panels = $('.user-infos');
        var panelsButton = $('.dropdown-user');
        panels.hide();

        //Click dropdown
        panelsButton.click(function() {
            //get data-for attribute
            var dataFor = $(this).attr('data-for');
            var idFor = $(dataFor);

            //current button
            var currentButton = $(this);
            idFor.slideToggle(400, function() {
                //Completed slidetoggle
                if(idFor.is(':visible'))
                {
                    currentButton.html('<i class="glyphicon glyphicon-chevron-up text-muted"></i>');
                }
                else
                {
                    currentButton.html('<i class="glyphicon glyphicon-chevron-down text-muted"></i>');
                }
            })
        });
      });
   </script> 
  <body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1381852852123169&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<% if(typeof user != 'undefined' && user!=null) { %>
 <div id = "headerloggedin"> </div>
 <% } else { %>
 <div id = "headerloggedout"></div>
<%}%> 
   
<div class = "main-container">



  <div class="col-md-12 no-margin no-padding">
    
    

    <!-- Form Name -->
    <legend style="text-align:center">VIEW THE POST YOU REQUESTED</legend>

    <!-- Textarea -->
    <!--<div class="col-xs-6 col-sm-6 col-md-6">-->
    <div class="form-horizontal">
      <div class="form-group">
        <label class="col-sm-4 control-label">Post Title:</label>
            <div class="col-sm-8">
              <div >
                <label >
                    <p class="form-control-static"><%=post.post.postTitle%></p>
                </label>
              </div>
            </div>
         </label>
       </div>     
     <div class="form-group">
        <label class="col-sm-4 control-label">Post Detail:</label>
            <div class="col-sm-8">
              <div >
                <label style="text-align:left">
                    <p class="form-control-static" data-linkify="this" ><%=post.post.postDetail%></p>
                </label>
              </div>
            </div>
         </label>
     </div> 
     <div class="form-group">
        <label class="col-sm-4 control-label">For the cities:</label>
            <div class="col-sm-8">
              <div >
                <label>
                    <p class="form-control-static"><%=post.post.city%></p>
                </label>
              </div>
            </div>
         </label>
       </div>     
      
     <div class="form-group">
        <label class="col-sm-4 control-label">Need for:</label>
            <div class="col-sm-8">
              <div >
                <label>
                    <p class="form-control-static"><%=post.post.role%></p>
                </label>
              </div>
            </div>
         </label>
      </div>     
      
     <div class="form-group">
        <label class="col-sm-4 control-label">Comfortable in languages:</label>
            <div class="col-sm-8">
              <div >
                <label>
                    <p class="form-control-static"><%=post.post.lang%></p>
                </label>
              </div>
            </div>
         </label>
      </div>     
        
      <div class="form-group">
        <label class="col-sm-4 control-label">Posted by(email id)</label>
            <div class="col-sm-8">
              <div>
                <label>
                  <% if (typeof user != 'undefined' && user!= null) { %> 
                      <% if (user.local.emailDisplay) { %>
                          <p class="form-control-static"><%=user.facebook.email%></p>
                       <%} else { %>
                          <p class="form-control-static">Not shared</p>
                       <%} %>
                  <% } else { %>
                            <p class="form-control-static">Not viewable</p>
                  <% } %>        
                </label>
              </div>
            </div>
         </label>
       </div> 

       <div class="form-group">
        <label class="col-sm-4 control-label">Image attached to it</label>
            <div class="col-sm-8">
              <% if(typeof post!= 'undefined' && typeof post.post != 'undefined' && post.post.imagePath != "") { %>
              <div>
                  <a href="uploads/<%=post.post.imagePath%>" data-lightbox="IMAGE(Something is wrong)" data-title="Post's image"><img src="uploads/<%=post.post.imagePath%>" alt="No Image set" style="max-width:400px;max-height:400px"/></a>
              </div>
              <% } else { %>    
              <div>
                  <img src="" alt="No image posted"/></a>
              </div>
              <% } %>
            </div>
         </label>
       </div>         
       
       <div class="control-group" style="text-align:center">
       
          <% if (typeof sessionUser != 'undefined' && sessionUser!= null && sessionUser.facebook.id == user.facebook.id) { %> 
             <% console.log("same user as logged in so can edit"); %>
             <form action="/editpost" method="POST">
                <button id ="edit" align="center" class="btn btn-primary"><span class="glyphicon glyphicon-pencil">EDIT</button>&nbsp;
                <input name="_id"  type="hidden" value=<%=user._id%>>
                <input name="_postid"  type="hidden" value=<%=post._id%>>
                
            </form>
            <% } %>  
            &nbsp;&nbsp;<br/>
            <input action="action" type="button" value="Back" onclick="history.go(-1);" class="btn btn-primary">
        
        
    
      </div>        
  </div> 

<div class="fb-like col-md-8 col-md-offset-4" data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<div class="fb-comments col-md-8 col-md-offset-4" data-href="www.motleymeow.com/viewpost?postid=<%=post._id%>" data-layout="standard" data-numposts="5" data-colorscheme="light"></div>                      
    </fieldset>



  </div>  
</div>    

         

   <!-- footer starts-->
    <!-- footer starts-->
   <div id = "footer"></div>
    
   <!-- footer ends-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
   <script src="js/jquery.js"></script>
   <script src="js/lightbox.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/linkified-min.js"></script>
    <script type="text/javascript">
    $("#footer").load("footer.ejs"); 
    $("#headerloggedin").load("/header");
    $("#headerloggedout").load("headerloggedout.ejs");
    </script>
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-61218032-1', 'auto');
    ga('send', 'pageview');

    </script>
  </body>
</html>
